<section class="about-project">
    <div class="about-project__site-container">
        <div class="about-project__top">
            <h2 class="about-project__heading">
                О проекте
            </h2>
            <a href="#" class="about-project__download-link">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#download"></use>
                </svg>
                Скачать презентацию
            </a>
        </div>
        <div class="about-project__bottom">
            <a href="#" class="about-project__video-wrapper">
                <img src="/images/about-project/video.webp" alt="" class="about-project__video-preview">
                <div class="about-project__video-play">
                    <svg width="100" height="101" viewBox="0 0 100 101" xmlns="http://www.w3.org/2000/svg">
                        <path d="M57.334 49.832L46.6673 57.832L46.6673 41.832L57.334 49.832Z" />
                    </svg>
                </div>
            </a>
            <div class="about-project__text-content">
                <div class="about-project__text">
                    <div class="about-project__text-default">
                        <p>
                            Жилой комплекс &laquo;Южный парк&raquo;&nbsp;&mdash; это комплекс жилых домов внутри
                            большой лесопарковой
                            территории. В&nbsp;проекте: две школы, одна из&nbsp;которых на&nbsp;1100 мест уже
                            открыта и&nbsp;новая
                            на&nbsp;1700 мест с&nbsp;крытым 25-ти метровым бассейном; 6&nbsp;детских садов
                            на&nbsp;1740&nbsp;мест, один
                            из&nbsp;которых уже открыт; две поликлиники: детская и&nbsp;взрослая
                            на&nbsp;500&nbsp;посещений. Теннисные
                            корты для профессиональных и&nbsp;любительских занятий; Сквер и&nbsp;пешеходный
                            бульвар
                            &laquo;Круг
                            семьи&raquo; 1,5&nbsp;км; Многоуровневый паркинг с&nbsp;коммерцией
                            на&nbsp;1&nbsp;этаже;
                            Собственный фитнес-центр,
                            кафе, рестораны, магазины, салоны красоты и&nbsp;многое другое.
                        </p>

                    </div>
                    <div class="about-project__text-hidden">
                        <p>
                            Жилой комплекс &laquo;Южный парк&raquo;&nbsp;&mdash; это комплекс жилых домов внутри
                            большой лесопарковой
                            территории. В&nbsp;проекте: две школы, одна из&nbsp;которых на&nbsp;1100 мест уже
                            открыта и&nbsp;новая
                            на&nbsp;1700 мест с&nbsp;крытым 25-ти метровым бассейном; 6&nbsp;детских садов
                            на&nbsp;1740&nbsp;мест, один
                            из&nbsp;которых уже открыт; две поликлиники: детская и&nbsp;взрослая
                            на&nbsp;500&nbsp;посещений. Теннисные
                            корты для профессиональных и&nbsp;любительских занятий; Сквер и&nbsp;пешеходный
                            бульвар
                            &laquo;Круг
                            семьи&raquo; 1,5&nbsp;км; Многоуровневый паркинг с&nbsp;коммерцией
                            на&nbsp;1&nbsp;этаже;
                            Собственный фитнес-центр,
                            кафе, рестораны, магазины, салоны красоты и&nbsp;многое другое.
                        </p>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam ab adipisci
                            aperiam necessitatibus neque explicabo quasi debitis, quae quibusdam eligendi eos.
                            Mollitia iusto sapiente totam, maxime odio libero corrupti incidunt fuga vel rem
                            sit, deleniti id nisi, eius ipsa inventore!
                        </p>
                    </div>
                    <button class="about-project__text-toggle">
                        <span>
                            Развернуть описание
                        </span>
                        <span>
                            Свернуть описание
                        </span>

                        <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L0.469669 4.53033C0.176776 4.23744 0.176776 3.76256 0.469669 3.46967C0.762563 3.17678 1.23744 3.17678 1.53033 3.46967L7 8.93934L12.4697 3.46967C12.7626 3.17678 13.2374 3.17678 13.5303 3.46967C13.8232 3.76256 13.8232 4.23744 13.5303 4.53033L7.53033 10.5303Z" />
                        </svg>
                    </button>
                </div>
                <ul class="about-project__numbers-list">
                    <li class="about-project__numbers-list-item">
                        <a href="#" class="about-project__numbers-card">
                            <div class="about-project__numbers-card-amount">
                                3
                            </div>
                            <div class="about-project__numbers-card-text">
                                очереди строительства
                            </div>
                        </a>
                    </li>
                    <li class="about-project__numbers-list-item">
                        <a href="#" class="about-project__numbers-card">
                            <div class="about-project__numbers-card-amount">
                                240
                            </div>
                            <div class="about-project__numbers-card-text">
                                человек населения в ЖК
                            </div>
                        </a>
                    </li>
                    <li class="about-project__numbers-list-item">
                        <a href="#" class="about-project__numbers-card">
                            <div class="about-project__numbers-card-amount">
                                560
                            </div>
                            <div class="about-project__numbers-card-text">
                                машиномест в паркинге
                            </div>
                        </a>
                    </li>
                    <li class="about-project__numbers-list-item">
                        <a href="#" class="about-project__numbers-card">
                            <div class="about-project__numbers-card-amount">
                                400
                            </div>
                            <div class="about-project__numbers-card-text">
                                мест в муниципальном детском саду
                            </div>
                        </a>
                    </li>
                    <li class="about-project__numbers-list-item">
                        <a href="#" class="about-project__numbers-card">
                            <div class="about-project__numbers-card-amount">
                                2800
                            </div>
                            <div class="about-project__numbers-card-text">

                                мест в двух школах
                            </div>
                        </a>
                    </li>
                    <li class="about-project__numbers-list-item">
                        <a href="#" class="about-project__numbers-card">
                            <div class="about-project__numbers-card-amount">
                                2
                            </div>
                            <div class="about-project__numbers-card-text">
                                года - срок реализации
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-project__modal">
        <div class="about-project__modal-inner">
            <div class="about-project__modal-video-wrapper">
                <button class="about-project__modal-close" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#modal-close"></use>
                    </svg>
                </button>
                <div class="about-project__modal-player">


                    <video playsinline="" controls="">
                        <source src="/video/sample-video.mp4" type="video/mp4" />

                    </video>
                </div>
            </div>
        </div>
    </div>
</section>