<section class="about-company">
    <div class="about-company__content">
        <div class="about-company__top-row">
            <h2 class="about-company__heading">
                О компании
            </h2>
            <div class="about-company__text">
                <div class="about-company__text-default">
                    <p>
                        Компания <b>#Суварcтроит</b> является республиканским лидером по темпам строительства объектов.
                        Добиться
                        стабильно высоких темпов удается благодаря использованию инновационных технологий управления
                        стройкой и грамотному подходу к финансированию проектов. При этом качество выполняемых работ
                        соответствует всем требованиям.
                    </p>
                    <p>
                        <b>#Суварстроит</b> – крупнейший застройщик Казани, более двадцати лет сохраняющий позиции
                        флагмана
                        рынка
                        недвижимости Татарстана. Объекты, возведенные компанией, уже давно стали неотъемлемой частью
                        имиджа
                        Казани, как современной столицы мирового масштаба, среди них:
                    </p>
                </div>
                <div class="about-company__text-hidden">
                    <p>
                        Компания <b>#Суварcтроит</b> является республиканским лидером по темпам строительства объектов.
                        Добиться
                        стабильно высоких темпов удается благодаря использованию инновационных технологий управления
                        стройкой и грамотному подходу к финансированию проектов. При этом качество выполняемых работ
                        соответствует всем требованиям.
                    </p>
                    <p>
                        <b>#Суварстроит</b> – крупнейший застройщик Казани, более двадцати лет сохраняющий позиции
                        флагмана
                        рынка
                        недвижимости Татарстана. Объекты, возведенные компанией, уже давно стали неотъемлемой частью
                        имиджа
                        Казани, как современной столицы мирового масштаба, среди них:
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam itaque omnis quam esse,
                        voluptas totam corporis, iste recusandae est, dignissimos sit reprehenderit nisi unde hic
                        eveniet repellat ad soluta commodi.
                    </p>
                </div>

                <button class="about-company__text-toggle">
                    <span>
                        Развернуть описание
                    </span>
                    <span>
                        Свернуть описание
                    </span>

                    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L0.469669 4.53033C0.176776 4.23744 0.176776 3.76256 0.469669 3.46967C0.762563 3.17678 1.23744 3.17678 1.53033 3.46967L7 8.93934L12.4697 3.46967C12.7626 3.17678 13.2374 3.17678 13.5303 3.46967C13.8232 3.76256 13.8232 4.23744 13.5303 4.53033L7.53033 10.5303Z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="about-company__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="about-company__slider-card">
                            <div class="about-company__slider-card-image-wrapper">
                                <img src="/images/about-company/1.webp" alt="" class="about-company__slider-card-image">
                            </div>
                            <div class="about-company__slider-card-text">
                                Гостинично-развлекательный центр «Казанская Ривьера»
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-company__slider-card">
                            <div class="about-company__slider-card-image-wrapper">
                                <img src="/images/about-company/2.webp" alt="" class="about-company__slider-card-image">
                            </div>
                            <div class="about-company__slider-card-text">
                                Торгово-офисный центр бизнес-класса «Сувар Плаза»
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-company__slider-card">
                            <div class="about-company__slider-card-image-wrapper">
                                <img src="/images/about-company/3.webp" alt="" class="about-company__slider-card-image">
                            </div>
                            <div class="about-company__slider-card-text">
                                Торгово-развлекательный центр «Сити Центр»
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-company__slider-card">
                            <div class="about-company__slider-card-image-wrapper">
                                <img src="/images/about-company/4.webp" alt="" class="about-company__slider-card-image">
                            </div>
                            <div class="about-company__slider-card-text">
                                ЖК «Суворовский»
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-company__slider-card">
                            <div class="about-company__slider-card-image-wrapper">
                                <img src="/images/about-company/1.webp" alt="" class="about-company__slider-card-image">
                            </div>
                            <div class="about-company__slider-card-text">
                                Гостинично-развлекательный центр «Казанская Ривьера»
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-company__slider-card">
                            <div class="about-company__slider-card-image-wrapper">
                                <img src="/images/about-company/2.webp" alt="" class="about-company__slider-card-image">
                            </div>
                            <div class="about-company__slider-card-text">
                                Торгово-офисный центр бизнес-класса «Сувар Плаза»
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-company__slider-card">
                            <div class="about-company__slider-card-image-wrapper">
                                <img src="/images/about-company/3.webp" alt="" class="about-company__slider-card-image">
                            </div>
                            <div class="about-company__slider-card-text">
                                Торгово-развлекательный центр «Сити Центр»
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-company__slider-card">
                            <div class="about-company__slider-card-image-wrapper">
                                <img src="/images/about-company/4.webp" alt="" class="about-company__slider-card-image">
                            </div>
                            <div class="about-company__slider-card-text">
                                ЖК «Суворовский»
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>