<section class="about-numbers">
    <div class="about-numbers__content">
        <div class="about-numbers__row">
            <h2 class="about-numbers__heading">
                В цифрах
            </h2>
            <ul class="about-numbers__list">
                <li class="about-numbers__list-item">
                    <div class="about-numbers__card">
                        <div class="about-numbers__card-amount">
                            15 000
                        </div>
                        <div class="about-numbers__card-text">
                            семей выбрали дома Суварстроит
                        </div>
                    </div>
                </li>
                <li class="about-numbers__list-item">
                    <div class="about-numbers__card">
                        <div class="about-numbers__card-amount">
                            25
                        </div>
                        <div class="about-numbers__card-text">
                            лет на рынке
                        </div>
                    </div>
                </li>
                <li class="about-numbers__list-item">
                    <div class="about-numbers__card">
                        <div class="about-numbers__card-amount">
                            300
                        </div>
                        <div class="about-numbers__card-text">
                            сотрудников в компании
                        </div>
                    </div>
                </li>
                <li class="about-numbers__list-item">
                    <div class="about-numbers__card">
                        <div class="about-numbers__card-amount">
                            9
                        </div>
                        <div class="about-numbers__card-text">
                            проектов в реализации
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>