<section class="about-history">
    <div class="about-history__content">
        <h2 class="about-history__heading">
            История компании
        </h2>
        <div class="about-history__slider-row">
            <div class="about-history__image-slider">

                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-history__image-slider-card">
                                <div class="about-history__image-slider-card-image-container">
                                    <img src="/images/about-history.webp" alt=""
                                        class="about-history__image-slider-card-image">
                                </div>
                                <div class="about-history__image-slider-card-title">
                                    Южный парк
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__image-slider-card">
                                <div class="about-history__image-slider-card-image-container">
                                    <img src="/images/about-company/1.webp" alt=""
                                        class="about-history__image-slider-card-image">
                                </div>
                                <div class="about-history__image-slider-card-title">
                                    Южный парк
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__image-slider-card">
                                <div class="about-history__image-slider-card-image-container">
                                    <img src="/images/about-history.webp" alt=""
                                        class="about-history__image-slider-card-image">
                                </div>
                                <div class="about-history__image-slider-card-title">
                                    Южный парк
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__image-slider-card">
                                <div class="about-history__image-slider-card-image-container">
                                    <img src="/images/about-company/1.webp" alt=""
                                        class="about-history__image-slider-card-image">
                                </div>
                                <div class="about-history__image-slider-card-title">
                                    Южный парк
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__image-slider-card">
                                <div class="about-history__image-slider-card-image-container">
                                    <img src="/images/about-history.webp" alt=""
                                        class="about-history__image-slider-card-image">
                                </div>
                                <div class="about-history__image-slider-card-title">
                                    Южный парк
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-history__arrows">
                    <button class="about-history__arrow about-history__arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="about-history__arrow about-history__arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="about-history__slider-fraction-pagination">
                    <div class="about-history__slider-fraction-pagination-inner">

                    </div>
                    <div class="about-history__slider-fraction-pagination-progress">
                        <svg width="100" height="100" viewBox="0 0 100 100" vector-effect="non-scaling-stroke">
                            <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                            </circle>
                            <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                            </circle>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="about-history__text-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-history__text-slider-card">
                                <div class="about-history__text-slider-card-text">
                                    Официальный год основания компании “Суварстроит”. Подготовка к выходу на рынок
                                    недвижимости. Поиск площадок, разработка проектов, построение финмоделей, выбор
                                    партнеров и поставщиков, создание фирменного стиля, маркетинг и позиционирование.
                                </div>
                                <div class="about-history__text-slider-card-volume">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#volume"></use>
                                    </svg>
                                    Объем строительства: 20 000 м2
                                </div>
                                <div class="about-history__text-slider-card-year">
                                    2020
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__text-slider-card">
                                <div class="about-history__text-slider-card-text">
                                    Официальный год основания компании “Суварстроит”. Подготовка к выходу на рынок
                                    недвижимости. Поиск площадок, разработка проектов, построение финмоделей, выбор
                                    партнеров и поставщиков, создание фирменного стиля, маркетинг и позиционирование.
                                </div>
                                <div class="about-history__text-slider-card-volume">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#volume"></use>
                                    </svg>
                                    Объем строительства: 20 000 м2
                                </div>
                                <div class="about-history__text-slider-card-year">
                                    2021
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__text-slider-card">
                                <div class="about-history__text-slider-card-text">
                                    Официальный год основания компании “Суварстроит”. Подготовка к выходу на рынок
                                    недвижимости. Поиск площадок, разработка проектов, построение финмоделей, выбор
                                    партнеров и поставщиков, создание фирменного стиля, маркетинг и позиционирование.
                                </div>
                                <div class="about-history__text-slider-card-volume">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#volume"></use>
                                    </svg>
                                    Объем строительства: 20 000 м2
                                </div>
                                <div class="about-history__text-slider-card-year">
                                    2022
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__text-slider-card">
                                <div class="about-history__text-slider-card-text">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, doloremque!
                                </div>
                                <div class="about-history__text-slider-card-volume">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#volume"></use>
                                    </svg>
                                    Объем строительства: 20 000 м2
                                </div>
                                <div class="about-history__text-slider-card-year">
                                    2023
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__text-slider-card">
                                <div class="about-history__text-slider-card-text">
                                    Официальный год основания компании “Суварстроит”. Подготовка к выходу на рынок
                                    недвижимости. Поиск площадок, разработка проектов, построение финмоделей, выбор
                                    партнеров и поставщиков, создание фирменного стиля, маркетинг и позиционирование.
                                </div>
                                <div class="about-history__text-slider-card-volume">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#volume"></use>
                                    </svg>
                                    Объем строительства: 20 000 м2
                                </div>
                                <div class="about-history__text-slider-card-year">
                                    2024
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-history__thumbs">
            <div class="about-history__thumbs-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-history__thumbs-slider-card">
                                2020
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__thumbs-slider-card">
                                2021
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__thumbs-slider-card">
                                2022
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__thumbs-slider-card">
                                2023
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__thumbs-slider-card">
                                2024
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>