<section class="about-intro">
    <div class="about-intro__top">
        <div class="about-intro__top-content">
            <div class="about-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#" class="active">
                    О компании
                </a>
            </div>
            <div class="about-intro__top-row">
                <img src="/images/light-logo.svg" alt="" class="about-intro__top-logo">
                <div class="about-intro__top-text">
                    Крупнейший застройщик Татарстана, один из лидеров по объёмам застройки среди девелоперов на рынке
                    недвижимости Казани
                </div>
            </div>
        </div>
    </div>
    <div class="about-intro__bottom">
        <div class="about-intro__bottom-image-wrapper">
            <img src="/images/about-intro.webp" alt="" class="about-intro__bottom-image">
        </div>
        <a href="#" class="about-intro__video-link">
            Смотреть видео
        </a>
    </div>
    <div class="about-intro__modal">
        <div class="about-intro__modal-inner">
            <div class="about-intro__modal-video-wrapper">
                <button class="about-intro__modal-close" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#modal-close"></use>
                    </svg>
                </button>
                <div class="about-intro__iframe-wrapper">
                    <iframe src="https://vk.com/video_ext.php?oid=-129992179&id=456240434&hd=2&autoplay=0" width="1280"
                        height="720"
                        allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                        frameborder="0" allowfullscreen="" loading="lazy"></iframe>
                </div>


            </div>
        </div>
    </div>
</section>