<section class="about-team">
    <div class="about-team__content">
        <div class="about-team__top-row">
            <h2 class="about-team__heading">
                Команда
            </h2>
            <div class="about-team__arrows">
                <button class="about-team__arrow about-team__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="about-team__arrow about-team__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="about-team__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="about-team__slider-card">
                            <div class="about-team__slider-card-image-container">
                                <img src="/images/about-team/1.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <div class="about-team__slider-card-title">
                                Васильев Олег Олегович
                            </div>
                            <div class="about-team__slider-card-role">
                                Генеральный директор
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-team__slider-card">
                            <div class="about-team__slider-card-image-container">
                                <img src="/images/about-team/2.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <div class="about-team__slider-card-title">
                                Кудряшова Евгения Михайловна
                            </div>
                            <div class="about-team__slider-card-role">
                                Заместитель генерального директора
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-team__slider-card">
                            <div class="about-team__slider-card-image-container">
                                <img src="/images/about-team/3.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <div class="about-team__slider-card-title">
                                Заместитель генерального директора
                            </div>
                            <div class="about-team__slider-card-role">
                                Директор по подбору персонала
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-team__slider-card">
                            <div class="about-team__slider-card-image-container">
                                <img src="/images/about-team/4.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <div class="about-team__slider-card-title">
                                Директор по подбору персонала
                            </div>
                            <div class="about-team__slider-card-role">
                                Ипотечный брокер
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-team__slider-card">
                            <div class="about-team__slider-card-image-container">
                                <img src="/images/about-team/1.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <div class="about-team__slider-card-title">
                                Васильев Олег Олегович
                            </div>
                            <div class="about-team__slider-card-role">
                                Генеральный директор
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-team__slider-card">
                            <div class="about-team__slider-card-image-container">
                                <img src="/images/about-team/2.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <div class="about-team__slider-card-title">
                                Кудряшова Евгения Михайловна
                            </div>
                            <div class="about-team__slider-card-role">
                                Заместитель генерального директора
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-team__slider-card">
                            <div class="about-team__slider-card-image-container">
                                <img src="/images/about-team/3.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <div class="about-team__slider-card-title">
                                Заместитель генерального директора
                            </div>
                            <div class="about-team__slider-card-role">
                                Директор по подбору персонала
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about-team__slider-card">
                            <div class="about-team__slider-card-image-container">
                                <img src="/images/about-team/4.webp" alt="" class="about-team__slider-card-image">
                            </div>
                            <div class="about-team__slider-card-title">
                                Директор по подбору персонала
                            </div>
                            <div class="about-team__slider-card-role">
                                Ипотечный брокер
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>