<section class="about-intro">
    <div class="about-intro__top">
        <div class="about-intro__top-content">
            <div class="about-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#" class="active">
                    О компании
                </a>
            </div>
            <div class="about-intro__top-row">
                <img src="/images/light-logo.svg" alt="" class="about-intro__top-logo">
                <div class="about-intro__top-text">
                    Крупнейший застройщик Татарстана, один из лидеров по объёмам застройки среди девелоперов на рынке
                    недвижимости Казани
                </div>
            </div>
        </div>
    </div>
    <div class="about-intro__bottom">
        <div class="about-intro__bottom-image-wrapper">
            <img src="/images/about-intro.webp" alt="" class="about-intro__bottom-image">
        </div>
        <a href="#" class="about-intro__video-link">
            Смотреть видео
        </a>
    </div>

</section>