<section class="advantages" id="advantages">
    <div class="advantages__content">
        <h2 class="advantages__heading">
            Преимущества
        </h2>
        <div class="advantages__tabs-nav">
            <ul class="advantages__tabs-nav-list">
                <li class="advantages__tabs-nav-list-item">
                    <a href="#" class="advantages__tabs-nav-link active">
                        Архитектура
                    </a>
                </li>
                <li class="advantages__tabs-nav-list-item">
                    <a href="#" class="advantages__tabs-nav-link">
                        Благоустройство
                    </a>
                </li>
                <li class="advantages__tabs-nav-list-item">
                    <a href="#" class="advantages__tabs-nav-link">
                        Входные группы
                    </a>
                </li>
                <li class="advantages__tabs-nav-list-item">
                    <a href="#" class="advantages__tabs-nav-link">
                        Квартиры
                    </a>
                </li>
                <li class="advantages__tabs-nav-list-item">
                    <a href="#" class="advantages__tabs-nav-link">
                        Умный дом
                    </a>
                </li>
                <li class="advantages__tabs-nav-list-item">
                    <a href="#" class="advantages__tabs-nav-link">
                        Редкие форматы
                    </a>
                </li>
            </ul>
        </div>
        <div class="advantages__tabs">
            <div class="advantages__tabs-item">
                <div class="advantages__card">
                    <div class="advantages__card-left-col">
                        <h3 class="advantages__card-title">
                            ЖК в окружении леса с уникальным садом и парком
                        </h3>
                        <ul class="advantages__card-list">
                            <li class="advantages__card-list-item">
                                Экологически чистый район
                            </li>
                            <li class="advantages__card-list-item">
                                Комфортное проживание в окружении природы, не отказываясь от преимуществ городской
                                инфраструктуры
                            </li>
                            <li class="advantages__card-list-item">
                                Единственный в столице проект на стрелке двух рек
                            </li>
                            <li class="advantages__card-list-item">
                                Заповедная территория закрыта для нового строительства – ничто не испортит вид из окон,
                                никто не потревожит ваш покой
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                        </ul>
                        <a href="#" class="advantages__card-link">
                            Получить консультацию
                        </a>
                    </div>
                    <div class="advantages__card-right-col">

                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="advantages__card-slider-pagination"></div>

                            <div class="advantages__card-slider-fraction-pagination">
                                <div class="advantages__card-slider-fraction-pagination-inner">

                                </div>
                                <div class="advantages__card-slider-fraction-pagination-progress">
                                    <svg width="100" height="100" viewBox="0 0 100 100"
                                        vector-effect="non-scaling-stroke">
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                    </svg>
                                </div>
                            </div>
                            <button class="advantages__card-fullscreen-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#fullscreen"></use>
                                </svg>
                            </button>
                            <div class="advantages__card-slider__arrows">
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantages__tabs-item">
                <div class="advantages__card">
                    <div class="advantages__card-left-col">
                        <h3 class="advantages__card-title">
                            ЖК в окружении леса с уникальным садом и парком
                        </h3>
                        <ul class="advantages__card-list">
                            <li class="advantages__card-list-item">
                                Экологически чистый район
                            </li>
                            <li class="advantages__card-list-item">
                                Комфортное проживание в окружении природы, не отказываясь от преимуществ городской
                                инфраструктуры
                            </li>
                            <li class="advantages__card-list-item">
                                Единственный в столице проект на стрелке двух рек
                            </li>
                            <li class="advantages__card-list-item">
                                Заповедная территория закрыта для нового строительства – ничто не испортит вид из окон,
                                никто не потревожит ваш покой
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                        </ul>
                        <a href="#" class="advantages__card-link">
                            Получить консультацию
                        </a>
                    </div>
                    <div class="advantages__card-right-col">

                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="advantages__card-slider-pagination"></div>

                            <div class="advantages__card-slider-fraction-pagination">
                                <div class="advantages__card-slider-fraction-pagination-inner">

                                </div>
                                <div class="advantages__card-slider-fraction-pagination-progress">
                                    <svg width="100" height="100" viewBox="0 0 100 100"
                                        vector-effect="non-scaling-stroke">
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                    </svg>
                                </div>
                            </div>
                            <button class="advantages__card-fullscreen-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#fullscreen"></use>
                                </svg>
                            </button>
                            <div class="advantages__card-slider__arrows">
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantages__tabs-item">
                <div class="advantages__card">
                    <div class="advantages__card-left-col">
                        <h3 class="advantages__card-title">
                            ЖК в окружении леса с уникальным садом и парком
                        </h3>
                        <ul class="advantages__card-list">
                            <li class="advantages__card-list-item">
                                Экологически чистый район
                            </li>
                            <li class="advantages__card-list-item">
                                Комфортное проживание в окружении природы, не отказываясь от преимуществ городской
                                инфраструктуры
                            </li>
                            <li class="advantages__card-list-item">
                                Единственный в столице проект на стрелке двух рек
                            </li>
                            <li class="advantages__card-list-item">
                                Заповедная территория закрыта для нового строительства – ничто не испортит вид из окон,
                                никто не потревожит ваш покой
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                        </ul>
                        <a href="#" class="advantages__card-link">
                            Получить консультацию
                        </a>
                    </div>
                    <div class="advantages__card-right-col">

                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="advantages__card-slider-pagination"></div>

                            <div class="advantages__card-slider-fraction-pagination">
                                <div class="advantages__card-slider-fraction-pagination-inner">

                                </div>
                                <div class="advantages__card-slider-fraction-pagination-progress">
                                    <svg width="100" height="100" viewBox="0 0 100 100"
                                        vector-effect="non-scaling-stroke">
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                    </svg>
                                </div>
                            </div>
                            <button class="advantages__card-fullscreen-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#fullscreen"></use>
                                </svg>
                            </button>
                            <div class="advantages__card-slider__arrows">
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantages__tabs-item">
                <div class="advantages__card">
                    <div class="advantages__card-left-col">
                        <h3 class="advantages__card-title">
                            ЖК в окружении леса с уникальным садом и парком
                        </h3>
                        <ul class="advantages__card-list">
                            <li class="advantages__card-list-item">
                                Экологически чистый район
                            </li>
                            <li class="advantages__card-list-item">
                                Комфортное проживание в окружении природы, не отказываясь от преимуществ городской
                                инфраструктуры
                            </li>
                            <li class="advantages__card-list-item">
                                Единственный в столице проект на стрелке двух рек
                            </li>
                            <li class="advantages__card-list-item">
                                Заповедная территория закрыта для нового строительства – ничто не испортит вид из окон,
                                никто не потревожит ваш покой
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                        </ul>
                        <a href="#" class="advantages__card-link">
                            Получить консультацию
                        </a>
                    </div>
                    <div class="advantages__card-right-col">

                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="advantages__card-slider-pagination"></div>

                            <div class="advantages__card-slider-fraction-pagination">
                                <div class="advantages__card-slider-fraction-pagination-inner">

                                </div>
                                <div class="advantages__card-slider-fraction-pagination-progress">
                                    <svg width="100" height="100" viewBox="0 0 100 100"
                                        vector-effect="non-scaling-stroke">
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                    </svg>
                                </div>
                            </div>
                            <button class="advantages__card-fullscreen-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#fullscreen"></use>
                                </svg>
                            </button>
                            <div class="advantages__card-slider__arrows">
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantages__tabs-item">
                <div class="advantages__card">
                    <div class="advantages__card-left-col">
                        <h3 class="advantages__card-title">
                            ЖК в окружении леса с уникальным садом и парком
                        </h3>
                        <ul class="advantages__card-list">
                            <li class="advantages__card-list-item">
                                Экологически чистый район
                            </li>
                            <li class="advantages__card-list-item">
                                Комфортное проживание в окружении природы, не отказываясь от преимуществ городской
                                инфраструктуры
                            </li>
                            <li class="advantages__card-list-item">
                                Единственный в столице проект на стрелке двух рек
                            </li>
                            <li class="advantages__card-list-item">
                                Заповедная территория закрыта для нового строительства – ничто не испортит вид из окон,
                                никто не потревожит ваш покой
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                        </ul>
                        <a href="#" class="advantages__card-link">
                            Получить консультацию
                        </a>
                    </div>
                    <div class="advantages__card-right-col">

                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="advantages__card-slider-pagination"></div>

                            <div class="advantages__card-slider-fraction-pagination">
                                <div class="advantages__card-slider-fraction-pagination-inner">

                                </div>
                                <div class="advantages__card-slider-fraction-pagination-progress">
                                    <svg width="100" height="100" viewBox="0 0 100 100"
                                        vector-effect="non-scaling-stroke">
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                    </svg>
                                </div>
                            </div>
                            <button class="advantages__card-fullscreen-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#fullscreen"></use>
                                </svg>
                            </button>
                            <div class="advantages__card-slider__arrows">
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantages__tabs-item">
                <div class="advantages__card">
                    <div class="advantages__card-left-col">
                        <h3 class="advantages__card-title">
                            ЖК в окружении леса с уникальным садом и парком
                        </h3>
                        <ul class="advantages__card-list">
                            <li class="advantages__card-list-item">
                                Экологически чистый район
                            </li>
                            <li class="advantages__card-list-item">
                                Комфортное проживание в окружении природы, не отказываясь от преимуществ городской
                                инфраструктуры
                            </li>
                            <li class="advantages__card-list-item">
                                Единственный в столице проект на стрелке двух рек
                            </li>
                            <li class="advantages__card-list-item">
                                Заповедная территория закрыта для нового строительства – ничто не испортит вид из окон,
                                никто не потревожит ваш покой
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                            <li class="advantages__card-list-item">
                                Живописные панорамы на речные просторы и зелень Строгинской поймы
                            </li>
                        </ul>
                        <a href="#" class="advantages__card-link">
                            Получить консультацию
                        </a>
                    </div>
                    <div class="advantages__card-right-col">

                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-item">
                                            <img src="/images/advantages.webp" alt=""
                                                class="advantages__card-slider-item-image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="advantages__card-slider-pagination"></div>

                            <div class="advantages__card-slider-fraction-pagination">
                                <div class="advantages__card-slider-fraction-pagination-inner">

                                </div>
                                <div class="advantages__card-slider-fraction-pagination-progress">
                                    <svg width="100" height="100" viewBox="0 0 100 100"
                                        vector-effect="non-scaling-stroke">
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                                        </circle>
                                    </svg>
                                </div>
                            </div>
                            <button class="advantages__card-fullscreen-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#fullscreen"></use>
                                </svg>
                            </button>
                            <div class="advantages__card-slider__arrows">
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="advantages__card-slider__arrow advantages__card-slider__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>