<section class="awards">
    <div class="awards__content">
        <div class="awards__top-row">
            <h2 class="awards__heading">
                Награды
            </h2>
            <div class="awards__arrows">
                <button class="awards__arrow awards__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="awards__arrow awards__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="awards__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-top-row">
                                    <h3 class="awards__slider-card-title">
                                        Urban Awards
                                    </h3>
                                    <div class="awards__slider-card-year">
                                        2023
                                    </div>
                                </div>
                                <div class="awards__slider-card-image-container">
                                    <img src="/images/awards/1.webp" alt="" class="awards__slider-card-image">
                                </div>
                                <div class="awards__slider-card-text">
                                    Лучший жилой квартал и благоустройство территории
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-top-row">
                                    <h3 class="awards__slider-card-title">
                                        «Времена года» – Инфраструктура №1
                                    </h3>
                                    <div class="awards__slider-card-year">
                                        2023
                                    </div>
                                </div>
                                <div class="awards__slider-card-image-container">
                                    <img src="/images/awards/2.webp" alt="" class="awards__slider-card-image">
                                </div>
                                <div class="awards__slider-card-text">
                                    Лучший жилой квартал и благоустройство территории
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-top-row">
                                    <h3 class="awards__slider-card-title">
                                        Green Property Awards
                                    </h3>
                                    <div class="awards__slider-card-year">
                                        2023
                                    </div>
                                </div>
                                <div class="awards__slider-card-image-container">
                                    <img src="/images/awards/3.webp" alt="" class="awards__slider-card-image">
                                </div>
                                <div class="awards__slider-card-text">
                                    Лучший жилой комплекс повышенной этажности
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-top-row">
                                    <h3 class="awards__slider-card-title">
                                        Лучший ЖК
                                    </h3>
                                    <div class="awards__slider-card-year">
                                        2023
                                    </div>
                                </div>
                                <div class="awards__slider-card-image-container">
                                    <img src="/images/awards/4.webp" alt="" class="awards__slider-card-image">
                                </div>
                                <div class="awards__slider-card-text">
                                    Ежегодная премия — лучший ЖК премиум-класса
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-top-row">
                                    <h3 class="awards__slider-card-title">
                                        Urban Awards
                                    </h3>
                                    <div class="awards__slider-card-year">
                                        2023
                                    </div>
                                </div>
                                <div class="awards__slider-card-image-container">
                                    <img src="/images/awards/1.webp" alt="" class="awards__slider-card-image">
                                </div>
                                <div class="awards__slider-card-text">
                                    Лучший жилой квартал и благоустройство территории
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>