<div class="bottom-nav">
    <div class="bottom-nav__content">
        <ul class="bottom-nav__list">
            <li class="bottom-nav__list-item">
                <a href="#" class="bottom-nav__link active">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#bottom-nav-1"></use>
                    </svg>
                    Проекты
                </a>
            </li>
            <li class="bottom-nav__list-item">
                <a href="#" class="bottom-nav__link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#bottom-nav-2"></use>
                    </svg>
                    Квартиры
                </a>
            </li>
            <li class="bottom-nav__list-item">
                <a href="#" class="bottom-nav__link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#bottom-nav-3"></use>
                    </svg>
                    Избранное
                </a>
            </li>
            <li class="bottom-nav__list-item">
                <a href="#" class="bottom-nav__link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#bottom-nav-4"></use>
                    </svg>
                    Ипотека
                </a>
            </li>
        </ul>
    </div>
</div>