<div class="boxrooms-project__plan">
  <ul class="boxrooms-project__plan-list" >
    <li class="boxrooms-project__plan-list-item" id="house-h1">
      <h3 class="boxrooms-project__plan-list-item-title">Дом 1.7</h3>
      <div class="boxrooms-project__plan-mobile">
        <div class="boxrooms-project__plan-short-filters">
          <div class="boxrooms-project__plan-short-filters-fields">
            <div class="filters__form-field">
              <div class="filters__form-select" data-placeholder="Все секции">
                <button class="filters__form-select-btn" type="button">
                                        <span class="filters__form-select-btn-text js-btn-text">
                                        </span>
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#select-arrow"></use>
                  </svg>
                </button>
                <div class="filters__form-select-dropdown">
                  <div class="filters__form-select-dropdown-inner">
                    <button class="filters__form-reset-btn js-reset-btn" type="button">
                      Все Секции
                      <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#reset-btn"></use>
                      </svg>
                    </button>
                    <ul class="filters__form-select-list">
                      <li class="filters__form-select-list-item">
                        <label class="filters__form-select-radio">
                          <input type="checkbox" name="date"
                                 class="filters__form-select-radio-input" value="1 Секция">
                          <span class="filters__form-select-radio-mark"></span>
                          <span class="filters__form-select-radio-text">
                                                           1 Секция
                                                        </span>
                        </label>
                      </li>
                      <li class="filters__form-select-list-item">
                        <label class="filters__form-select-radio">
                          <input type="checkbox" name="date"
                                 class="filters__form-select-radio-input" value="Секция: 2">
                          <span class="filters__form-select-radio-mark"></span>
                          <span class="filters__form-select-radio-text">
                                                            2 Секция
                                                        </span>
                        </label>
                      </li>
                      <li class="filters__form-select-list-item">
                        <label class="filters__form-select-radio">
                          <input type="checkbox" name="date"
                                 class="filters__form-select-radio-input" value="Секция: 3">
                          <span class="filters__form-select-radio-mark"></span>
                          <span class="filters__form-select-radio-text">
                                                            3 Секция
                                                        </span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxrooms-project__sort boxrooms-project__plan-sort">
              <button class="boxrooms-project__sort-btn" type="button">
                                <span class="boxrooms-project__sort-btn-text js-btn-text">
                                   -1 уровень
                                </span>
                <svg width="14" height="14" aria-hidden="true">
                  <use xlink:href="#select-arrow"></use>
                </svg>
              </button>
              <div class="filters__form-select-dropdown">
                <div class="filters__form-select-dropdown-inner">
                  <ul class="filters__form-select-list">
                    <li class="filters__form-select-list-item">
                      <label class="filters__form-select-radio">
                        <input type="radio" name="sort2" class="filters__form-select-radio-input"
                               value="-1 уровень" checked="" data-id="switch-h1f1">
                        <span class="filters__form-select-radio-mark"></span>
                        <span class="filters__form-select-radio-text">
                                              -1 уровень
                                          </span>
                      </label>
                    </li>
                    <li class="filters__form-select-list-item">
                      <label class="filters__form-select-radio">
                        <input type="radio" name="sort2" class="filters__form-select-radio-input"
                               value="-2 уровень" data-id="switch-h1f2">
                        <span class="filters__form-select-radio-mark"></span>
                        <span class="filters__form-select-radio-text">
                                              -2 уровень
                                          </span>
                      </label>
                    </li>
                    <li class="filters__form-select-list-item">
                      <label class="filters__form-select-radio">
                        <input type="radio" name="sort2" class="filters__form-select-radio-input"
                               value="-3 уровень" data-id="switch-h1f3">
                        <span class="filters__form-select-radio-mark"></span>
                        <span class="filters__form-select-radio-text">
                                              -3 уровень
                                          </span>
                      </label>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxrooms-project__plan-card">
        <div class="boxrooms-project__plan-card-header">
          <div class="boxrooms-project__plan-short-filters">
            <div class="boxrooms-project__plan-short-filters-fields">
              <div class="filters__form-field">
                <div class="filters__form-select" data-placeholder="Все секции">
                  <button class="filters__form-select-btn" type="button">
                                        <span class="filters__form-select-btn-text js-btn-text">
                                        </span>
                    <svg width="14" height="14" aria-hidden="true">
                      <use xlink:href="#select-arrow"></use>
                    </svg>
                  </button>
                  <div class="filters__form-select-dropdown">
                    <div class="filters__form-select-dropdown-inner">
                      <button class="filters__form-reset-btn js-reset-btn" type="button">
                        Все Секции
                        <svg width="14" height="14" aria-hidden="true">
                          <use xlink:href="#reset-btn"></use>
                        </svg>
                      </button>
                      <ul class="filters__form-select-list">
                        <li class="filters__form-select-list-item">
                          <label class="filters__form-select-radio">
                            <input type="checkbox" name="date"
                                   class="filters__form-select-radio-input" value="Секция: 1">
                            <span class="filters__form-select-radio-mark"></span>
                            <span class="filters__form-select-radio-text">
                                                            Секция: 1
                                                        </span>
                          </label>
                        </li>
                        <li class="filters__form-select-list-item">
                          <label class="filters__form-select-radio">
                            <input type="checkbox" name="date"
                                   class="filters__form-select-radio-input" value="Секция: 2">
                            <span class="filters__form-select-radio-mark"></span>
                            <span class="filters__form-select-radio-text">
                                                            Секция: 2
                                                        </span>
                          </label>
                        </li>
                        <li class="filters__form-select-list-item">
                          <label class="filters__form-select-radio">
                            <input type="checkbox" name="date"
                                   class="filters__form-select-radio-input" value="Секция: 3">
                            <span class="filters__form-select-radio-mark"></span>
                            <span class="filters__form-select-radio-text">
                                                            Секция: 3
                                                        </span>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="boxrooms-project__plan-status">
            <div class="boxrooms-project__plan-status-free">
              Свободно
            </div>
            <div class="boxrooms-project__plan-status-reserved">
              Занято
            </div>
            <div class="boxrooms-project__plan-status-selected">
              Выбранное место
            </div>
          </div>
        </div>
        <div class="boxrooms-project__plan-card-bottom">
          <div class="boxrooms-project__plan-card-floor-switch">
            <ul class="boxrooms-project__plan-card-floor-switch-list">
              <li class="boxrooms-project__plan-card-floor-switch-item active" id="switch-h1f1">
                <span class="boxrooms-project__plan-card-floor-switch-round">-1</span>
                <span class="boxrooms-project__plan-card-floor-switch-text">23 места свободно</span>
              </li>
              <li class="boxrooms-project__plan-card-floor-switch-item" id="switch-h1f2">
                <span class="boxrooms-project__plan-card-floor-switch-round">-2</span>
                <span class="boxrooms-project__plan-card-floor-switch-text">23 места свободно</span>
              </li>
              <li class="boxrooms-project__plan-card-floor-switch-item" id="switch-h1f3">
                <span class="boxrooms-project__plan-card-floor-switch-round">-3</span>
                <span class="boxrooms-project__plan-card-floor-switch-text">23 места свободно</span>
              </li>
            </ul>
          </div>
          <div class="boxrooms-project__plan-card-floor active" id="floor-h1f1">
            <div class="boxrooms-project__plan-card-content-wrapper">
              <div class="boxrooms-project__zoom" >
                <div class="boxrooms-project__image-wrapper" >
                  <div class="boxrooms-project__image-draggable">
                    <img src="/images/parking/parking4.png" width="1915" height="1192" class="boxrooms-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="boxrooms-project__svg">
                      <g>
                        <polygon id="marker-h1f1m1" points="983,126 1071,126 1071,251 983,251" fill="#CF000C" fill-opacity="0.2" />
                        <polygon id="marker-h1f1m2" points="830,126 920,126 920,251 830,251" fill="#CF000C" fill-opacity="0.2" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="boxrooms-project__plan-popups">
                <div class="boxrooms-project__plan-popup" id="popup-h1f1m1">
                  <div class="boxrooms-project__plan-popup-inner">
                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
                <div class="boxrooms-project__plan-popup" id="popup-h1f1m2">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxrooms-project__zoom-controls">
              <button class="boxrooms-project__zoom-control boxrooms-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="boxrooms-project__zoom-control boxrooms-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="boxrooms-project__plan-card-floor " id="floor-h1f2">
            <div class="boxrooms-project__plan-card-content-wrapper">
              <div class="boxrooms-project__zoom" >
                <div class="boxrooms-project__image-wrapper" >
                  <div class="boxrooms-project__image-draggable">
                    <img src="/images/parking/parking4.png" width="1915" height="1192" class="boxrooms-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="boxrooms-project__svg">
                      <g>
                        <polygon id="marker-h1f2m1" points="983,126 1071,126 1071,251 983,251" fill="#CF000C" fill-opacity="0.2" />
                        <polygon id="marker-h1f2m2" points="830,126 920,126 920,251 830,251" fill="#CF000C" fill-opacity="0.2" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="boxrooms-project__plan-popups">
                <div class="boxrooms-project__plan-popup" id="popup-h1f2m1">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
                <div class="boxrooms-project__plan-popup" id="popup-h1f2m2">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxrooms-project__zoom-controls">
              <button class="boxrooms-project__zoom-control boxrooms-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="boxrooms-project__zoom-control boxrooms-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="boxrooms-project__plan-card-floor " id="floor-h1f3">
            <div class="boxrooms-project__plan-card-content-wrapper">
              <div class="boxrooms-project__zoom" >
                <div class="boxrooms-project__image-wrapper" >
                  <div class="boxrooms-project__image-draggable">
                    <img src="/images/parking/parking4.png" width="1915" height="1192" class="boxrooms-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="boxrooms-project__svg">
                      <g>
                        <polygon id="marker-h1f3m1" points="983,126 1071,126 1071,251 983,251" fill="#CF000C" fill-opacity="0.2" />
                        <polygon id="marker-h1f3m2" points="830,126 920,126 920,251 830,251" fill="#CF000C" fill-opacity="0.2" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="boxrooms-project__plan-popups">
                <div class="boxrooms-project__plan-popup" id="popup-h1f3m1">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
                <div class="boxrooms-project__plan-popup" id="popup-h1f3m2">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxrooms-project__zoom-controls">
              <button class="boxrooms-project__zoom-control boxrooms-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="boxrooms-project__zoom-control boxrooms-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="boxrooms-project__plan-list-item" id="house-h2">
      <h3 class="boxrooms-project__plan-list-item-title">Дом 1.7</h3>
      <div class="boxrooms-project__plan-mobile">
        <div class="boxrooms-project__plan-short-filters">
          <div class="boxrooms-project__plan-short-filters-fields">
            <div class="filters__form-field">
              <div class="filters__form-select" data-placeholder="Все секции">
                <button class="filters__form-select-btn" type="button">
                                        <span class="filters__form-select-btn-text js-btn-text">
                                        </span>
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#select-arrow"></use>
                  </svg>
                </button>
                <div class="filters__form-select-dropdown">
                  <div class="filters__form-select-dropdown-inner">
                    <button class="filters__form-reset-btn js-reset-btn" type="button">
                      Все Секции
                      <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#reset-btn"></use>
                      </svg>
                    </button>
                    <ul class="filters__form-select-list">
                      <li class="filters__form-select-list-item">
                        <label class="filters__form-select-radio">
                          <input type="checkbox" name="date"
                                 class="filters__form-select-radio-input" value="1 Секция">
                          <span class="filters__form-select-radio-mark"></span>
                          <span class="filters__form-select-radio-text">
                                                           1 Секция
                                                        </span>
                        </label>
                      </li>
                      <li class="filters__form-select-list-item">
                        <label class="filters__form-select-radio">
                          <input type="checkbox" name="date"
                                 class="filters__form-select-radio-input" value="Секция: 2">
                          <span class="filters__form-select-radio-mark"></span>
                          <span class="filters__form-select-radio-text">
                                                            2 Секция
                                                        </span>
                        </label>
                      </li>
                      <li class="filters__form-select-list-item">
                        <label class="filters__form-select-radio">
                          <input type="checkbox" name="date"
                                 class="filters__form-select-radio-input" value="Секция: 3">
                          <span class="filters__form-select-radio-mark"></span>
                          <span class="filters__form-select-radio-text">
                                                            3 Секция
                                                        </span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxrooms-project__sort boxrooms-project__plan-sort">
              <button class="boxrooms-project__sort-btn" type="button">
                                <span class="boxrooms-project__sort-btn-text js-btn-text">
                                   -1 уровень
                                </span>
                <svg width="14" height="14" aria-hidden="true">
                  <use xlink:href="#select-arrow"></use>
                </svg>
              </button>
              <div class="filters__form-select-dropdown">
                <div class="filters__form-select-dropdown-inner">
                  <ul class="filters__form-select-list">
                    <li class="filters__form-select-list-item">
                      <label class="filters__form-select-radio">
                        <input type="radio" name="sort1" class="filters__form-select-radio-input"
                               value="-1 уровень" checked="" data-id="switch-h2f1">
                        <span class="filters__form-select-radio-mark"></span>
                        <span class="filters__form-select-radio-text">
                                              -1 уровень
                                          </span>
                      </label>
                    </li>
                    <li class="filters__form-select-list-item">
                      <label class="filters__form-select-radio">
                        <input type="radio" name="sort1" class="filters__form-select-radio-input"
                               value="Сначала дорогие" data-id="switch-h2f2">
                        <span class="filters__form-select-radio-mark"></span>
                        <span class="filters__form-select-radio-text">
                                              -2 уровень
                                          </span>
                      </label>
                    </li>
                    <li class="filters__form-select-list-item">
                      <label class="filters__form-select-radio">
                        <input type="radio" name="sort1" class="filters__form-select-radio-input"
                               value="Сначала дорогие" data-id="switch-h2f3">
                        <span class="filters__form-select-radio-mark"></span>
                        <span class="filters__form-select-radio-text">
                                              -3 уровень
                                          </span>
                      </label>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxrooms-project__plan-card">
        <div class="boxrooms-project__plan-card-header">
          <div class="boxrooms-project__plan-short-filters">
            <div class="boxrooms-project__plan-short-filters-fields">
              <div class="filters__form-field">
                <div class="filters__form-select" data-placeholder="Все секции">
                  <button class="filters__form-select-btn" type="button">
                                        <span class="filters__form-select-btn-text js-btn-text">
                                        </span>
                    <svg width="14" height="14" aria-hidden="true">
                      <use xlink:href="#select-arrow"></use>
                    </svg>
                  </button>
                  <div class="filters__form-select-dropdown">
                    <div class="filters__form-select-dropdown-inner">
                      <button class="filters__form-reset-btn js-reset-btn" type="button">
                        Все Секции
                        <svg width="14" height="14" aria-hidden="true">
                          <use xlink:href="#reset-btn"></use>
                        </svg>
                      </button>
                      <ul class="filters__form-select-list">
                        <li class="filters__form-select-list-item">
                          <label class="filters__form-select-radio">
                            <input type="checkbox" name="date"
                                   class="filters__form-select-radio-input" value="Секция: 1">
                            <span class="filters__form-select-radio-mark"></span>
                            <span class="filters__form-select-radio-text">
                                                            Секция: 1
                                                        </span>
                          </label>
                        </li>
                        <li class="filters__form-select-list-item">
                          <label class="filters__form-select-radio">
                            <input type="checkbox" name="date"
                                   class="filters__form-select-radio-input" value="Секция: 2">
                            <span class="filters__form-select-radio-mark"></span>
                            <span class="filters__form-select-radio-text">
                                                            Секция: 2
                                                        </span>
                          </label>
                        </li>
                        <li class="filters__form-select-list-item">
                          <label class="filters__form-select-radio">
                            <input type="checkbox" name="date"
                                   class="filters__form-select-radio-input" value="Секция: 3">
                            <span class="filters__form-select-radio-mark"></span>
                            <span class="filters__form-select-radio-text">
                                                            Секция: 3
                                                        </span>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="boxrooms-project__plan-status">
            <div class="boxrooms-project__plan-status-free">
              Свободно
            </div>
            <div class="boxrooms-project__plan-status-reserved">
              Занято
            </div>
            <div class="boxrooms-project__plan-status-selected">
              Выбранное место
            </div>
          </div>
        </div>
        <div class="boxrooms-project__plan-card-bottom">
          <div class="boxrooms-project__plan-card-floor-switch">
            <ul class="boxrooms-project__plan-card-floor-switch-list">
              <li class="boxrooms-project__plan-card-floor-switch-item active" id="switch-h2f1">
                <span class="boxrooms-project__plan-card-floor-switch-round">-1</span>
                <span class="boxrooms-project__plan-card-floor-switch-text">23 места свободно</span>
              </li>
              <li class="boxrooms-project__plan-card-floor-switch-item" id="switch-h2f2">
                <span class="boxrooms-project__plan-card-floor-switch-round">-2</span>
                <span class="boxrooms-project__plan-card-floor-switch-text">23 места свободно</span>
              </li>
              <li class="boxrooms-project__plan-card-floor-switch-item" id="switch-h2f3">
                <span class="boxrooms-project__plan-card-floor-switch-round">-3</span>
                <span class="boxrooms-project__plan-card-floor-switch-text">23 места свободно</span>
              </li>
            </ul>
          </div>
          <div class="boxrooms-project__plan-card-floor active" id="floor-h2f1">
            <div class="boxrooms-project__plan-card-content-wrapper">
              <div class="boxrooms-project__zoom" >
                <div class="boxrooms-project__image-wrapper" >
                  <div class="boxrooms-project__image-draggable">
                    <img src="/images/parking/parking4.png" width="1915" height="1192" class="boxrooms-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="boxrooms-project__svg">
                      <g>
                        <polygon id="marker-h2f1m1" points="983,126 1071,126 1071,251 983,251" fill="#CF000C" fill-opacity="0.2" />
                        <polygon id="marker-h2f1m2" points="830,126 920,126 920,251 830,251" fill="#CF000C" fill-opacity="0.2" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="boxrooms-project__plan-popups">
                <div class="boxrooms-project__plan-popup" id="popup-h2f1m1">
                  <div class="boxrooms-project__plan-popup-inner">
                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
                <div class="boxrooms-project__plan-popup" id="popup-h2f1m2">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxrooms-project__zoom-controls">
              <button class="boxrooms-project__zoom-control boxrooms-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="boxrooms-project__zoom-control boxrooms-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="boxrooms-project__plan-card-floor " id="floor-h2f2">
            <div class="boxrooms-project__plan-card-content-wrapper">
              <div class="boxrooms-project__zoom" >
                <div class="boxrooms-project__image-wrapper" >
                  <div class="boxrooms-project__image-draggable">
                    <img src="/images/parking/parking4.png" width="1915" height="1192" class="boxrooms-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="boxrooms-project__svg">
                      <g>
                        <polygon id="marker-h2f2m1" points="983,126 1071,126 1071,251 983,251" fill="#CF000C" fill-opacity="0.2" />
                        <polygon id="marker-h2f2m2" points="830,126 920,126 920,251 830,251" fill="#CF000C" fill-opacity="0.2" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="boxrooms-project__plan-popups">
                <div class="boxrooms-project__plan-popup" id="popup-h2f2m1">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
                <div class="boxrooms-project__plan-popup" id="popup-h2f2m2">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxrooms-project__zoom-controls">
              <button class="boxrooms-project__zoom-control boxrooms-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="boxrooms-project__zoom-control boxrooms-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="boxrooms-project__plan-card-floor " id="floor-h2f3">
            <div class="boxrooms-project__plan-card-content-wrapper">
              <div class="boxrooms-project__zoom" >
                <div class="boxrooms-project__image-wrapper" >
                  <div class="boxrooms-project__image-draggable">
                    <img src="/images/parking/parking4.png" width="1915" height="1192" class="boxrooms-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="boxrooms-project__svg">
                      <g>
                        <polygon id="marker-h2f3m1" points="983,126 1071,126 1071,251 983,251" fill="#CF000C" fill-opacity="0.2" />
                        <polygon id="marker-h2f3m2" points="830,126 920,126 920,251 830,251" fill="#CF000C" fill-opacity="0.2" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="boxrooms-project__plan-popups">
                <div class="boxrooms-project__plan-popup" id="popup-h2f3m1">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
                <div class="boxrooms-project__plan-popup" id="popup-h2f3m2">
                  <div class="boxrooms-project__plan-popup-inner">

                    <h3 class="boxrooms-project__plan-popup-content-title">
                      Машино-место № 35
                    </h3>
                    <ul class="boxrooms-project__plan-popup-content-options">
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Проект</span>
                        <span>Южный парк</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Корпус</span>
                        <span>2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Уровень</span>
                        <span>- 1</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Номер</span>
                        <span>№ 35</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Площадь</span>
                        <span>13,4 м2</span>
                      </li>
                      <li class="boxrooms-project__plan-popup-content-option">
                        <span>Срок сдачи</span>
                        <span>до 4 кв. 2025</span>
                      </li>
                    </ul>
                    <div class="boxrooms-project__plan-popup__price">
                      <div class="boxrooms-project__plan-popup__price-text">
                        480 000 ₽
                      </div>
                    </div>
                    <div class="boxrooms-project__plan-popup__buttons">
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--red">Забронировать</a>
                      <a href="#" class="boxrooms-project__button boxrooms-project__button--border boxrooms-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxrooms-project__zoom-controls">
              <button class="boxrooms-project__zoom-control boxrooms-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="boxrooms-project__zoom-control boxrooms-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
