<div class="catalog__table">
  <div class="catalog__table-view-header">
    <div class="catalog__table-view-header-item">
      Планировка
    </div>
    <div class="catalog__table-view-header-item">
      Номер помещения
    </div>
    <div class="catalog__table-view-header-item">
      Площадь
    </div>
    <div class="catalog__table-view-header-item">
      Срок сдачи
    </div>
    <div class="catalog__table-view-header-item">
      Отделка
    </div>
    <div class="catalog__table-view-header-item">
      Проект
    </div>
    <div class="catalog__table-view-header-item">
      Секция
    </div>
    <div class="catalog__table-view-header-item">
      Этаж
    </div>
    <div class="catalog__table-view-header-item">
      Цена
    </div>
  </div>
  <ul class="catalog__table-list">
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>
              <div class="catalog__table-card-discount">
                5,6 млн ₽
              </div>
            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>
              <div class="catalog__table-card-discount">
                5,6 млн ₽
              </div>
            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>
              <div class="catalog__table-card-discount">
                5,6 млн ₽
              </div>
            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>

            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>

            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>

            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>

            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>

            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>

            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
    <li class="catalog__table-list-item">
      <div class="catalog__table-card">
        <a href="#" class="catalog__table-list-card-wrapper">

        </a>
        <div class="catalog__table-list-card-image-wrapper">
          <img src="/images/commercial/build.png" alt=""
               class="catalog__table-list-card-image">
        </div>
        <div class="catalog__table-list-card-main-wrapper">
          <div class="catalog__table-card-mobile-not-price-wrapper">


            <div class="catalog__table-card-mobile-title-wrapper">


              <div class="catalog__table-card-title-wrapper">
                <h3 class="catalog__table-card-title">
                  Помещение №1
                </h3>
                <div class="catalog__tags">
                  <div class="catalog__tags-shown">
                    <ul class="catalog__tags-shown-list">
                      <li class="catalog__tags-shown-list-item">
                        <div class="catalog__tag-shown">
                          Торговое
                        </div>
                      </li>
                    </ul>

                  </div>
                  <div class="catalog__tags-hidden">
                    <div class="catalog__tags-hidden-btn">
                      +2
                    </div>
                    <div class="catalog__tags-hidden-dropdown">
                      <div class="catalog__tags-hidden-dropdown-inner">
                        <ul class="catalog__tags-hidden-list">
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Улучшенная отделка
                            </div>
                          </li>
                          <li class="catalog__tags-hidden-list-item">
                            <div class="catalog__tag-hidden">
                              Паркинг
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog__table-card-area">
                75,5 м2
              </div>
            </div>
            <div class="catalog__table-card-date">
              4 кв. 2025
            </div>
            <div class="catalog__table-card-condition">
              Без отделки
            </div>
            <div class="catalog__table-card-mobile-section-wrapper">


              <div class="catalog__table-card-project">
                <div class="catalog__table-card-project-name">
                  Станция Спортивная
                </div>
                <div class="catalog__table-card-project-stage">
                  2 очередь</div>
              </div>
              <div class="catalog__table-card-section">
                2
              </div>
            </div>
            <div class="catalog__table-card-floor">
              5/19
            </div>
          </div>
          <div class="catalog__table-card-price-wrapper">
            <div class="catalog__table-card-price-wrapper-content">
              <div class="catalog__table-card-price">
                12 980 000 ₽
              </div>

            </div>
            <a href="#" class="catalog__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>

          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
