<section class="company-projects">
    <div class="company-projects__content">
        <div class="company-projects__top-row">
            <h2 class="company-projects__heading">
                Проекты компании
            </h2>
            <div class="company-projects__toggle">
                <label class="company-projects__toggle-label">
                    <input type="checkbox" name="realised" value="Y" class="company-projects__toggle-input">

                    <span class="company-projects__toggle-mode">
                        Сданные
                    </span>
                    <span class="company-projects__toggle-box">

                    </span>
                    <span class="company-projects__toggle-mode">
                        Реализуемые
                    </span>
                </label>
            </div>
        </div>
        <ul class="company-projects__list">
            <li class="company-projects__list-item">
                <div class="company-projects__card">
                    <a href="#" class="company-projects__card-wrapper">

                    </a>
                    <div class="company-projects__card-image-container">
                        <img src="/images/company-projects/1.webp" alt="" class="company-projects__card-image">
                    </div>
                    <div class="company-projects__card-content">
                        <div class="company-projects__card-tags">
                            <ul class="company-projects__card-tags-list">
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag">
                                        Комфорт
                                    </div>
                                </li>
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag company-projects__card-tag--dark">
                                        <img src="/images/ready.svg" alt="" class="company-projects__card-tag-icon">
                                        Дом сдан
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="company-projects__card-info">
                            <button class="company-projects__card-info-btn">
                                <span class="company-projects__card-info-title">
                                    Суворовский
                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#company-projects-arrow"></use>
                                </svg>
                            </button>
                            <div class="company-projects__card-info-location">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#location"></use>
                                </svg>
                                Приволжский р-н, ул. Рауиса Гареева
                            </div>
                            <div class="company-projects__card-info-wrapper">
                                <div class="company-projects__card-info-wrapper-inner">
                                    <ul class="company-projects__card-info-list">
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Год постройки
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    2022
                                                </div>
                                            </div>
                                        </li>
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Кол-во квартир
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    180
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="company-projects__list-item company-projects__list-item--wide">
                <div class="company-projects__card">
                    <a href="#" class="company-projects__card-wrapper">

                    </a>
                    <div class="company-projects__card-image-container">
                        <img src="/images/company-projects/2.webp" alt="" class="company-projects__card-image">
                    </div>
                    <div class="company-projects__card-content">
                        <div class="company-projects__card-tags">
                            <ul class="company-projects__card-tags-list">
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag">
                                        Комфорт
                                    </div>
                                </li>
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag company-projects__card-tag--dark">
                                        <img src="/images/ready.svg" alt="" class="company-projects__card-tag-icon">
                                        Дом сдан
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="company-projects__card-info">
                            <button class="company-projects__card-info-btn">
                                <span class="company-projects__card-info-title">
                                    Серебряный берег
                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#company-projects-arrow"></use>
                                </svg>
                            </button>
                            <div class="company-projects__card-info-location">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#location"></use>
                                </svg>
                                Ново-Савиновский р-н, 69-й квартал
                            </div>
                            <div class="company-projects__card-info-wrapper">
                                <div class="company-projects__card-info-wrapper-inner">
                                    <ul class="company-projects__card-info-list">
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Год постройки
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    2022
                                                </div>
                                            </div>
                                        </li>
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Кол-во квартир
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    180
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="company-projects__list-item">
                <div class="company-projects__card">
                    <a href="#" class="company-projects__card-wrapper">

                    </a>
                    <div class="company-projects__card-image-container">
                        <img src="/images/company-projects/3.webp" alt="" class="company-projects__card-image">
                    </div>
                    <div class="company-projects__card-content">
                        <div class="company-projects__card-tags">
                            <ul class="company-projects__card-tags-list">
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag">
                                        Комфорт
                                    </div>
                                </li>
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag company-projects__card-tag--dark">
                                        <img src="/images/ready.svg" alt="" class="company-projects__card-tag-icon">
                                        Дом сдан
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="company-projects__card-info">
                            <button class="company-projects__card-info-btn">
                                <span class="company-projects__card-info-title">
                                    Каскад
                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#company-projects-arrow"></use>
                                </svg>
                            </button>
                            <div class="company-projects__card-info-location">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#location"></use>
                                </svg>
                                Приволжский р-н, ул. Рауиса Гареева
                            </div>
                            <div class="company-projects__card-info-wrapper">
                                <div class="company-projects__card-info-wrapper-inner">
                                    <ul class="company-projects__card-info-list">
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Год постройки
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    2022
                                                </div>
                                            </div>
                                        </li>
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Кол-во квартир
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    180
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="company-projects__list-item">
                <div class="company-projects__card">
                    <a href="#" class="company-projects__card-wrapper">

                    </a>
                    <div class="company-projects__card-image-container">
                        <img src="/images/company-projects/4.webp" alt="" class="company-projects__card-image">
                    </div>
                    <div class="company-projects__card-content">
                        <div class="company-projects__card-tags">
                            <ul class="company-projects__card-tags-list">
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag">
                                        Комфорт
                                    </div>
                                </li>
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag company-projects__card-tag--dark">
                                        <img src="/images/ready.svg" alt="" class="company-projects__card-tag-icon">
                                        Дом сдан
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="company-projects__card-info">
                            <button class="company-projects__card-info-btn">
                                <span class="company-projects__card-info-title">
                                    Манхэттен
                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#company-projects-arrow"></use>
                                </svg>
                            </button>
                            <div class="company-projects__card-info-location">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#location"></use>
                                </svg>
                                Приволжский р-н, ул. Рауиса Гареева
                            </div>
                            <div class="company-projects__card-info-wrapper">
                                <div class="company-projects__card-info-wrapper-inner">
                                    <ul class="company-projects__card-info-list">
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Год постройки
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    2022
                                                </div>
                                            </div>
                                        </li>
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Кол-во квартир
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    180
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="company-projects__list-item">
                <div class="company-projects__card">
                    <a href="#" class="company-projects__card-wrapper">

                    </a>
                    <div class="company-projects__card-image-container">
                        <img src="/images/company-projects/5.webp" alt="" class="company-projects__card-image">
                    </div>
                    <div class="company-projects__card-content">
                        <div class="company-projects__card-tags">
                            <ul class="company-projects__card-tags-list">
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag">
                                        Комфорт
                                    </div>
                                </li>
                                <li class="company-projects__card-tags-list-item">
                                    <div class="company-projects__card-tag company-projects__card-tag--dark">
                                        <img src="/images/ready.svg" alt="" class="company-projects__card-tag-icon">
                                        Дом сдан
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="company-projects__card-info">
                            <button class="company-projects__card-info-btn">
                                <span class="company-projects__card-info-title">
                                    Батталовский
                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#company-projects-arrow"></use>
                                </svg>
                            </button>
                            <div class="company-projects__card-info-location">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#location"></use>
                                </svg>
                                Приволжский р-н, ул. Рауиса Гареева
                            </div>
                            <div class="company-projects__card-info-wrapper">
                                <div class="company-projects__card-info-wrapper-inner">
                                    <ul class="company-projects__card-info-list">
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Год постройки
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    2022
                                                </div>
                                            </div>
                                        </li>
                                        <li class="company-projects__card-info-list-item">
                                            <div class="company-projects__card-info-card">
                                                <div class="company-projects__card-info-card-key">
                                                    Кол-во квартир
                                                </div>
                                                <div class="company-projects__card-info-card-value">
                                                    180
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
        <a href="#" class="company-projects__show-more">
            Показать еще 5 из 24
        </a>
    </div>


</section>