<section class="construction-progress">
    <div class="construction-progress__content">
        <h2 class="construction-progress__heading">
            Ход строительства
        </h2>
        <div class="construction-progress__top-row">
            <div class="construction-progress__filters">
                <button class="construction-progress__filters-mobile-btn" type="button">
                    Фильтр
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#filter"></use>
                    </svg>
                </button>
            </div>
            <div class="construction-progress__arrows">
                <button class="construction-progress__arrow construction-progress__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="construction-progress__arrow construction-progress__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="construction-progress__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="construction-progress__slider-card">

                            <div class="construction-progress__slider-card-image-container">
                                <img src="/images/construction-progress/1.webp" alt=""
                                    class="construction-progress__slider-card-image">
                                <div class="construction-progress__slider-card-live">
                                    Live
                                </div>
                            </div>
                            <div class="construction-progress__slider-card-content">
                                <h3 class="construction-progress__slider-card-title">
                                    Корпус 3
                                </h3>
                                <div class="construction-progress__slider-card-date">
                                    Февраль, 2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="construction-progress__slider-card">

                            <div class="construction-progress__slider-card-image-container">
                                <img src="/images/construction-progress/2.webp" alt=""
                                    class="construction-progress__slider-card-image">
                                <div class="construction-progress__slider-card-live">
                                    Live
                                </div>
                            </div>
                            <div class="construction-progress__slider-card-content">
                                <h3 class="construction-progress__slider-card-title">
                                    Корпус 5
                                </h3>
                                <div class="construction-progress__slider-card-date">
                                    Январь, 2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="construction-progress__slider-card">

                            <div class="construction-progress__slider-card-image-container">
                                <img src="/images/construction-progress/3.webp" alt=""
                                    class="construction-progress__slider-card-image">

                            </div>
                            <div class="construction-progress__slider-card-content">
                                <h3 class="construction-progress__slider-card-title">
                                    Корпус 2
                                </h3>
                                <div class="construction-progress__slider-card-date">
                                    Декабрь, 2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="construction-progress__slider-card">

                            <div class="construction-progress__slider-card-image-container">
                                <img src="/images/construction-progress/4.webp" alt=""
                                    class="construction-progress__slider-card-image">

                            </div>
                            <div class="construction-progress__slider-card-content">
                                <h3 class="construction-progress__slider-card-title">
                                    Корпус 1
                                </h3>
                                <div class="construction-progress__slider-card-date">
                                    Январь, 2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="construction-progress__slider-card">

                            <div class="construction-progress__slider-card-image-container">
                                <img src="/images/construction-progress/1.webp" alt=""
                                    class="construction-progress__slider-card-image">
                                <div class="construction-progress__slider-card-live">
                                    Live
                                </div>
                            </div>
                            <div class="construction-progress__slider-card-content">
                                <h3 class="construction-progress__slider-card-title">
                                    Корпус 3
                                </h3>
                                <div class="construction-progress__slider-card-date">
                                    Февраль, 2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="construction-progress__slider-card">

                            <div class="construction-progress__slider-card-image-container">
                                <img src="/images/construction-progress/2.webp" alt=""
                                    class="construction-progress__slider-card-image">
                                <div class="construction-progress__slider-card-live">
                                    Live
                                </div>
                            </div>
                            <div class="construction-progress__slider-card-content">
                                <h3 class="construction-progress__slider-card-title">
                                    Корпус 5
                                </h3>
                                <div class="construction-progress__slider-card-date">
                                    Январь, 2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="construction-progress__slider-card">

                            <div class="construction-progress__slider-card-image-container">
                                <img src="/images/construction-progress/3.webp" alt=""
                                    class="construction-progress__slider-card-image">

                            </div>
                            <div class="construction-progress__slider-card-content">
                                <h3 class="construction-progress__slider-card-title">
                                    Корпус 2
                                </h3>
                                <div class="construction-progress__slider-card-date">
                                    Декабрь, 2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="construction-progress__slider-card">

                            <div class="construction-progress__slider-card-image-container">
                                <img src="/images/construction-progress/4.webp" alt=""
                                    class="construction-progress__slider-card-image">

                            </div>
                            <div class="construction-progress__slider-card-content">
                                <h3 class="construction-progress__slider-card-title">
                                    Корпус 1
                                </h3>
                                <div class="construction-progress__slider-card-date">
                                    Январь, 2024
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>