<section class="contacts">
    <div class="contacts__content">
        <div class="contacts__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Контакты
            </a>
        </div>
        <h1 class="contacts__heading">
            Контакты
        </h1>
        <div class="contacts__cards">
            <div class="contacts__card">
                <h2 class="contacts__card-title">
                    Телефон
                </h2>
                <div class="contacts__card-content">
                    <a href="tel:+78004441494" class="contacts__card-link">8-800-444-14-94</a>
                    <div class="contacts__card-remark">
                        звонок по РФ бесплатный
                    </div>
                </div>
            </div>
            <div class="contacts__card">
                <h2 class="contacts__card-title">
                    Почта
                </h2>
                <div class="contacts__card-content">
                    <a href="mailto:info@suvarstroit.ru" class="contacts__card-link">info@suvarstroit.ru</a>
                </div>
            </div>
            <div class="contacts__card">
                <h2 class="contacts__card-title">
                    Режим работы
                </h2>
                <div class="contacts__card-content">
                    <ul class="contacts__card-schedule-list">
                        <li class="contacts__card-schedule-list-item">
                            <div class="contacts__card-schedule-card">
                                <div class="contacts__card-schedule-card-key">
                                    пн-пт
                                </div>
                                <div class="contacts__card-schedule-card-value">
                                    10:00 - 19:00
                                </div>
                            </div>
                        </li>
                        <li class="contacts__card-schedule-list-item">
                            <div class="contacts__card-schedule-card">
                                <div class="contacts__card-schedule-card-key">
                                    сб-вс
                                </div>
                                <div class="contacts__card-schedule-card-value">
                                    10:00 - 17:00
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="contacts__card-remark">
                        Режим работы в праздничные дни уточняйте по телефону
                    </div>

                </div>
            </div>
            <div class="contacts__card">
                <h2 class="contacts__card-title">
                    Мы в соц. сетях
                </h2>
                <div class="contacts__card-content">
                    <ul class="contacts__card-social-list">
                        <li class="contacts__card-social-list-item">
                            <a href="#" class="contacts__card-social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="contacts__card-social-list-item">
                            <a href="#" class="contacts__card-social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="contacts__card-social-list-item">
                            <a href="#" class="contacts__card-social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#ok"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>