<section class="documents">
    <div class="documents__content">
        <div class="documents__row">
            <div class="documents__left-col">
                <h2 class="documents__heading">
                    Документы проекта
                </h2>
                <div class="documents__arrows">
                    <button class="documents__arrow documents__arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="documents__arrow documents__arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="documents__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="documents__slider-card">
                                <div class="documents__slider-card-date">
                                    28 января 2024
                                </div>
                                <h3 class="documents__slider-card-title">
                                    Разрешение на ввод в эксплуатацию
                                </h3>
                                <div class="documents__slider-card-block">
                                    Корпус 1, 2024
                                </div>
                                <div class="documents__slider-card-bottom-row">
                                    <div class="documents__slider-card-size">
                                        PDF, 1,5 Мб
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="documents__slider-card">
                                <div class="documents__slider-card-date">
                                    28 января 2024
                                </div>
                                <h3 class="documents__slider-card-title">
                                    Проектная
                                    декларация
                                </h3>

                                <div class="documents__slider-card-bottom-row">
                                    <div class="documents__slider-card-size">
                                        PDF, 1,2 Мб
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="documents__slider-card">
                                <div class="documents__slider-card-date">
                                    28 января 2024
                                </div>
                                <h3 class="documents__slider-card-title">
                                    Разрешение на ввод в эксплуатацию
                                </h3>
                                <div class="documents__slider-card-block">
                                    Корпус 1, 2024
                                </div>
                                <div class="documents__slider-card-bottom-row">
                                    <div class="documents__slider-card-size">
                                        PDF, 1,3 Мб
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="documents__slider-card">
                                <div class="documents__slider-card-date">
                                    28 января 2024
                                </div>
                                <h3 class="documents__slider-card-title">
                                    Разрешение на ввод в эксплуатацию
                                </h3>
                                <div class="documents__slider-card-block">
                                    Корпус 1, 2024
                                </div>
                                <div class="documents__slider-card-bottom-row">
                                    <div class="documents__slider-card-size">
                                        PDF, 1,5 Мб
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="documents__slider-card">
                                <div class="documents__slider-card-date">
                                    28 января 2024
                                </div>
                                <h3 class="documents__slider-card-title">
                                    Проектная
                                    декларация
                                </h3>

                                <div class="documents__slider-card-bottom-row">
                                    <div class="documents__slider-card-size">
                                        PDF, 1,2 Мб
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="documents__slider-card">
                                <div class="documents__slider-card-date">
                                    28 января 2024
                                </div>
                                <h3 class="documents__slider-card-title">
                                    Разрешение на ввод в эксплуатацию
                                </h3>
                                <div class="documents__slider-card-block">
                                    Корпус 1, 2024
                                </div>
                                <div class="documents__slider-card-bottom-row">
                                    <div class="documents__slider-card-size">
                                        PDF, 1,3 Мб
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>