<section class="excursion">
    <div class="excursion__content">
        <div class="excursion__card">
            <div class="excursion__card-image-container">
                <img src="/images/excursion-author.webp" alt="" class="excursion__card-image">
            </div>
            <div class="excursion__card-text-content">
                <h2 class="excursion__card-heading">
                    Запишитесь на&nbsp;экскурсию
                </h2>
                <div class="excursion__card-text">
                    Ждем вас в офисе продаж на объекте, с радостью ответим на все ваши вопросы
                </div>
                <div class="excursion__card-author">
                    <div class="excursion__card-author-name">
                        Питер Друкер
                    </div>
                    <div class="excursion__card-author-role">
                        Руководитель отдела продаж
                    </div>
                </div>
            </div>
            <form action="/" class="excursion__card-form" method="POST">
                <div class="excursion__card-fields">
                    <div class="excursion__card-field">
                        <div class="excursion__card-input-wrapper">
                            <input type="text" name="your-name" class="excursion__card-input" placeholder="Имя"
                                required="">
                        </div>
                    </div>
                    <div class="excursion__card-field">
                        <div class="excursion__card-input-wrapper">
                            <input type="tel" name="your-phone" class="excursion__card-input" placeholder="Телефон"
                                required="">
                        </div>
                    </div>
                </div>
                <button class="excursion__card-submit" type="submit">
                    Отставить заявку
                </button>
                <div class="excursion__card-policy">
                    Нажимая "Отставить заявку", вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
                </div>
            </form>
        </div>
    </div>
</section>