<section class="faq">
    <div class="faq__content">
        <div class="faq__left-col">
            <h2 class="faq__heading">
                Вопросы и&nbsp;ответы
            </h2>
        </div>
        <div class="faq__right-col">
            <ul class="faq__list">
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <button class="faq__accordion-btn">
                            <span class="faq__accordion-btn-text">
                                Какой минимальный первоначальный взнос?
                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#faq-arrow"></use>
                            </svg>
                        </button>
                        <div class="faq__accordion-content">
                            <div class="faq__accordion-content-inner">
                                <div class="faq__accordion-text">
                                    Вы можете использовать средства материнского капитала полностью или частично
                                    в качестве первоначального взноса при получении ипотеки. Можно использовать только
                                    материнский капитал или сумму материнского капитала и собственных средств.
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <button class="faq__accordion-btn">
                            <span class="faq__accordion-btn-text">
                                Можно ли использовать материнский капитал в качестве первоначального взноса?
                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#faq-arrow"></use>
                            </svg>
                        </button>
                        <div class="faq__accordion-content">
                            <div class="faq__accordion-content-inner">
                                <div class="faq__accordion-text">
                                    Вы можете использовать средства материнского капитала полностью или частично
                                    в качестве первоначального взноса при получении ипотеки. Можно использовать только
                                    материнский капитал или сумму материнского капитала и собственных средств.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <button class="faq__accordion-btn">
                            <span class="faq__accordion-btn-text">
                                Имеется ли возможность подать заявку на ипотеку не предоставляя справки 2-НДФЛ?
                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#faq-arrow"></use>
                            </svg>
                        </button>
                        <div class="faq__accordion-content">
                            <div class="faq__accordion-content-inner">
                                <div class="faq__accordion-text">
                                    Вы можете использовать средства материнского капитала полностью или частично
                                    в качестве первоначального взноса при получении ипотеки. Можно использовать только
                                    материнский капитал или сумму материнского капитала и собственных средств.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <button class="faq__accordion-btn">
                            <span class="faq__accordion-btn-text">
                                Можно ли подтвердить занятость не предоставляя заверенную копию трудовой книжки?
                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#faq-arrow"></use>
                            </svg>
                        </button>
                        <div class="faq__accordion-content">
                            <div class="faq__accordion-content-inner">
                                <div class="faq__accordion-text">
                                    Вы можете использовать средства материнского капитала полностью или частично
                                    в качестве первоначального взноса при получении ипотеки. Можно использовать только
                                    материнский капитал или сумму материнского капитала и собственных средств.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <button class="faq__accordion-btn">
                            <span class="faq__accordion-btn-text">
                                Можно ли подать заявку на ипотечный кредит без подтверждения дохода?
                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#faq-arrow"></use>
                            </svg>
                        </button>
                        <div class="faq__accordion-content">
                            <div class="faq__accordion-content-inner">
                                <div class="faq__accordion-text">
                                    Вы можете использовать средства материнского капитала полностью или частично
                                    в качестве первоначального взноса при получении ипотеки. Можно использовать только
                                    материнский капитал или сумму материнского капитала и собственных средств.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>