<section class="fav-empty">
    <div class="fav-empty__content">
        <div class="fav-empty__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Избранное
            </a>
        </div>
        <div class="fav-empty__row">
            <div class="fav-empty__text-content">
                <h1 class="fav-empty__heading">
                    В избранном <b>пока ничего нет</b>
                </h1>
                <div class="fav-empty__text">
                    Нажмите на <img src="/images/fav-empty.svg" alt="">, чтобы добавить квартиру или коммерческое
                    помещение в избранное.
                </div>
                <a href="#" class="fav-empty__link">
                    К проектам
                </a>
            </div>
            <img src="/images/fav-empty-illustration.svg" alt="" class="fav-empty__illustration">
        </div>
    </div>
</section>