<section class="fav">
    <div class="fav__top">
        <div class="fav__top-content">
            <div class="fav__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#" class="active">
                    Избранное
                </a>
            </div>
            <div class="fav__top-row">
                <h1 class="fav__heading">
                    Избранное
                    <span class="fav__count">
                        ( 3 объекта )
                    </span>
                </h1>
                <a href="#" class="fav__clear">
                    Очистить избранное
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#fav-clear"></use>
                    </svg>
                </a>
            </div>
            <div class="catalog__fav-categories catalog__fav-categories--mobile">
                <ul class="catalog__fav-categories-list">
                    <li class="catalog__fav-categories-list-item">
                        <a href="#" class="catalog__fav-categories-link active">
                            Квартиры
                            <span class="catalog__fav-categories-link-count">
                                3
                            </span>
                        </a>
                    </li>
                    <li class="catalog__fav-categories-list-item">
                        <a href="#" class="catalog__fav-categories-link">
                            Паркинг
                        </a>
                    </li>
                    <li class="catalog__fav-categories-list-item">
                        <a href="#" class="catalog__fav-categories-link">
                            Коммерция
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fav__bottom">
        <div class="fav__bottom-content">
            <div class="catalog__controls">
                <div class="catalog__fav-categories catalog__fav-categories--desktop">
                    <ul class="catalog__fav-categories-list">
                        <li class="catalog__fav-categories-list-item">
                            <a href="#" class="catalog__fav-categories-link active">
                                Квартиры
                                <span class="catalog__fav-categories-link-count">
                                    3
                                </span>
                            </a>
                        </li>
                        <li class="catalog__fav-categories-list-item">
                            <a href="#" class="catalog__fav-categories-link">
                                Паркинг
                            </a>
                        </li>
                        <li class="catalog__fav-categories-list-item">
                            <a href="#" class="catalog__fav-categories-link">
                                Коммерция
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="catalog__sort">
                    <button class="catalog__sort-btn" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#sort"></use>
                        </svg>
                        <span class="catalog__sort-btn-text js-btn-text">
                            Сначала дешевые
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#accordion-arrow"></use>
                        </svg>
                    </button>
                    <div class="filters__form-select-dropdown">
                        <div class="filters__form-select-dropdown-inner">

                            <ul class="filters__form-select-list">

                                <li class="filters__form-select-list-item">
                                    <label class="filters__form-select-radio">
                                        <input type="radio" name="sort" class="filters__form-select-radio-input"
                                            value="Сначала дешевые" checked="">
                                        <span class="filters__form-select-radio-mark"></span>
                                        <span class="filters__form-select-radio-text">
                                            Сначала дешевые
                                        </span>
                                    </label>
                                </li>
                                <li class="filters__form-select-list-item">
                                    <label class="filters__form-select-radio">
                                        <input type="radio" name="sort" class="filters__form-select-radio-input"
                                            value="Сначала дорогие">
                                        <span class="filters__form-select-radio-mark"></span>
                                        <span class="filters__form-select-radio-text">
                                            Сначала дорогие
                                        </span>
                                    </label>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="catalog__grouping">
                    <label class="catalog__grouping-checkbox">
                        <input type="checkbox" class="catalog__grouping-checkbox-input" name="group-similar" value="Y">
                        <span class="catalog__grouping-checkbox-text">
                            Сруппировать похожие планировки
                        </span>
                        <span class="catalog__grouping-checkbox-toggle">

                        </span>
                    </label>
                </div>
                <div class="catalog__view-modes">
                    <a href="#" class="catalog__view-mode-btn active">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#list-view"></use>
                        </svg>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#mobile-list-view"></use>
                        </svg>
                    </a>
                    <a href="#" class="catalog__view-mode-btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#table-view"></use>
                        </svg>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#mobile-table-view"></use>
                        </svg>
                    </a>
                </div>

            </div>
            <ul class="catalog__list">
                <li class="catalog__list-item">
                    <div class="catalog__card">
                        <a href="#" class="catalog__card-link-wrapper"></a>
                        <div class="catalog__card-top-row">
                            <div class="catalog__tags">
                                <div class="catalog__tags-shown">
                                    <ul class="catalog__tags-shown-list">
                                        <li class="catalog__tags-shown-list-item">
                                            <div class="catalog__tag-shown">
                                                Комфорт класс
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="catalog__tags-hidden">
                                    <div class="catalog__tags-hidden-btn">
                                        +2
                                    </div>
                                    <div class="catalog__tags-hidden-dropdown">
                                        <div class="catalog__tags-hidden-dropdown-inner">
                                            <ul class="catalog__tags-hidden-list">
                                                <li class="catalog__tags-hidden-list-item">
                                                    <div class="catalog__tag-hidden">
                                                        Улучшенная отделка
                                                    </div>
                                                </li>
                                                <li class="catalog__tags-hidden-list-item">
                                                    <div class="catalog__tag-hidden">
                                                        Паркинг
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="catalog__add-to-fav active">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="catalog__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="catalog__card-slider-card">
                                            <img src="/images/catalog-card.webp" alt=""
                                                class="catalog__card-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="catalog__card-slider-card">
                                            <img src="/images/catalog-card.webp" alt=""
                                                class="catalog__card-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__card-slider-pagination">

                            </div>
                        </div>
                        <h3 class="catalog__card-title">
                            3 – комнатная 75,5 м2
                        </h3>
                        <div class="catalog__card-specs">
                            <ul class="catalog__card-specs-list">
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Проект
                                        </div>
                                        <div
                                            class="catalog__card-specs-card-value catalog__card-specs-card-value--blue">
                                            Станция Спортивная
                                        </div>
                                    </div>
                                </li>
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Расположение
                                        </div>
                                        <div class="catalog__card-specs-card-value">
                                            2 очередь, Секция 5
                                        </div>
                                    </div>
                                </li>
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Этаж
                                        </div>
                                        <div class="catalog__card-specs-card-value">
                                            5 / 10 эт.
                                        </div>
                                    </div>
                                </li>
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Срок сдачи
                                        </div>
                                        <div class="catalog__card-specs-card-value">
                                            2 квартал 2025
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog__card-price">
                            <div class="catalog__card-price-amount">
                                5 190 000 ₽
                            </div>
                        </div>
                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="catalog__card">
                        <a href="#" class="catalog__card-link-wrapper"></a>
                        <div class="catalog__card-top-row">
                            <div class="catalog__tags">
                                <div class="catalog__tags-shown">
                                    <ul class="catalog__tags-shown-list">
                                        <li class="catalog__tags-shown-list-item">
                                            <div class="catalog__tag-shown">
                                                Комфорт класс
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="catalog__tags-hidden">
                                    <div class="catalog__tags-hidden-btn">
                                        +1
                                    </div>
                                    <div class="catalog__tags-hidden-dropdown">
                                        <div class="catalog__tags-hidden-dropdown-inner">
                                            <ul class="catalog__tags-hidden-list">
                                                <li class="catalog__tags-hidden-list-item">
                                                    <div class="catalog__tag-hidden">
                                                        Улучшенная отделка
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="catalog__add-to-fav active">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="catalog__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="catalog__card-slider-card">
                                            <img src="/images/catalog-card.webp" alt=""
                                                class="catalog__card-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="catalog__card-slider-card">
                                            <img src="/images/catalog-card.webp" alt=""
                                                class="catalog__card-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__card-slider-pagination">

                            </div>
                        </div>
                        <h3 class="catalog__card-title">
                            3 – комнатная 75,5 м2
                        </h3>
                        <div class="catalog__card-specs">
                            <ul class="catalog__card-specs-list">
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Проект
                                        </div>
                                        <div
                                            class="catalog__card-specs-card-value catalog__card-specs-card-value--blue">
                                            Станция Спортивная
                                        </div>
                                    </div>
                                </li>
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Расположение
                                        </div>
                                        <div class="catalog__card-specs-card-value">
                                            2 очередь, Секция 5
                                        </div>
                                    </div>
                                </li>
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Этаж
                                        </div>
                                        <div class="catalog__card-specs-card-value">
                                            5 / 10 эт.
                                        </div>
                                    </div>
                                </li>
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Срок сдачи
                                        </div>
                                        <div class="catalog__card-specs-card-value">
                                            2 квартал 2025
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog__card-price">
                            <div class="catalog__card-price-amount">
                                5 190 000 ₽
                            </div>

                        </div>
                    </div>
                </li>
                <li class="catalog__list-item">
                    <div class="catalog__card catalog__card--removed">
                        <a href="#" class="catalog__card-link-wrapper"></a>
                        <div class="catalog__card-top-row">
                            <div class="catalog__tags">
                                <div class="catalog__tags-shown">
                                    <ul class="catalog__tags-shown-list">
                                        <li class="catalog__tags-shown-list-item">
                                            <div class="catalog__tag-shown">
                                                Комфорт класс
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="catalog__tags-hidden">
                                    <div class="catalog__tags-hidden-btn">
                                        +2
                                    </div>
                                    <div class="catalog__tags-hidden-dropdown">
                                        <div class="catalog__tags-hidden-dropdown-inner">
                                            <ul class="catalog__tags-hidden-list">
                                                <li class="catalog__tags-hidden-list-item">
                                                    <div class="catalog__tag-hidden">
                                                        Улучшенная отделка
                                                    </div>
                                                </li>
                                                <li class="catalog__tags-hidden-list-item">
                                                    <div class="catalog__tag-hidden">
                                                        Паркинг
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="catalog__add-to-fav">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="catalog__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="catalog__card-slider-card">
                                            <img src="/images/catalog-card.webp" alt=""
                                                class="catalog__card-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="catalog__card-slider-card">
                                            <img src="/images/catalog-card.webp" alt=""
                                                class="catalog__card-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__card-slider-pagination">

                            </div>
                        </div>
                        <h3 class="catalog__card-title">
                            3 – комнатная 75,5 м2
                        </h3>
                        <div class="catalog__card-specs">
                            <ul class="catalog__card-specs-list">
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Проект
                                        </div>
                                        <div
                                            class="catalog__card-specs-card-value catalog__card-specs-card-value--blue">
                                            Станция Спортивная
                                        </div>
                                    </div>
                                </li>
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Расположение
                                        </div>
                                        <div class="catalog__card-specs-card-value">
                                            2 очередь, Секция 5
                                        </div>
                                    </div>
                                </li>
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Этаж
                                        </div>
                                        <div class="catalog__card-specs-card-value">
                                            5 / 10 эт.
                                        </div>
                                    </div>
                                </li>
                                <li class="catalog__card-specs-list-item">
                                    <div class="catalog__card-specs-card">
                                        <div class="catalog__card-specs-card-key">
                                            Срок сдачи
                                        </div>
                                        <div class="catalog__card-specs-card-value">
                                            2 квартал 2025
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog__card-price">
                            <div class="catalog__card-price-amount">
                                5 190 000 ₽
                            </div>
                        </div>
                        <div class="catalog__card-removed-wrapper">
                            <div class="catalog__card-removed-wrapper-inner">
                                <div class="catalog__card-removed-wrapper-text">
                                    Вы удалили эту квартиру из избранного
                                </div>
                                <a href="#" class="catalog__card-removed-wrapper-return">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#return"></use>
                                    </svg>
                                    Восстановить
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="fav__brochure">
                <div class="fav__brochure-card">


                    <div class="fav__brochure-icon-wrapper">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#pdf"></use>
                        </svg>
                    </div>
                    <div class="fav__brochure-content">
                        <h3 class="fav__brochure-title">
                            Сформируйте брошюру из вашего избранного
                        </h3>
                        <div class="fav__brochure-size">
                            PDF 4,3 Мб
                        </div>
                    </div>
                    <ul class="fav__brochure-list">
                        <li class="fav__brochure-list-item">
                            <div class="fav__brochure-inner-card">
                                <div class="fav__brochure-inner-card-btn">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#sharing"></use>
                                    </svg>
                                </div>
                                <div class="fav__brochure-inner-card-dropdown">
                                    <div class="fav__brochure-inner-card-dropdown-inner">
                                        <div class="fav__brochure-inner-card-dropdown-mobile-row">
                                            <h3 class="fav__brochure-inner-card-dropdown-mobile-title">
                                                Поделиться
                                            </h3>
                                            <button class="fav__brochure-inner-card-dropdown-mobile-close"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#modal-close"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="fav__brochure-inner-card-copy-wrapper">
                                            <a href="#" class="fav__brochure-inner-card-copy">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#sharing-copy"></use>
                                                </svg>
                                                Скопировать ссылку
                                            </a>
                                        </div>

                                        <ul class="fav__brochure-inner-card-dropdown-list">
                                            <li class="fav__brochure-inner-card-dropdown-list-item">
                                                <a href="#" class="fav__brochure-inner-card-dropdown-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#sharing-whatsapp"></use>
                                                    </svg>
                                                    WhatsApp
                                                </a>
                                            </li>
                                            <li class="fav__brochure-inner-card-dropdown-list-item">
                                                <a href="#" class="fav__brochure-inner-card-dropdown-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#sharing-telegram"></use>
                                                    </svg>
                                                    Telegram
                                                </a>
                                            </li>
                                            <li class="fav__brochure-inner-card-dropdown-list-item">
                                                <a href="#" class="fav__brochure-inner-card-dropdown-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#sharing-vk"></use>
                                                    </svg>
                                                    ВКонтакте
                                                </a>
                                            </li>
                                            <li class="fav__brochure-inner-card-dropdown-list-item">
                                                <a href="#" class="fav__brochure-inner-card-dropdown-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#sharing-ok"></use>
                                                    </svg>
                                                    Одноклассники
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="fav__brochure-list-item">
                            <div class="fav__brochure-inner-card">
                                <div class="fav__brochure-inner-card-btn">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#email"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="fav__brochure-list-item">
                            <div class="fav__brochure-inner-card">
                                <div class="fav__brochure-inner-card-btn">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#sharing-download"></use>
                                    </svg>
                                </div>
                                <div class="fav__brochure-inner-card-dropdown">
                                    <div class="fav__brochure-inner-card-dropdown-inner">
                                        <div class="fav__brochure-inner-card-dropdown-mobile-row">
                                            <h3 class="fav__brochure-inner-card-dropdown-mobile-title">
                                                Скачать
                                            </h3>
                                            <button class="fav__brochure-inner-card-dropdown-mobile-close"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#modal-close"></use>
                                                </svg>
                                            </button>
                                        </div>

                                        <ul class="fav__brochure-inner-card-dropdown-list">
                                            <li class="fav__brochure-inner-card-dropdown-list-item">
                                                <a href="#" class="fav__brochure-inner-card-dropdown-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#pdf"></use>
                                                    </svg>
                                                    Скачать PDF
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>