<section class="breadcrumbs">
    <ul class="breadcrumbs-nav">
        <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">
                Главная
            </a>
            <span class="breadcrumbs__divider">
                <svg width="6" height="10" aria-hidden="true">
                     <use xlink:href="#breadcrumbs-arrow-right"></use>
                </svg>
            </span>
        </li>
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">
                Квартиры
            </a>
            <span class="breadcrumbs__divider">
                <svg width="6" height="10" aria-hidden="true">
                     <use xlink:href="#breadcrumbs-arrow-right"></use>
                </svg>
            </span>
        </li>
        <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">
                ЖК Южный Парк
            </a>
            <span class="breadcrumbs__divider">
                <svg width="6" height="10" aria-hidden="true">
                     <use xlink:href="#breadcrumbs-arrow-right"></use>
                </svg>
            </span>
        </li>
        <li class="breadcrumbs__item">
            <span class="breadcrumbs__text">
                Квартира №63
            </span>
        </li>
    </ul>
</section>
<section class="flat-plan">
  <div class="flat-plan__content">
      <div class="flat-plan__grid">
        <div class="flat-plan__left">
          <div class="flat-plan__tabs flat-plan-tabs">
            <div class="flat-plan-tabs__content flat-plan-tab-1 active">
                <div class="flat-plan__streets">
                    <span class="flat-plan__street flat-plan__street-top">
                      ул. Красная
                    </span>
                    <span class="flat-plan__street flat-plan__street-right">
                      пр-т Победы
                    </span>
                    <span class="flat-plan__street flat-plan__street-bottom">
                      пр-т Победы
                    </span>
                    <span class="flat-plan__street flat-plan__street-left">
                      ул. Павлюхина
                    </span>
                </div>
                <div class="flat-plan__compass">
                    <svg width="60" height="60" aria-hidden="true" class="flat-plan__compass-image">
                        <use xlink:href="#compas"></use>
                    </svg>
                </div>
                <img src="/images/flat/flat-big.png" width="472" height="472" class="flat-plan-tabs__image" alt />
            </div>
            <div class="flat-plan-tabs__content flat-plan-tab-2">
              <div class="flat-plan__streets">
                <span class="flat-plan__street flat-plan__street-top">
                  ул. Красная
                </span>
                  <span class="flat-plan__street flat-plan__street-right">
                  пр-т Победы
                </span>
                  <span class="flat-plan__street flat-plan__street-bottom">
                  пр-т Победы
                </span>
                  <span class="flat-plan__street flat-plan__street-left">
                  ул. Павлюхина
                </span>
              </div>
              <div class="flat-plan__compass">
                  <svg width="60" height="60" aria-hidden="true" class="flat-plan__compass-image">
                      <use xlink:href="#compas"></use>
                  </svg>
              </div>
              <img src="/images/flat/flat-flor.png" width="670" height="410" class="flat-plan-tabs__image" alt />
            </div>
            <div class="flat-plan-tabs__content flat-plan-tab-3">
                <div class="flat-plan-tabs__zoom" data-default-scale="1.7" data-min-scale="1.2" data-max-scale="2.6">
                    <div class="flat-plan-tabs__image-wrapper">
                        <div class="flat-plan-tabs__image-draggable">
                            <img src="/images/flat/genplan.png" width="1388" height="729" class="flat-plan-tabs__image-genplan" alt />
                            <svg viewBox="0 0 1388 729" class="flat-plan-tabs__svg">
                                <svg x="632" y="420" width="83" height="141" viewBox="0 0 83 141" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.5359 131.926L26.3021 132.073V132.35V140.056L3.08614 124.294L0.508265 35.3118L58.3716 0.575861L82.5 13.7051V101.792L45.7875 124.001L42.1354 122.377L41.8918 122.269L41.6661 122.411L26.5359 131.926Z" fill="#CF000C" fill-opacity="0.3" stroke="#CF000C"/>
                                </svg>
                                <g id="flat-plan__group" transform="translate(620,370)" style="touch-action: none;">
                                    <rect id="flat-plan__bg" width="103" height="42" rx="8" ry="8" fill="white" style="touch-action: none;"></rect>
                                    <text id="flat-plan__text" text-anchor="middle" dominant-baseline="middle" x="51" y="21" style="touch-action: none;">
                                        Секция 5
                                    </text>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="flat-plan-tabs__controls">
                    <button class="flat-plan-tabs__control flat-plan-tabs__decrease">
                        <svg width="20" height="20" aria-hidden="true">
                            <use xlink:href="#minus"></use>
                        </svg>
                    </button>
                    <button class="flat-plan-tabs__control flat-plan-tabs__increase">
                        <svg width="20" height="20" aria-hidden="true">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </button>
                </div>

            </div>

            <div class="flat-plan-tabs__content flat-plan-tab-4">
              <div class="flat-plan__compass ">
                  <img src="/images/flat/compas2.png" width="80" height="80" class="flat-plan__compass-image" alt />
              </div>
              <div class="flat-plan__content-window">
                <img src="/images/flat/flat-window.png" width="906" height="534" class="flat-plan-tabs__image" alt />
              </div>
            </div>
            <div class="swiper flat-plan-tabs-nav">
                <ul class="swiper-wrapper flat-plan-tabs__nav">
                    <li class="swiper-slide flat-plan-tabs__nav-item active flat-plan-tab-1">
                        <span class="flat-plan-tabs__nav-item-text">План квартиры</span>
                    </li>
                    <li class="swiper-slide flat-plan-tabs__nav-item flat-plan-tab-2">
                        <span class="flat-plan-tabs__nav-item-text">На этаже</span>
                    </li>
                    <li class="swiper-slide flat-plan-tabs__nav-item flat-plan-tab-3">
                        <span class="flat-plan-tabs__nav-item-text">На генплане</span>
                    </li>
                    <li class="swiper-slide flat-plan-tabs__nav-item flat-plan-tab-4">
                        <span class="flat-plan-tabs__nav-item-text">Вид из окон</span>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="flat-plan__right flat-plan-right">
            <div class="flat-plan-right__content">
                <form>
                    <div class="flat-plan-right__head">
                        <div class="flat-plan-right__name">
                            3 – комнатная 75,5 м2
                        </div>
                        <div class="flat-plan-right__actions">
                            <a href="#" class="flat-plan-right__actions-button flat-plan-right__actions-button--fav">
                                <svg width="16" height="16" aria-hidden="true">
                                    <use xlink:href="#fav"></use>
                                </svg>
                            </a>
                            <a href="#" class="flat-plan-right__actions-button flat-plan-right__actions-button--fav mobile-button mobile-button--fav">
                                <svg width="28" height="28" aria-hidden="true">
                                    <use xlink:href="#heart-big"></use>
                                </svg>
                            </a>
                            <a href="#" class="flat-plan-right__actions-button flat-plan-right__actions-button--share">
                                <svg width="16" height="16" aria-hidden="true">
                                    <use xlink:href="#share"></use>
                                </svg>
                            </a>
                            <a href="#" class="flat-plan-right__actions-button flat-plan-right__actions-button--print">
                                <svg width="16" height="16" aria-hidden="true">
                                    <use xlink:href="#print"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="flat-plan-right__prices">
                        <div class="flat-plan-right__price">
                            <div class="flat-plan-right__price-full">
                                4 900 000 ₽
                            </div>
                            <div class="flat-plan-right__price-m2">
                                200 655 руб за м2
                            </div>
                        </div>
                        <div class="flat-plan-right__price">
                            <div class="flat-plan-right__price-mortgage">
                                26 890 руб/мес
                            </div>
                            <div class="flat-plan-right__price-mortgage--text">
                                в ипотеку
                            </div>
                        </div>
                    </div>
                    <div class="flat-plan-right__properties flat-plan-properties">
                        <div class="flat-plan-properties__row">
                            <div class="flat-plan-properties__col">
                                Проект
                            </div>
                            <div class="flat-plan-properties__col">
                                Южный парк
                            </div>
                        </div>
                        <div class="flat-plan-properties__row">
                            <div class="flat-plan-properties__col">
                                Расположение
                            </div>
                            <div class="flat-plan-properties__col">
                                2 очередь, Секция 5
                            </div>
                        </div>
                        <div class="flat-plan-properties__row">
                            <div class="flat-plan-properties__col">
                                Этаж
                            </div>
                            <div class="flat-plan-properties__col">
                                6 / 19
                            </div>
                        </div>
                        <div class="flat-plan-properties__row">
                            <div class="flat-plan-properties__col">
                                Отделка
                            </div>
                            <div class="flat-plan-properties__col">
                                Чистовая
                            </div>
                        </div>
                        <div class="flat-plan-properties__row">
                            <div class="flat-plan-properties__col">
                                Высота потолков
                            </div>
                            <div class="flat-plan-properties__col">
                                2.7 м
                            </div>
                        </div>
                        <div class="flat-plan-properties__row">
                            <div class="flat-plan-properties__col">
                                Срок сдачи
                            </div>
                            <div class="flat-plan-properties__col">
                                2 квартал 2025
                            </div>
                        </div>
                    </div>
                    <div class="flat-plan-right__tags flat-plan-tags">
                        <div class="flat-plan-tag flat-plan-tag--blue">
                            <span class="flat-plan-tag__text">Комфорт класс</span>
                        </div>
                        <div class="flat-plan-tag flat-plan-tag--pink flat-plan-tag--icon">
                            <svg width="12" height="12" aria-hidden="true" class="flat-plan-tag__icon">
                                <use xlink:href="#flash"></use>
                            </svg>
                            <span class="flat-plan-tag__text">Со скидкой</span>
                        </div>
                        <div class="flat-plan-tag">
                            <span class="flat-plan-tag__text">Видовая</span>
                        </div>
                        <div class="flat-plan-tag flat-plan-tag--icon">
                            <span class="flat-plan-tag__text">С лоджией</span>
                            <svg width="12" height="12" aria-hidden="true" class="flat-plan-tag__icon">
                                <use xlink:href="#info"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="flat-plan__accordion">
                        <div class="flat-plan__accordion-title" data-text="Свернуть">
                            Все параметры
                        </div>
                        <div class="flat-plan__accordion-content">
                            <div class="flat-plan-right__properties flat-plan-properties">
                                <div class="flat-plan-properties__sub-title">
                                    Площадь комнат
                                </div>
                                <div class="flat-plan-properties__row">
                                    <div class="flat-plan-properties__col">
                                        Прихожая
                                    </div>
                                    <div class="flat-plan-properties__col">
                                        3,9 м²
                                    </div>
                                </div>
                                <div class="flat-plan-properties__row">
                                    <div class="flat-plan-properties__col">
                                        Кухня-ниша
                                    </div>
                                    <div class="flat-plan-properties__col">
                                        2,9 м²
                                    </div>
                                </div>
                                <div class="flat-plan-properties__row">
                                    <div class="flat-plan-properties__col">
                                        Студия
                                    </div>
                                    <div class="flat-plan-properties__col">
                                        12,3 м²
                                    </div>
                                </div>
                                <div class="flat-plan-properties__row">
                                    <div class="flat-plan-properties__col">
                                        С/У
                                    </div>
                                    <div class="flat-plan-properties__col">
                                        3,0 м²
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flat-plan-right__buttons flat-plan__buttons">
                        <button type="submit" class="flat-plan__button flat-plan__button--red">Забронировать</button>
                        <button type="button" class="flat-plan__button flat-plan__button--border" data-button-text="Консультация">Получить консультацию</button>
                    </div>
                    <div class="flat-plan__payments">
                            <input type="radio" name="payment-option" class="flat-plan__payments-input" id="mortgage-pay" value="1" checked>
                            <label class="flat-plan__payment" for="mortgage-pay">
                                <span class="flat-plan__payment-head">
                                    <span class="flat-plan__payment-top">

                                        <span class="flat-plan__payment-title">В ипотеку от 15%</span>
                                    </span>
                                    <span class="flat-plan__payment-text">
                                        Первоначальный взнос и ипотечный кредит от банка.
                                    </span>
                                </span>
                                <span class="flat-plan__payment-actions">
                                    <a href="#" class="flat-plan__payment-button">Подробнее</a>
                                    <span class="flat-plan__payment-price">
                                        <span class="flat-plan__payment-price-item">от 426,89 тыс. ₽</span>
                                        <span class="flat-plan__payment-price-text">Ежемесячный платеж</span>
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="payment-option" class="flat-plan__payments-input" id="full-pay" value="2">
                            <label class="flat-plan__payment" for="full-pay">
                                <span class="flat-plan__payment-head">
                                    <span class="flat-plan__payment-top">

                                        <span class="flat-plan__payment-title">100% оплата</span>
                                    </span>
                                    <span class="flat-plan__payment-text">
                                       Посредством ваших личных накоплений одним платежом без рассрочек и кредита от банка.
                                    </span>
                                </span>
                            </label>
                            <input type="radio" name="payment-option" class="flat-plan__payments-input" value="3" id="part-pay">
                            <label class="flat-plan__payment" for="part-pay">
                                <span class="flat-plan__payment-head">
                                    <span class="flat-plan__payment-top">
                                        <span class="flat-plan__payment-title">Рассрочка</span>
                                    </span>
                                    <span class="flat-plan__payment-text">
                                        Рассрочка без % или другие программы.
                                    </span>
                                </span>
                            </label>
                    </div>
                </form>
            </div>
        </div>
      </div>
  </div>
</section>
