<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top">
            <div class="page-footer__top-left-col">
                <a href="#" class="page-footer__logo">
                    <img src="/images/logo.svg" alt="" class="page-footer__logo-image">
                </a>
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <img src="/images/social/vk.svg" alt="" class="page-footer__social-link-icon">
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <img src="/images/social/telegram.svg" alt="" class="page-footer__social-link-icon">
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <img src="/images/social/ok.svg" alt="" class="page-footer__social-link-icon">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__top-right-col">
                <div class="page-footer__top-wrapper">
                    <h3 class="page-footer__heading">
                        Остались вопросы?
                    </h3>
                    <form action="/" method="POST" class="page-footer__form">
                        <div class="page-footer__form-row">
                            <div class="page-footer__form-fields">
                                <div class="page-footer__form-field">
                                    <div class="page-footer__form-input-wrapper">
                                        <input type="text" name="your-name" class="page-footer__form-input" required=""
                                            placeholder="Имя">
                                    </div>
                                </div>
                                <div class="page-footer__form-field">
                                    <div class="page-footer__form-input-wrapper">
                                        <input type="tel" name="your-phone" class="page-footer__form-input" required=""
                                            placeholder="Телефон">
                                    </div>
                                </div>
                            </div>
                            <button class="page-footer__form-submit" type="submit">
                                Оставить заявку
                            </button>
                        </div>
                        <div class="page-footer__form-policy">
                            Нажимая "Оставить заявку", вы соглашаетесь с <a href="#">
                                политикой конфиденциальности
                            </a>
                        </div>
                    </form>
                </div>
                <div class="page-footer__nav">
                    <ul class="page-footer__nav-list">
                        <li class="page-footer__nav-list-item">
                            <button class="page-footer__nav-title" type="button">
                                Покупателям
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#accordion-arrow"></use>
                                </svg>
                            </button>
                            <div class="page-footer__nav-links-list-wrapper">
                                <div class="page-footer__nav-links-list-wrapper-inner">
                                    <ul class="page-footer__nav-links-list">
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Проекты
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Квартиры
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Квартиры
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <button class="page-footer__nav-title" type="button">
                                Способы покупки
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#accordion-arrow"></use>
                                </svg>
                            </button>
                            <div class="page-footer__nav-links-list-wrapper">
                                <div class="page-footer__nav-links-list-wrapper-inner">
                                    <ul class="page-footer__nav-links-list">
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Оформление сделки онлайн
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Ипотека
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Рассрочка
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Материнский капитал
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <button class="page-footer__nav-title" type="button">
                                О нас
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#accordion-arrow"></use>
                                </svg>
                            </button>
                            <div class="page-footer__nav-links-list-wrapper">
                                <div class="page-footer__nav-links-list-wrapper-inner">
                                    <ul class="page-footer__nav-links-list">
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                О компании
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Новости
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Офисы продаж
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Оплата
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <button class="page-footer__nav-title" type="button">
                                Для жителей
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#accordion-arrow"></use>
                                </svg>
                            </button>
                            <div class="page-footer__nav-links-list-wrapper">
                                <div class="page-footer__nav-links-list-wrapper-inner">
                                    <ul class="page-footer__nav-links-list">
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Оплата
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Личный кабинет
                                            </a>
                                        </li>
                                        <li class="page-footer__nav-links-list-item">
                                            <a href="#" class="page-footer__nav-link">
                                                Выдача ключей
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom">
            <div class="page-footer__bottom-wrapper">


                <div class="page-footer__copyright">
                    © Суварстроит 2015 — 2024
                </div>
                <a href="#" class="page-footer__policy">
                    Политика конфиденциальности
                </a>
                <a href="#" class="page-footer__made-by">
                    Разработка сайта
                    <img src="/images/mark-weber.svg" alt="" class="page-footer__made-by-logo">
                </a>
            </div>
        </div>
    </div>
</footer>