<section class="gallery">
  <div class="gallery__content">
    <h2 class="gallery__heading">
      Фотогалерея
    </h2>
    <div class="gallery__grid gallery-tabs">
      <div class="gallery-tabs__buttons swiper">
        <ul class="gallery-tabs__list swiper-wrapper">
          <li data-tab-link="1" class="swiper-slide gallery-tabs__button gallery-tabs__button--active">
            <span class="gallery-tabs__button-text">Фасад дома</span>
          </li>
          <li data-tab-link="2" class="swiper-slide gallery-tabs__button">
            <span class="gallery-tabs__button-text">Лобби и подъезд</span>
          </li>
          <li data-tab-link="3" class="swiper-slide gallery-tabs__button">
            <span class="gallery-tabs__button-text">Вид из окна</span>
          </li>
          <li data-tab-link="4" class="swiper-slide gallery-tabs__button">
            <span class="gallery-tabs__button-text">Благоустройство</span>
          </li>
        </ul>
      </div>
      <div class="gallery-tabs__content">
        <div class="gallery-tabs__slider gallery-tabs__slider--active " data-tab-content="1">
          <div class="swiper gallery-tabs__swiper gallery-tabs__swiper--1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-tabs__nav gallery-nav">
            <div class="swiper gallery-tabs__nav-swiper gallery-tabs__nav-swiper--1 gallery-nav__swipper">
              <div class="swiper-wrapper gallery-nav__wrapper">
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery-tabs__slider" data-tab-content="2">
          <div class="swiper gallery-tabs__swiper gallery-tabs__swiper--2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-tabs__nav gallery-nav">
            <div class="swiper gallery-tabs__nav-swiper gallery-tabs__nav-swiper--2 gallery-nav__swipper">
              <div class="swiper-wrapper gallery-nav__wrapper">
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery-tabs__slider" data-tab-content="3">
          <div class="swiper gallery-tabs__swiper gallery-tabs__swiper--3">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-tabs__nav gallery-nav">
            <div class="swiper gallery-tabs__nav-swiper gallery-tabs__nav-swiper--3 gallery-nav__swipper">
              <div class="swiper-wrapper gallery-nav__wrapper">
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery-tabs__slider" data-tab-content="4">
          <div class="swiper gallery-tabs__swiper gallery-tabs__swiper--4">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="gallery-tabs__slider-card">
                  <img src="/images/flat/1.webp" alt="" class="gallery-tabs__slider-card-image">
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-tabs__nav gallery-nav">
            <div class="swiper gallery-tabs__nav-swiper gallery-tabs__nav-swiper--4 gallery-nav__swipper">
              <div class="swiper-wrapper gallery-nav__wrapper">
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
                <div class="swiper-slide gallery-nav__slide">
                  <div class="gallery-nav__slide-content">
                    <img src="/images/flat/1.webp" alt="" class="gallery-nav__slide-image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
