<section class="has-questions">
    <div class="has-questions__content">
        <div class="has-questions__card">
            <img src="/images/has-questions-text.svg" alt="" class="has-questions__card-bg">
            <div class="has-questions__card-text-content">
                <h2 class="has-questions__heading">
                    Остались вопросы?
                </h2>
                <div class="has-questions__text">
                    Оставьте заявку на бесплатную консультацию
                </div>
                <a href="#" class="has-questions__link js-open-callback-modal">
                    Получить консультацию
                </a>
            </div>
            <div class="has-questions__card-contacts">
                <div class="has-questions__card-contacts-image-container">
                    <img src="/images/has-questions.webp" alt="" class="has-questions__card-contacts-image">
                </div>
                <div class="has-questions__card-contacts-content">
                    <h4 class="has-questions__card-contacts-name">
                        Васильев Олег Олегович
                    </h4>
                    <div class="has-questions__card-contacts-role">
                        Ипотечный брокер
                    </div>
                    <div class="has-questions__card-contacts-text">
                        Помогу на каждом этапе сделки при покупке квартиры Вашей мечты!
                    </div>
                    <a href="tel:+79600529069" class="has-questions__card-contacts-phone">8 960 052-90-69</a>
                </div>
            </div>
        </div>
    </div>
</section>