<div class="submenu-overlay"></div>
<header class="page-header">
    <div class="page-header__inner">
        <a href="#" class="page-header__logo">
            <img src="/images/dark-logo.svg" alt="" class="page-header__logo-image">
        </a>
        <nav class="page-header__nav">
            <ul class="page-header__nav-list">
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Квартиры
                    </a>
                    <div class="page-header__nav-submenu">
                        <div class="page-header__nav-submenu-inner">
                            <div class="page-header__nav-submenu-top">
                                <div class="page-header__nav-submenu-aparts">
                                    <img src="/images/aparts.svg" alt="" class="page-header__nav-submenu-aparts-icon">
                                    <div class="page-header__nav-submenu-aparts-content">
                                        <ul class="page-header__nav-submenu-aparts-list">
                                            <li class="page-header__nav-submenu-aparts-list-item">
                                                <a href="#" class="page-header__nav-submenu-aparts-link">
                                                    Студии
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-aparts-list-item">
                                                <a href="#" class="page-header__nav-submenu-aparts-link">
                                                    1-комнатные
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-aparts-list-item">
                                                <a href="#" class="page-header__nav-submenu-aparts-link">
                                                    2-комнатные
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-aparts-list-item">
                                                <a href="#" class="page-header__nav-submenu-aparts-link">
                                                    3-комнатные
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-aparts-list-item">
                                                <a href="#" class="page-header__nav-submenu-aparts-link">
                                                    4+комнатные
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="page-header__nav-submenu-complex">
                                    <img src="/images/complex.svg" alt="" class="page-header__nav-submenu-complex-icon">
                                    <div class="page-header__nav-submenu-complex-content">
                                        <ul class="page-header__nav-submenu-complex-list">
                                            <li class="page-header__nav-submenu-complex-list-item">
                                                <a href="#" class="page-header__nav-submenu-complex-card">
                                                    <h3 class="page-header__nav-submenu-complex-card-title">
                                                        Южный парк
                                                    </h3>
                                                    <div class="page-header__nav-submenu-complex-card-location">
                                                        Лаишевский р-н
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-complex-list-item">
                                                <a href="#" class="page-header__nav-submenu-complex-card">
                                                    <h3 class="page-header__nav-submenu-complex-card-title">
                                                        Батталовский
                                                    </h3>
                                                    <div class="page-header__nav-submenu-complex-card-location">
                                                        Приволжский р-н
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-complex-list-item">
                                                <a href="#" class="page-header__nav-submenu-complex-card">
                                                    <h3 class="page-header__nav-submenu-complex-card-title">
                                                        Станция спрортивная
                                                    </h3>
                                                    <div class="page-header__nav-submenu-complex-card-location">
                                                        Приволжский р-н
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-complex-list-item">
                                                <a href="#" class="page-header__nav-submenu-complex-card">
                                                    <h3 class="page-header__nav-submenu-complex-card-title">
                                                        Сказочный лес
                                                    </h3>
                                                    <div class="page-header__nav-submenu-complex-card-location">
                                                        Приволжский р-н
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-complex-list-item">
                                                <a href="#" class="page-header__nav-submenu-complex-card">
                                                    <h3 class="page-header__nav-submenu-complex-card-title">
                                                        Времена года
                                                    </h3>
                                                    <div class="page-header__nav-submenu-complex-card-location">
                                                        Приволжский р-н
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-complex-list-item">
                                                <a href="#" class="page-header__nav-submenu-complex-card">
                                                    <h3 class="page-header__nav-submenu-complex-card-title">
                                                        Палитра
                                                    </h3>
                                                    <div class="page-header__nav-submenu-complex-card-location">
                                                        Приволжский р-н
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-complex-list-item">
                                                <a href="#" class="page-header__nav-submenu-complex-card">
                                                    <h3 class="page-header__nav-submenu-complex-card-title">
                                                        Столичный
                                                    </h3>
                                                    <div class="page-header__nav-submenu-complex-card-location">
                                                        Ново-Савиновский р-н
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-complex-list-item">
                                                <a href="#" class="page-header__nav-submenu-complex-card">
                                                    <h3 class="page-header__nav-submenu-complex-card-title">
                                                        Отражение
                                                    </h3>
                                                    <div class="page-header__nav-submenu-complex-card-location">
                                                        Приволжский р-н
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="page-header__nav-submenu-features">
                                    <img src="/images/features.svg" alt=""
                                        class="page-header__nav-submenu-features-icon">
                                    <div class="page-header__nav-submenu-features-content">
                                        <ul class="page-header__nav-submenu-features-list">
                                            <li class="page-header__nav-submenu-features-list-item">
                                                <a href="#" class="page-header__nav-submenu-features-link">
                                                    С отделкой
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-features-list-item">
                                                <a href="#" class="page-header__nav-submenu-features-link">
                                                    Двухуровневые
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-features-list-item">
                                                <a href="#" class="page-header__nav-submenu-features-link">
                                                    С террасой
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="page-header__nav-submenu-bottom">
                                <a href="tel:+78005515813" class="page-header__nav-submenu-phone">+7 (800) 551-58-13</a>
                                <ul class="page-header__nav-submenu-social-list">
                                    <li class="page-header__nav-submenu-social-list-item">
                                        <a href="#" class="page-header__nav-submenu-social-link">
                                            Youtube
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="page-header__nav-submenu-social-list-item">
                                        <a href="#" class="page-header__nav-submenu-social-link">
                                            Вконтакте
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="page-header__nav-submenu-social-list-item">
                                        <a href="#" class="page-header__nav-submenu-social-link">
                                            Telegram
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#diagonal-arrow"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <a href="mailto:info@suvarstroit.ru"
                                    class="page-header__nav-submenu-email">info@suvarstroit.ru</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Паркинг
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Кладовые
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Коммерция
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Ипотека
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="page-header__right-wrapper">


            <div class="page-header__contacts">
                <a href="tel:+78004441494" class="page-header__phone">8-800-444-14-94</a>
                <div class="page-header__schedule">
                    ежедневно с 9:00 до 20:00
                </div>
            </div>
            <div class="page-header__buttons">
                <a href="#" class="page-header__button page-header__button--fav">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#fav"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__button page-header__button--user">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#user"></use>
                    </svg>
                </a>
                <button class="page-header__button page-header__button--burger">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#burger"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
{{> mobile-menu }}
{{> bottom-nav }}