<section class="home-news">
    <div class="home-news__content">
        <div class="home-news__top-row">
            <h2 class="home-news__heading">
                Новости
            </h2>
            <a href="#" class="home-news__show-all">
                Смотреть все
            </a>
            <div class="home-news__arrows">
                <button class="home-news__arrow home-news__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="home-news__arrow home-news__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="home-news__bottom-row">
            <div class="home-news__left-col">
                <a href="#" class="home-news__subscribe-link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#subscribe"></use>
                    </svg>
                    Подписаться на рассылку
                </a>
            </div>
            <div class="home-news__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__image-container">
                                    <img src="/images/home-news/1.webp" alt="" class="news-card__image">
                                </div>
                                <div class="news-card__content">
                                    <h3 class="news-card__title">
                                        Субсидированная процентная ставка 5,5% по программе “Господдержка 2020”
                                    </h3>
                                    <div class="news-card__desc">
                                        Программа &laquo;Господдержка&nbsp;&mdash; 2020&raquo; устанавливается для
                                        граждан&nbsp;РФ, приобретающих
                                        ипотеку в&nbsp;новостройке, при следующих условиях: первоначальный взнос
                                        от&nbsp;30,1%,
                                        срок кредита до&nbsp;30&nbsp;лет, максимальная сумма кредита
                                        до&nbsp;6&nbsp;млн&nbsp;₽
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            11.01.2024
                                        </div>
                                        <div class="news-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__image-container">
                                    <img src="/images/home-news/2.webp" alt="" class="news-card__image">
                                </div>
                                <div class="news-card__content">
                                    <h3 class="news-card__title">
                                        Ипотека под 2,5%
                                        для IT-специалистов
                                    </h3>
                                    <div class="news-card__desc">
                                        Программа &laquo;Господдержка&nbsp;&mdash; 2020&raquo; устанавливается для
                                        граждан&nbsp;РФ, приобретающих
                                        ипотеку в&nbsp;новостройке, при следующих условиях: первоначальный взнос
                                        от&nbsp;30,1%,
                                        срок кредита до&nbsp;30&nbsp;лет, максимальная сумма кредита
                                        до&nbsp;6&nbsp;млн&nbsp;₽
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            11.01.2024
                                        </div>
                                        <div class="news-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__image-container">
                                    <img src="/images/home-news/3.webp" alt="" class="news-card__image">
                                </div>
                                <div class="news-card__content">
                                    <h3 class="news-card__title">
                                        Отраженная дата 07.07 - старт бронирования квартир в новом ЖК «Отражение»
                                    </h3>
                                    <div class="news-card__desc">
                                        Программа &laquo;Господдержка&nbsp;&mdash; 2020&raquo; устанавливается для
                                        граждан&nbsp;РФ, приобретающих
                                        ипотеку в&nbsp;новостройке, при следующих условиях: первоначальный взнос
                                        от&nbsp;30,1%,
                                        срок кредита до&nbsp;30&nbsp;лет, максимальная сумма кредита
                                        до&nbsp;6&nbsp;млн&nbsp;₽
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            11.01.2024
                                        </div>
                                        <div class="news-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__image-container">
                                    <img src="/images/home-news/1.webp" alt="" class="news-card__image">
                                </div>
                                <div class="news-card__content">
                                    <h3 class="news-card__title">
                                        Субсидированная процентная ставка 5,5% по программе “Господдержка 2020”
                                    </h3>
                                    <div class="news-card__desc">
                                        Программа &laquo;Господдержка&nbsp;&mdash; 2020&raquo; устанавливается для
                                        граждан&nbsp;РФ, приобретающих
                                        ипотеку в&nbsp;новостройке, при следующих условиях: первоначальный взнос
                                        от&nbsp;30,1%,
                                        срок кредита до&nbsp;30&nbsp;лет, максимальная сумма кредита
                                        до&nbsp;6&nbsp;млн&nbsp;₽
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            11.01.2024
                                        </div>
                                        <div class="news-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__image-container">
                                    <img src="/images/home-news/2.webp" alt="" class="news-card__image">
                                </div>
                                <div class="news-card__content">
                                    <h3 class="news-card__title">
                                        Ипотека под 2,5%
                                        для IT-специалистов
                                    </h3>
                                    <div class="news-card__desc">
                                        Программа &laquo;Господдержка&nbsp;&mdash; 2020&raquo; устанавливается для
                                        граждан&nbsp;РФ, приобретающих
                                        ипотеку в&nbsp;новостройке, при следующих условиях: первоначальный взнос
                                        от&nbsp;30,1%,
                                        срок кредита до&nbsp;30&nbsp;лет, максимальная сумма кредита
                                        до&nbsp;6&nbsp;млн&nbsp;₽
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            11.01.2024
                                        </div>
                                        <div class="news-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__image-container">
                                    <img src="/images/home-news/3.webp" alt="" class="news-card__image">
                                </div>
                                <div class="news-card__content">
                                    <h3 class="news-card__title">
                                        Отраженная дата 07.07 - старт бронирования квартир в новом ЖК «Отражение»
                                    </h3>
                                    <div class="news-card__desc">
                                        Программа &laquo;Господдержка&nbsp;&mdash; 2020&raquo; устанавливается для
                                        граждан&nbsp;РФ, приобретающих
                                        ипотеку в&nbsp;новостройке, при следующих условиях: первоначальный взнос
                                        от&nbsp;30,1%,
                                        срок кредита до&nbsp;30&nbsp;лет, максимальная сумма кредита
                                        до&nbsp;6&nbsp;млн&nbsp;₽
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            11.01.2024
                                        </div>
                                        <div class="news-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>