<section class="intro">
    <div class="intro__content intro__content--fullwidth">
        <div class="intro__grid">
            <div class="intro__slider-item intro__slider-item--wide intro__slider-item--fullscreen">
                <div class="intro__bg-slider-wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="intro__bg-slider-card">
                                    <picture>
                                        <source srcset="/images/intro-large-bg.webp" media="(max-width: 640px)" />
                                        <img src="/images/intro-large-bg.webp" alt="DOMRF"
                                            class="intro__bg-slider-card-image" />
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__bg-slider-card">
                                    <picture>
                                        <source srcset="/images/intro-large-bg.webp" media="(max-width: 640px)" />
                                        <img src="/images/intro-large-bg.webp" alt="DOMRF"
                                            class="intro__bg-slider-card-image" />
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__bg-slider-card">
                                    <picture>
                                        <source srcset="/images/intro-large-bg.webp" media="(max-width: 640px)" />
                                        <img src="/images/intro-large-bg.webp" alt="DOMRF"
                                            class="intro__bg-slider-card-image" />
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__bg-slider-card">
                                    <picture>
                                        <source srcset="/images/intro-large-bg.webp" media="(max-width: 640px)" />
                                        <img src="/images/intro-large-bg.webp" alt="DOMRF"
                                            class="intro__bg-slider-card-image" />
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro__main-slider-wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="intro__slider-card">

                                    <div class="intro__slider-card-row">
                                        <div class="intro__slider-card-left-col">
                                            <div class="intro__slider-card-title-wrapper">
                                                <h3 class="intro__slider-card-title">
                                                    Южный парк
                                                </h3>
                                                <div class="intro__slider-card-desc">
                                                    Жилой комплекс «Южный парк» — это комплекс жилых домов внутри
                                                    большой
                                                    лесопарковой территории
                                                </div>
                                            </div>
                                            <ul class="intro__slider-card-tags-list">
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        Комфорт
                                                    </div>
                                                </li>
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        <img src="/images/project-intro/key.svg" alt=""
                                                            class="intro__slider-card-tag-icon">
                                                        Кладовые
                                                    </div>
                                                </li>
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        Паркинг
                                                    </div>
                                                </li>
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        Кладовые
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                        <picture>
                                            <source srcset="/images/domrf-mobile.webp" media="(max-width: 640px)" />
                                            <img src="/images/domrf.webp" alt="DOMRF"
                                                class="intro__slider-card-domrf" />
                                        </picture>
                                    </div>
                                    <a href="#" class="intro__slider-card-link">
                                        Выбрать квартиру
                                    </a>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__slider-card">

                                    <div class="intro__slider-card-row">
                                        <div class="intro__slider-card-left-col">
                                            <div class="intro__slider-card-title-wrapper">
                                                <h3 class="intro__slider-card-title">
                                                    Станция спортивная
                                                </h3>
                                                <div class="intro__slider-card-desc">
                                                    Жилой комплекс «Южный парк» — это комплекс жилых домов внутри
                                                    большой
                                                    лесопарковой территории
                                                </div>
                                            </div>
                                            <ul class="intro__slider-card-tags-list">
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        Комфорт
                                                    </div>
                                                </li>
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        <img src="/images/project-intro/key.svg" alt=""
                                                            class="intro__slider-card-tag-icon">
                                                        Сдача в 2026
                                                    </div>
                                                </li>
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        Кладовые
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                        <picture>
                                            <source srcset="/images/domrf-mobile.webp" media="(max-width: 640px)" />
                                            <img src="/images/domrf.webp" alt="DOMRF"
                                                class="intro__slider-card-domrf" />
                                        </picture>
                                    </div>
                                    <a href="#" class="intro__slider-card-link">
                                        Выбрать квартиру
                                    </a>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__slider-card">

                                    <div class="intro__slider-card-row">
                                        <div class="intro__slider-card-left-col">
                                            <div class="intro__slider-card-title-wrapper">
                                                <h3 class="intro__slider-card-title">
                                                    Южный парк
                                                </h3>
                                                <div class="intro__slider-card-desc">
                                                    Жилой комплекс «Южный парк» — это комплекс жилых домов внутри
                                                    большой
                                                    лесопарковой территории
                                                </div>
                                            </div>
                                            <ul class="intro__slider-card-tags-list">
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        Комфорт
                                                    </div>
                                                </li>
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        <img src="/images/project-intro/key.svg" alt=""
                                                            class="intro__slider-card-tag-icon">
                                                        Сдача в 2026
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                        <picture>
                                            <source srcset="/images/domrf-mobile.webp" media="(max-width: 640px)" />
                                            <img src="/images/domrf.webp" alt="DOMRF"
                                                class="intro__slider-card-domrf" />
                                        </picture>
                                    </div>
                                    <a href="#" class="intro__slider-card-link">
                                        Выбрать квартиру
                                    </a>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__slider-card">

                                    <div class="intro__slider-card-row">
                                        <div class="intro__slider-card-left-col">
                                            <div class="intro__slider-card-title-wrapper">
                                                <h3 class="intro__slider-card-title">
                                                    Станция спортивная
                                                </h3>
                                                <div class="intro__slider-card-desc">
                                                    Жилой комплекс «Южный парк» — это комплекс жилых домов внутри
                                                    большой
                                                    лесопарковой территории
                                                </div>
                                            </div>
                                            <ul class="intro__slider-card-tags-list">
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        Комфорт
                                                    </div>
                                                </li>
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        <img src="/images/project-intro/key.svg" alt=""
                                                            class="intro__slider-card-tag-icon">
                                                        Сдача в 2026
                                                    </div>
                                                </li>
                                                <li class="intro__slider-card-tags-list-item">
                                                    <div class="intro__slider-card-tag">
                                                        Кладовые
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                        <picture>
                                            <source srcset="/images/domrf-mobile.webp" media="(max-width: 640px)" />
                                            <img src="/images/domrf.webp" alt="DOMRF"
                                                class="intro__slider-card-domrf" />
                                        </picture>
                                    </div>
                                    <a href="#" class="intro__slider-card-link">
                                        Выбрать квартиру
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro__slider-item-cursor">
                    <div class="intro__slider-item-cursor-inner">

                    </div>
                </div>
                <div class="intro__slider-pagination">

                </div>
            </div>
        </div>
    </div>
</section>