<section class="blue-intro">
    <div class="blue-intro__content">
        <div class="blue-intro__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="blue-intro__slider-card">
                            <div class="blue-intro__slider-card-bg">


                                <picture>
                                    <source srcset="/images/blue-intro-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/blue-intro.webp" alt="MDN"
                                        class="blue-intro__slider-card-image" />
                                </picture>
                            </div>
                            <div class="blue-intro__slider-card-content">
                                <h2 class="blue-intro__slider-card-title">
                                    Ипотека под 2,5%
                                    для <b>IT-специалистов</b>
                                </h2>
                                <div class="blue-intro__slider-card-text">
                                    Субсидированная процентная ставка в размере 2,5% годовых на весь срок кредитования
                                </div>
                                <a href="#" class="blue-intro__slider-card-link">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blue-intro__slider-card">
                            <div class="blue-intro__slider-card-bg">


                                <picture>
                                    <source srcset="/images/blue-intro-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/blue-intro.webp" alt="MDN"
                                        class="blue-intro__slider-card-image" />
                                </picture>
                            </div>
                            <div class="blue-intro__slider-card-content">
                                <h2 class="blue-intro__slider-card-title">
                                    Ипотека под 2,5%
                                    для <b>IT-специалистов</b>
                                </h2>
                                <div class="blue-intro__slider-card-text">
                                    Субсидированная процентная ставка в размере 2,5% годовых на весь срок кредитования
                                </div>
                                <a href="#" class="blue-intro__slider-card-link">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blue-intro__slider-card">
                            <div class="blue-intro__slider-card-bg">


                                <picture>
                                    <source srcset="/images/blue-intro-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/blue-intro.webp" alt="MDN"
                                        class="blue-intro__slider-card-image" />
                                </picture>
                            </div>
                            <div class="blue-intro__slider-card-content">
                                <h2 class="blue-intro__slider-card-title">
                                    Ипотека под 2,5%
                                    для <b>IT-специалистов</b>
                                </h2>
                                <div class="blue-intro__slider-card-text">
                                    Субсидированная процентная ставка в размере 2,5% годовых на весь срок кредитования
                                </div>
                                <a href="#" class="blue-intro__slider-card-link">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blue-intro__slider-card">
                            <div class="blue-intro__slider-card-bg">


                                <picture>
                                    <source srcset="/images/blue-intro-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/blue-intro.webp" alt="MDN"
                                        class="blue-intro__slider-card-image" />
                                </picture>
                            </div>
                            <div class="blue-intro__slider-card-content">
                                <h2 class="blue-intro__slider-card-title">
                                    Ипотека под 2,5%
                                    для <b>IT-специалистов</b>
                                </h2>
                                <div class="blue-intro__slider-card-text">
                                    Субсидированная процентная ставка в размере 2,5% годовых на весь срок кредитования
                                </div>
                                <a href="#" class="blue-intro__slider-card-link">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blue-intro__slider-pagination">

            </div>
        </div>
    </div>
</section>