<div class="subscribe-modal" id="subscribe-modal">
    <div class="subscribe-modal__content">
        <button class="subscribe-modal__close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="subscribe-modal__content-inner">


            <div class="subscribe-modal__image-wrapper">
                <img src="/images/subscribe-modal.webp" alt="" class="subscribe-modal__image">
            </div>
            <div class="subscribe-modal__text-content">
                <h3 class="subscribe-modal__title">
                    Подпишитесь на e-mail рассылку и узнавайте об обновлениях первыми
                </h3>
                <form action="/" method="POST" class="subscribe-modal__form">
                    <div class="subscribe-modal__form-fields">
                        <div class="subscribe-modal__form-field">
                            <div class="subscribe-modal__input-wrapper">
                                <input type="email" class="subscribe-modal__input" required="" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <button class="subscribe-modal__submit" type="submit">
                        Подписаться
                    </button>
                    <div class="subscribe-modal__policy">
                        Нажимая "Подписаться", вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="callback-modal" id="callback-modal">
    <div class="callback-modal__inner">
        <div class="callback-modal__heading-wrapper">
            <h3 class="callback-modal__heading">
                Заказать обратный звонок
            </h3>
            <button class="callback-modal__close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#modal-close"></use>
                </svg>
            </button>
        </div>
        <div class="callback-modal__text">
            Менеджер свяжется с вами для подтверждения заявки и согласует время консультации
        </div>
        <form action="/" class="callback-modal__form" method="POST">
            <div class="callback-modal__fields">
                <div class="callback-modal__field">
                    <div class="callback-modal__input-wrapper">
                        <input type="text" name="your-name" class="callback-modal__input" placeholder="Имя" required="">
                    </div>
                </div>
                <div class="callback-modal__field">
                    <div class="callback-modal__input-wrapper">
                        <input type="tel" name="your-phone" class="callback-modal__input" placeholder="Телефон"
                            required="">
                    </div>
                </div>
            </div>
            <button class="callback-modal__submit" type="submit">
                Отставить заявку
            </button>
            <div class="callback-modal__policy">
                Нажимая "Отставить заявку", вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
            </div>
        </form>
    </div>
</div>
<div class="callback-modal" id="success-modal">
    <div class="callback-modal__inner">
        <div class="callback-modal__heading-wrapper">
            <h3 class="callback-modal__heading">
                Заявка отправлена
            </h3>
            <button class="callback-modal__close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#modal-close"></use>
                </svg>
            </button>
        </div>
        <div class="callback-modal__text">
            Менеджер свяжется с вами для подтверждения заявки и согласует время консультации
        </div>

    </div>
</div>