<section class="mortgage mortgage--calculator" id="mortgage-calculator">
    <div class="mortgage__content">
        <div class="mortgage__top-row">
            <h2 class="mortgage__heading">
                Калькулятор ипотеки
            </h2>

        </div>
        <div class="mortgage__bottom-row">
            <div class="mortgage__left-col">
                <h3 class="mortgage__calculator-heading">
                    Рассчитайте выгодные<br> условия по&nbsp;ипотеке
                </h3>
                <form action="/" method="POST" class="mortgage__form">
                    <div class="mortgage__form-fields">
                        <div class="mortgage__form-field">
                            <div class="mortgage__form-field-label">
                                Стоимость квартиры
                            </div>
                            <div class="mortgage__form-range">
                                <div class="mortgage__form-range-value">
                                    <div class="mortgage__form-range-value-text">
                                        5 689 000 руб.
                                    </div>
                                </div>
                                <div class="mortgage__form-range-input-wrapper">
                                    <input type="range" min="1000000" max="10000000" value="5000000" step="100000">
                                    <div class="mortgage__form-range-input-progress"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mortgage__form-field">
                            <div class="mortgage__form-field-label">
                                Первоначальный взнос
                            </div>
                            <div class="mortgage__form-range">
                                <div class="mortgage__form-range-value">
                                    <div class="mortgage__form-range-value-text">
                                        5 689 000 руб.
                                    </div>
                                    <div class="mortgage__form-range-value-percent">
                                        50,8%
                                    </div>
                                </div>
                                <div class="mortgage__form-range-input-wrapper">
                                    <input type="range" min="500000" max="10000000" value="1000000" step="10000">
                                    <div class="mortgage__form-range-input-progress"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mortgage__form-field">
                            <div class="mortgage__form-field-label">
                                Программа ипотеки
                            </div>
                            <div class="mortgage__form-select" data-placeholder="Выбрать программу">
                                <button class="mortgage__form-select-btn" type="button">
                                    <span class="mortgage__form-select-btn-text js-btn-text">
                                        Выбрать программу
                                    </span>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </button>
                                <div class="mortgage__form-select-dropdown">
                                    <div class="mortgage__form-select-dropdown-inner">
                                        <ul class="mortgage__form-select-list">
                                            <li class="mortgage__form-select-list-item">
                                                <label class="mortgage__form-select-radio">
                                                    <input type="radio" name="program"
                                                        class="mortgage__form-select-radio-input"
                                                        value="Ипотека для IT специалистов">
                                                    <span class="mortgage__form-select-radio-mark">

                                                    </span>
                                                    <span class="mortgage__form-select-radio-text">
                                                        Ипотека для IT специалистов
                                                    </span>

                                                </label>
                                            </li>
                                            <li class="mortgage__form-select-list-item">
                                                <label class="mortgage__form-select-radio">
                                                    <input type="radio" name="program"
                                                        class="mortgage__form-select-radio-input"
                                                        value="Ипотека с господдержкой">
                                                    <span class="mortgage__form-select-radio-mark">

                                                    </span>
                                                    <span class="mortgage__form-select-radio-text">
                                                        Ипотека с господдержкой
                                                    </span>

                                                </label>
                                            </li>
                                            <li class="mortgage__form-select-list-item">
                                                <label class="mortgage__form-select-radio">
                                                    <input type="radio" name="program"
                                                        class="mortgage__form-select-radio-input"
                                                        value="Губернаторская ипотека">
                                                    <span class="mortgage__form-select-radio-mark">

                                                    </span>
                                                    <span class="mortgage__form-select-radio-text">
                                                        Губернаторская ипотека
                                                    </span>

                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mortgage__form-field">
                            <div class="mortgage__form-field-label">
                                Срок кредита
                            </div>
                            <div class="mortgage__form-range">
                                <div class="mortgage__form-range-value">
                                    <div class="mortgage__form-range-value-text">
                                        5 689 000 руб.
                                    </div>

                                </div>
                                <div class="mortgage__form-range-input-wrapper">
                                    <input type="range" min="1" max="30" value="5" step="1" data-format="years">
                                    <div class="mortgage__form-range-input-progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mortgage__form-result">
                        <div class="mortgage__form-result-key">
                            Ежемесячный платеж
                        </div>
                        <div class="mortgage__form-result-value">
                            <span class="mortgage__form-result-value-from">
                                от
                            </span>
                            39 713 ₽
                        </div>
                    </div>
                    <button class="mortgage__form-submit js-open-mortgage-modal" type="submit">
                        Отправить онлайн-заявку
                    </button>
                </form>
            </div>
            <div class="mortgage__right-col">
                <div class="mortgage__results">
                    <div class="mortgage__results-header">
                        <div class="mortgage__results-header-inner">


                            <div class="mortgage__results-header-item">
                                Ставка процента
                            </div>
                            <div class="mortgage__results-header-item">
                                Срок кредита
                            </div>
                            <div class="mortgage__results-header-item">
                                Первый взнос
                            </div>
                            <div class="mortgage__results-header-item">
                                Платёж в месяц
                            </div>
                        </div>
                    </div>
                    <div class="mortgage__results-scroll-wrapper">
                        <ul class="mortgage__results-list">
                            <li class="mortgage__results-list-item">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage-calculator/1.webp" alt=""
                                                class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            Дом РФ
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 4,6 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Ставка процента
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    до 25 лет
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Срок кредита
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 15 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Первый взнос
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    14 000 ₽/мес
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Платёж в месяц
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mortgage__results-list-item">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage-calculator/2.webp" alt=""
                                                class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            Сбер
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 4,6 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Ставка процента
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    до 25 лет
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Срок кредита
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 15 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Первый взнос
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    14 000 ₽/мес
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Платёж в месяц
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mortgage__results-list-item">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage-calculator/3.webp" alt=""
                                                class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            ВТБ
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 4,6 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Ставка процента
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    до 25 лет
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Срок кредита
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 15 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Первый взнос
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    14 000 ₽/мес
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Платёж в месяц
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mortgage__results-list-item">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage-calculator/4.webp" alt=""
                                                class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            Металлинвестбанк
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 4,6 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Ставка процента
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    до 25 лет
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Срок кредита
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 15 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Первый взнос
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    14 000 ₽/мес
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Платёж в месяц
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mortgage__results-list-item">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage-calculator/5.webp" alt=""
                                                class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            Совкомбанк
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 4,6 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Ставка процента
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    до 25 лет
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Срок кредита
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 15 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Первый взнос
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    14 000 ₽/мес
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Платёж в месяц
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="mortgage__results-list-item">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage-calculator/6.webp" alt=""
                                                class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            Альфа-Банк
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 4,6 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Ставка процента
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    до 25 лет
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Срок кредита
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    от 15 %
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Первый взнос
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    14 000 ₽/мес
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    Платёж в месяц
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </li>

                        </ul>
                        <a href="#" class="mortgage__results-show-more">
                            Показать еще 8 предложений из 20
                        </a>
                    </div>
                </div>


            </div>
        </div>
        <div class="mortgage__remark">
            Расчёт примерный, не является публичной офертой
        </div>
    </div>
</section>