<section class="mortgage-intro">
    <div class="mortgage-intro__bg">
        <picture>
            <source srcset="/images/mortgage-intro-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/mortgage-intro.webp" alt="MDN" class="mortgage-intro__bg-image" />
        </picture>
    </div>
    <div class="mortgage-intro__content">
        <div class="mortgage-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Ипотека
            </a>
        </div>
        <h1 class="mortgage-intro__heading">
            Ипотека – <em>это легко</em>
        </h1>
        <div class="mortgage-intro__text">
            Уникальные ипотечные программы и специальные условия от ведущих банков. Просто заполните анкету и получите
            одобрение. Всего один шаг, и квартира будет ваша.
        </div>
        <div class="mortgage-intro__btns">
            <a href="#mortgage-calculator" class="mortgage-intro__btn mortgage-intro__btn--filled">
                <span class="mortgage-intro__btn-desktop-text">
                    Рассчитать ипотеку
                </span>
                <span class="mortgage-intro__btn-mobile-text">
                    Рассчитать
                </span>
            </a>
            <a href="#" class="mortgage-intro__btn js-open-callback-modal">
                <span class="mortgage-intro__btn-desktop-text">
                    Получить консультацию
                </span>
                <span class="mortgage-intro__btn-mobile-text">
                    Консультация
                </span>
            </a>
        </div>
    </div>
</section>