<section class="mortgage" id="mortgage">
    <div class="mortgage__content">
        <div class="mortgage__top-row">
            <h2 class="mortgage__heading">
                Ипотечные программы
            </h2>
            <a href="#" class="mortgage__show-all">
                Смотреть все
            </a>
        </div>
        <div class="mortgage__bottom-row">
            <div class="mortgage__left-col">
                <form action="/" method="POST" class="mortgage__form">
                    <div class="mortgage__form-fields">
                        <div class="mortgage__form-field">
                            <div class="mortgage__form-field-label">
                                Стоимость квартиры
                            </div>
                            <div class="mortgage__form-range">
                                <div class="mortgage__form-range-value">
                                    <div class="mortgage__form-range-value-text">
                                        5 689 000 руб.
                                    </div>
                                </div>
                                <div class="mortgage__form-range-input-wrapper">
                                    <input type="range" min="1000000" max="10000000" value="5000000" step="100000">
                                    <div class="mortgage__form-range-input-progress"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mortgage__form-field">
                            <div class="mortgage__form-field-label">
                                Первоначальный взнос
                            </div>
                            <div class="mortgage__form-range">
                                <div class="mortgage__form-range-value">
                                    <div class="mortgage__form-range-value-text">
                                        5 689 000 руб.
                                    </div>
                                    <div class="mortgage__form-range-value-percent">
                                        50,8%
                                    </div>
                                </div>
                                <div class="mortgage__form-range-input-wrapper">
                                    <input type="range" min="500000" max="10000000" value="1000000" step="10000">
                                    <div class="mortgage__form-range-input-progress"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mortgage__form-field">
                            <div class="mortgage__form-field-label">
                                Программа ипотеки
                            </div>
                            <div class="mortgage__form-select" data-placeholder="Выбрать программу">
                                <button class="mortgage__form-select-btn" type="button">
                                    <span class="mortgage__form-select-btn-text js-btn-text">
                                        Выбрать программу
                                    </span>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </button>
                                <div class="mortgage__form-select-dropdown">
                                    <div class="mortgage__form-select-dropdown-inner">
                                        <ul class="mortgage__form-select-list">
                                            <li class="mortgage__form-select-list-item">
                                                <label class="mortgage__form-select-radio">
                                                    <input type="radio" name="program"
                                                        class="mortgage__form-select-radio-input"
                                                        value="Ипотека для IT специалистов">
                                                    <span class="mortgage__form-select-radio-mark">

                                                    </span>
                                                    <span class="mortgage__form-select-radio-text">
                                                        Ипотека для IT специалистов
                                                    </span>

                                                </label>
                                            </li>
                                            <li class="mortgage__form-select-list-item">
                                                <label class="mortgage__form-select-radio">
                                                    <input type="radio" name="program"
                                                        class="mortgage__form-select-radio-input"
                                                        value="Ипотека с господдержкой">
                                                    <span class="mortgage__form-select-radio-mark">

                                                    </span>
                                                    <span class="mortgage__form-select-radio-text">
                                                        Ипотека с господдержкой
                                                    </span>

                                                </label>
                                            </li>
                                            <li class="mortgage__form-select-list-item">
                                                <label class="mortgage__form-select-radio">
                                                    <input type="radio" name="program"
                                                        class="mortgage__form-select-radio-input"
                                                        value="Губернаторская ипотека">
                                                    <span class="mortgage__form-select-radio-mark">

                                                    </span>
                                                    <span class="mortgage__form-select-radio-text">
                                                        Губернаторская ипотека
                                                    </span>

                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mortgage__form-field">
                            <div class="mortgage__form-field-label">
                                Срок кредита
                            </div>
                            <div class="mortgage__form-range">
                                <div class="mortgage__form-range-value">
                                    <div class="mortgage__form-range-value-text">
                                        5 689 000 руб.
                                    </div>

                                </div>
                                <div class="mortgage__form-range-input-wrapper">
                                    <input type="range" min="1" max="30" value="5" step="1" data-format="years">
                                    <div class="mortgage__form-range-input-progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mortgage__form-result">
                        <div class="mortgage__form-result-key">
                            Ежемесячный платеж
                        </div>
                        <div class="mortgage__form-result-value">

                            20 000 ₽
                        </div>
                    </div>
                    <button class="mortgage__form-submit" type="submit">
                        Отправить онлайн-заявку
                    </button>
                </form>
            </div>
            <div class="mortgage__right-col">
                <div class="mortgage__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage/1.svg" alt="" class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            Семейная<br>
                                            ипотека
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    <span>от</span> 15%
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    первоначальный взнос
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    6%
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    процентная ставка
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    30 <span>лет</span>
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    макс. cрок кредита
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    6 <span>млн</span>
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    макс. сумма кредита
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage/2.svg" alt="" class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            Ипотека для IT специалистов
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    <span>от</span> 15%
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    первоначальный взнос
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    5%
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    процентная ставка
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    30 <span>лет</span>
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    срок кредита
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    9 <span>млн</span>
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    сумма кредита
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage/3.svg" alt="" class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            Ипотека с&nbsp;господдержкой
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    <span>от</span> 15%
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    первоначальный взнос
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    5%
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    процентная ставка
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    30 <span>лет</span>
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    срок кредита
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    6 <span>млн</span>
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    сумма кредита
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="mortgage__card">
                                    <div class="mortgage__card-title-wrapper">
                                        <div class="mortgage__card-icon">
                                            <img src="/images/mortgage/4.svg" alt="" class="mortgage__card-icon-image">
                                        </div>
                                        <h3 class="mortgage__card-title">
                                            Губернаторская ипотека
                                        </h3>
                                    </div>
                                    <ul class="mortgage__card-features-list">
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">

                                                <div class="mortgage__card-features-card-text">
                                                    Субсидирование из областного бюджета
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card">
                                                <div class="mortgage__card-features-card-amount">
                                                    &lt; 8% </div>
                                                <div class="mortgage__card-features-card-text">
                                                    процентная ставка&nbsp;не&nbsp;выше&nbsp;8%
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mortgage__card-features-list-item">
                                            <div class="mortgage__card-features-card mortgage__card-features-card--row">
                                                <div class="mortgage__card-features-card-amount">
                                                    6%
                                                </div>
                                                <div class="mortgage__card-features-card-text">
                                                    в течение первых 5 лет для работников бюджетной сферы
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>