<section class="breadcrumbs bg-white">
  <ul class="breadcrumbs-nav">
    <li class="breadcrumbs__item">
      <a href="/" class="breadcrumbs__link">
        Главная
      </a>
      <span class="breadcrumbs__divider">
                <svg width="6" height="10" aria-hidden="true">
                     <use xlink:href="#breadcrumbs-arrow-right"></use>
                </svg>
            </span>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">
        Новости и акции
      </a>
      <span class="breadcrumbs__divider">
                <svg width="6" height="10" aria-hidden="true">
                     <use xlink:href="#breadcrumbs-arrow-right"></use>
                </svg>
            </span>
    </li>
    <li class="breadcrumbs__item">
            <span class="breadcrumbs__text">
                Инструкция по эксплуатации жилых помещений для собственников ЖК "Южный Парк" домов 3.1-3.5
            </span>
    </li>
  </ul>
</section>
<section class="news-detail">
  <div class="news-detail__wrapper">
    <div class="news-detail__left">
        <a href="#" class="news-detail__link-back">
            <svg width="6" height="10" aria-hidden="true">
                <use xlink:href="#breadcrumbs-arrow-right"></use>
            </svg>
            <span>Ко всем новостям</span>
        </a>
        <div class="news-detail__date">17.01.2024</div>
        <div class="news-detail__left-bottom">
            <button class="button-share news-detail__share">
                <svg width="16" height="16" aria-hidden="true">
                    <use xlink:href="#share"></use>
                </svg>
            </button>
            <div class="share-content">
                <a href="#" class="share-content__link">
                    <svg width="16" height="16" aria-hidden="true">
                        <use xlink:href="#link"></use>
                    </svg>
                    <span>Скопировать ссылку</span>
                </a>
                <a href="#" class="share-content__link">
                    <svg width="16" height="16" aria-hidden="true">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                    <span>WhatsApp</span>
                </a>
                <a href="#" class="share-content__link">
                    <svg width="16" height="16" aria-hidden="true">
                        <use xlink:href="#telegram"></use>
                    </svg>
                    <span>Telegram</span>
                </a>
                <a href="#" class="share-content__link">
                    <svg width="16" height="16" aria-hidden="true">
                        <use xlink:href="#vk"></use>
                    </svg>
                    <span>ВКонтакте</span>
                </a>
                <a href="#" class="share-content__link">
                    <svg width="16" height="16" aria-hidden="true">
                        <use xlink:href="#ok"></use>
                    </svg>
                    <span>Одноклассники</span>
                </a>
            </div>
        </div>
    </div>

    <div class="news-detail__right">
          <div class="news-detail__content">
              <h1 class="news-detail__title-text">Инструкция по эксплуатации жилых помещений для собственников ЖК «Южный Парк» домов 3.1-3.5</h1>
              <div class="news-detail__image">
                    <img src="/images/news-detail/1.png" alt="" />
                    <div>Подпись к фото, если потребуется</div>
              </div>
              <div class="news-detail__announce">«Правильная ипотека» предоставляет заемщику на период строительства объекта недвижимости льготную процентную ставку 1,99% по ипотеке без удорожания стоимости. </div>
              <p>Простой абзац текста. Длина строки ориентировочно 70 символов. С другой стороны, высокотехнологичная концепция общественного уклада требует анализа поэтапного и последовательного развития общества. Простой абзац допускает использование <strong>выделений</strong>, акцентов, можно размещать <a href="#">ссылки.</a></p>
              <h2>Подзаголовки (уровень 1) </h2>
              <p>#Суварстроит выбрал дату для начала продаж неслучайно: она перекликается с названием нового жилого комплекса, «Отражение», и символизирует идею проекта — создание комфортного жилья для семей с детьми. Квартиры в жилом комплексе будут интересны семейным парам, которые хотят жить в современном районе Казани с благоприятной экологией и инфраструктурой, а также инвесторам, желающим выгодно вложить и сохранить капитал, так как на старте продаж ценовое предложение значительно интереснее по сравнению со строящимися на рынке проектами.</p>
              <div class="news-detail__image">
                <img src="/images/news-detail/2.png" alt="">
                <div>Подпись к фото, если потребуется</div>
              </div>
              <h3>Подзаголовки (уровень 2) </h3>
              <p>Простой абзац текста. Длина строки ориентировочно 70 символов. С другой стороны, высокотехнологичная концепция общественного уклада требует анализа поэтапного и последовательного развития общества. Простой абзац допускает использование <strong>выделений</strong>, акцентов, можно размещать <a href="#">ссылки.</a></p>
              <p>Давайте добавим к новости список, например преимущества:</p>
              <ul>
                <li>без увеличения стоимости за пользование программой;</li>
                <li>льготная ставка 1,99% до сдачи дома;</li>
                <li>после сдачи ставка согласно программам «семейная ипотека», «господдержка»</li>
                <li>возможно использование с «Комбо-ипотекой»</li>
              </ul>
              <div class="news-detail__video">
                  <a href="#" class="news-detail__video-wrapper">
                      <img src="/images/news-detail/3.png" alt="" class="news-detail__video-preview">
                      <div class="news-detail__video-play">
                          <svg width="100" height="101" viewBox="0 0 100 101" xmlns="http://www.w3.org/2000/svg">
                              <path d="M57.334 49.832L46.6673 57.832L46.6673 41.832L57.334 49.832Z"></path>
                          </svg>
                      </div>
                  </a>
              </div>
              <p>Нумерованный список лежит тут:</p>
              <ol>
                  <li>без увеличения стоимости за пользование программой;</li>
                  <li>льготная ставка 1,99% до сдачи дома;</li>
                  <li>после сдачи ставка согласно программам «семейная ипотека», «господдержка»</li>
                  <li>возможно использование с «Комбо-ипотекой»</li>
              </ol>
              <div class="news-detail__blockquote">
                  <div class="news-detail__blockquote-img">
                      <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="#quotes"></use>
                      </svg>
                  </div>
                  <blockquote>
                      <p>В планировку двора мы внедрили много разных
                          зон отдыха, подчеркнув их различными приемами ландшафтного благоустройства – это и сложные композиции из растений, геопластика,
                          адаптивная подсветка, малые архитектурные
                          формы и много другое.</p>
                  </blockquote>
                  <div class="news-detail__blockquote-avatar">
                      <div class="news-detail__blockquote-avatar-img">
                            <img src="/images/news-detail/avatar.png" alt="">
                      </div>
                      <p>Питер Друкер <span>Главный менеджер</span></p>
                  </div>
              </div>
              <p>Простой абзац текста. Длина строки ориентировочно 70 символов. С другой стороны, высокотехнологичная концепция общественного уклада требует анализа поэтапного и последовательного развития общества. Простой абзац допускает использование <strong>выделений</strong>, акцентов, можно размещать <a href="#">ссылки.</a></p>
              <div class="news-detail__slider">
                  <div class="news-detail__slider-swiper swiper">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="news-detaill__slider-card">
                                  <img src="/images/news-detail/4.png" alt="" class="news-detaill__slider-image">
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="news-detaill__slider-card">
                                  <img src="/images/news-detail/4.png" alt="" class="news-detaill__slider-image">
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="news-detaill__slider-card">
                                  <img src="/images/news-detail/4.png" alt="" class="news-detaill__slider-image">
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="news-detaill__slider-card">
                                  <img src="/images/news-detail/4.png" alt="" class="news-detaill__slider-image">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="news-detail__slider-pagination"></div>

                  <div class="news-detail__slider-fraction-pagination">
                      <div class="news-detail__slider-fraction-pagination-inner">

                      </div>
                      <div class="news-detail__slider-fraction-pagination-progress">
                          <svg width="100" height="100" viewBox="0 0 100 100"
                               vector-effect="non-scaling-stroke">
                              <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                              </circle>
                              <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                              </circle>
                          </svg>
                      </div>
                  </div>
                  <button class="news-detail__slider-fullscreen-btn">
                      <svg width="14" height="14" aria-hidden="true">
                          <use xlink:href="#fullscreen"></use>
                      </svg>
                  </button>
                  <div class="news-detail__slider__arrows">
                      <button class="news-detail__slider__arrow news-detail__slider__arrow--prev">
                          <svg width="14" height="14" aria-hidden="true">
                              <use xlink:href="#slider-arrow-left"></use>
                          </svg>
                      </button>
                      <button class="news-detail__slider__arrow news-detail__slider__arrow--next">
                          <svg width="14" height="14" aria-hidden="true">
                              <use xlink:href="#slider-arrow-right"></use>
                          </svg>
                      </button>
                  </div>
              </div>
          </div>
        <div class="news-detail__bottom">
            <div class="news-detail__bottom-share">
                <div class="news-detail__bottom-share-title">Поделиться:</div>
                <div class="news-detail__bottom-share-buttons">
                    <div class="news-detail__bottom-share-button">
                        <a href="#" class="news-detail__bottom-share-button-link">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#link"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="news-detail__bottom-share-button">
                        <a href="#" class="news-detail__bottom-share-button-link">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="news-detail__bottom-share-button">
                        <a href="#" class="news-detail__bottom-share-button-link">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="news-detail__bottom-share-button">
                        <a href="#" class="news-detail__bottom-share-button-link">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="news-detail__bottom-share-button">
                        <a href="#" class="news-detail__bottom-share-button-link">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#ok"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="news-detail__bottom-up">
                    <a href="#" class="news-detail__bottom-up-link">
                        <span>Наверх</span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#fat-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="news-detail-form">
            <div class="news-detail-form__image">
                <img src="/images/news-detail/left-form.png" alt="">
            </div>
            {{> subscribe-form}}
        </div>
    </div>
  </div>
</section>
<div class="news-detail__modal">
    <div class="news-detail__modal-inner">
        <div class="news-detail__modal-video-wrapper">
            <button class="news-detail__modal-close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#modal-close"></use>
                </svg>
            </button>
            <div class="news-detail__iframe-wrapper">
                <iframe src="https://vk.com/video_ext.php?oid=-129992179&id=456240434&hd=2&autoplay=0" width="1280"
                        height="720"
                        allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                        frameborder="0" allowfullscreen="" loading="lazy"></iframe>
            </div>

            {{!-- <div class="news-detail__modal-player">


            <video playsinline="" controls="">
                <source src="/video/sample-video.mp4" type="video/mp4" />

            </video>
        </div> --}}
        </div>
    </div>
</div>
