<section class="news-more">
    <div class="news-more__content">
        <div class="news-more__top-row">
            <h2 class="news-more__heading">
                Читайте далее
            </h2>
            <div class="news-more__arrows">
                <button class="news-more__arrow news-more__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="news-more__arrow news-more__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="swiper news-more__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide news-more__slide">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/home-news/1.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__content">
                            <h3 class="news-card__title">
                                Субсидированная процентная ставка 5,5% по программе “Господдержка 2020”
                            </h3>
                            <div class="news-card__bottom-row">
                                <div class="news-card__date">
                                    11.01.2024
                                </div>
                                <div class="news-card__arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide news-more__slide">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/home-news/1.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__content">
                            <h3 class="news-card__title">
                                Субсидированная процентная ставка 5,5% по программе “Господдержка 2020”
                            </h3>
                            <div class="news-card__bottom-row">
                                <div class="news-card__date">
                                    11.01.2024
                                </div>
                                <div class="news-card__arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide news-more__slide">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/home-news/1.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__content">
                            <h3 class="news-card__title">
                                Субсидированная процентная ставка 5,5% по программе “Господдержка 2020”
                            </h3>
                            <div class="news-card__bottom-row">
                                <div class="news-card__date">
                                    11.01.2024
                                </div>
                                <div class="news-card__arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide news-more__slide">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/home-news/1.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__content">
                            <h3 class="news-card__title">
                                Субсидированная процентная ставка 5,5% по программе “Господдержка 2020”
                            </h3>
                            <div class="news-card__bottom-row">
                                <div class="news-card__date">
                                    11.01.2024
                                </div>
                                <div class="news-card__arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide news-more__slide">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/home-news/1.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__content">
                            <h3 class="news-card__title">
                                Субсидированная процентная ставка 5,5% по программе “Господдержка 2020”
                            </h3>
                            <div class="news-card__bottom-row">
                                <div class="news-card__date">
                                    11.01.2024
                                </div>
                                <div class="news-card__arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
