<section class="offices">
    <div class="offices__content">
        <h2 class="offices__heading">
            Офисы продаж
        </h2>
        <div class="offices__row">
            <div class="offices__left-col">
                <div class="offices__list-view">
                    <ul class="offices__list">

                    </ul>
                </div>

            </div>
            <div class="offices__right-col">
                <div class="offices__map">
                    <button class="offices__map-close">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#modal-close"></use>
                        </svg>
                    </button>



                    <div class="offices__map-container" data-lat="55.819012" data-lng="49.146547" data-zoom="10"
                        data-theme-url="/data/map-styles.json" data-points-url="/data/offices-map.json">
                        <div class="offices__map-inner">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>