<section class="other">
    <div class="other__content">
        <h2 class="other__heading">
            Кроме квартир
        </h2>
        <ul class="other__list">
            <li class="other__list-item">
                <a href="#" class="other__card">
                    <div class="other__card-image-container">
                        <img src="/images/other/1.webp" alt="" class="other__card-image">
                    </div>
                    <div class="other__card-content">
                        <h3 class="other__card-title">
                            Коммерческая недвижимость
                        </h3>
                        <div class="other__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="other__list-item">
                <a href="#" class="other__card">
                    <div class="other__card-image-container">
                        <img src="/images/other/2.webp" alt="" class="other__card-image">
                    </div>
                    <div class="other__card-content">
                        <h3 class="other__card-title">
                            Кладовые
                        </h3>
                        <div class="other__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="other__list-item">
                <a href="#" class="other__card">
                    <div class="other__card-image-container">
                        <img src="/images/other/3.webp" alt="" class="other__card-image">
                    </div>
                    <div class="other__card-content">
                        <h3 class="other__card-title">
                            Паркинг
                        </h3>
                        <div class="other__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>