<section class="our-projects">
    <div class="our-projects__content">
        <div class="our-projects__top-row">
            <h2 class="our-projects__heading">
                Наши проекты
            </h2>
            <div class="our-projects__desktop-btns">
                <button class="our-projects__desktop-btn active">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#list-view"></use>
                    </svg>
                    Плиткой
                </button>
                <button class="our-projects__desktop-btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#map-view"></use>
                    </svg>
                    На карте
                </button>
            </div>
            <div class="our-projects__mobile-btns">
                <button class="our-projects__mobile-btn active js-filters-open">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#filter"></use>
                    </svg>
                    Фильтр
                </button>
                <button class="our-projects__mobile-btn js-map-open">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#map-view"></use>
                    </svg>
                    На карте
                </button>
            </div>
        </div>
        <div class="our-projects__layers">
            <div class="our-projects__list-view-layer">
                <ul class="our-projects__list">
                    <li class="our-projects__list-item">
                        <a href="#" class="our-projects__card">
                            <div class="our-projects__card-image-container">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/1.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/2.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/1.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/2.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-projects__card-pagination"></div>
                                <div class="our-projects__card-tags">
                                    <ul class="our-projects__card-tags-list">
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                Комфорт
                                            </div>
                                        </li>
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                <img src="/images/project-intro/key.svg" alt=""
                                                    class="our-projects__card-tag-icon">
                                                Сдача в 2026
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="our-projects__card-content">
                                <div class="our-projects__card-row">
                                    <h3 class="our-projects__card-title">
                                        Южный парк
                                    </h3>
                                    <div class="our-projects__card-price">
                                        от 4,9 млн ₽
                                    </div>
                                </div>
                                <div class="our-projects__card-location">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Приволжский р-н, ул. Генерала Ерина, 13
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="our-projects__list-item">
                        <a href="#" class="our-projects__card">
                            <div class="our-projects__card-image-container">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/2.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/1.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/2.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/1.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-projects__card-pagination"></div>
                                <div class="our-projects__card-tags">
                                    <ul class="our-projects__card-tags-list">
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                Комфорт
                                            </div>
                                        </li>
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                <img src="/images/project-intro/key.svg" alt=""
                                                    class="our-projects__card-tag-icon">
                                                Сдача в 2026
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="our-projects__card-content">
                                <div class="our-projects__card-row">
                                    <h3 class="our-projects__card-title">
                                        Станция Спортивная
                                    </h3>
                                    <div class="our-projects__card-price">
                                        от 5,3 млн ₽
                                    </div>
                                </div>
                                <div class="our-projects__card-location">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Приволжский р-н, ул. Рауиса Гареева
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="our-projects__list-item">
                        <a href="#" class="our-projects__card">
                            <div class="our-projects__card-image-container">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/3.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/2.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/3.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/2.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-projects__card-pagination"></div>
                                <div class="our-projects__card-tags">
                                    <ul class="our-projects__card-tags-list">
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag our-projects__card-tag--dark">
                                                Бизнес класс
                                            </div>
                                        </li>
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                <img src="/images/project-intro/key.svg" alt=""
                                                    class="our-projects__card-tag-icon">
                                                Сдача в 2026
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="our-projects__card-content">
                                <div class="our-projects__card-row">
                                    <h3 class="our-projects__card-title">
                                        Времена года
                                    </h3>
                                    <div class="our-projects__card-price">
                                        от 7,1 млн ₽
                                    </div>
                                </div>
                                <div class="our-projects__card-location">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Приволжский р-н, ул. Генерала Ерина, 13
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="our-projects__list-item">
                        <a href="#" class="our-projects__card">
                            <div class="our-projects__card-image-container">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/4.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/3.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/4.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/3.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-projects__card-pagination"></div>
                                <div class="our-projects__card-tags">
                                    <ul class="our-projects__card-tags-list">
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                Комфорт
                                            </div>
                                        </li>
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                <img src="/images/project-intro/key.svg" alt=""
                                                    class="our-projects__card-tag-icon">
                                                Сдача в 2026
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="our-projects__card-content">
                                <div class="our-projects__card-row">
                                    <h3 class="our-projects__card-title">
                                        Сказочный лес
                                    </h3>
                                    <div class="our-projects__card-price">
                                        от 7,1 млн ₽
                                    </div>
                                </div>
                                <div class="our-projects__card-location">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Приволжский р-н, ул. Рауиса Гареева
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="our-projects__list-item">
                        <a href="#" class="our-projects__card">
                            <div class="our-projects__card-image-container">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/5.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/4.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/5.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/4.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-projects__card-pagination"></div>
                                <div class="our-projects__card-tags">
                                    <ul class="our-projects__card-tags-list">
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                Комфорт
                                            </div>
                                        </li>
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                <img src="/images/project-intro/key.svg" alt=""
                                                    class="our-projects__card-tag-icon">
                                                Сдача в 2026
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="our-projects__card-content">
                                <div class="our-projects__card-row">
                                    <h3 class="our-projects__card-title">
                                        Палитра
                                    </h3>
                                    <div class="our-projects__card-price">
                                        от 10,7 млн ₽
                                    </div>
                                </div>
                                <div class="our-projects__card-location">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Приволжский р-н, ул. Рауиса Гареева
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="our-projects__list-item">
                        <a href="#" class="our-projects__card">
                            <div class="our-projects__card-image-container">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/6.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/5.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/6.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/5.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-projects__card-pagination"></div>
                                <div class="our-projects__card-tags">
                                    <ul class="our-projects__card-tags-list">
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                Комфорт
                                            </div>
                                        </li>
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                <img src="/images/project-intro/key.svg" alt=""
                                                    class="our-projects__card-tag-icon">
                                                Сдача в 2026
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="our-projects__card-content">
                                <div class="our-projects__card-row">
                                    <h3 class="our-projects__card-title">
                                        Отражение
                                    </h3>
                                    <div class="our-projects__card-price">
                                        от 7,8 млн ₽
                                    </div>
                                </div>
                                <div class="our-projects__card-location">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Приволжский р-н, ул. Рауиса Гареева
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="our-projects__list-item">
                        <a href="#" class="our-projects__card">
                            <div class="our-projects__card-image-container">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/7.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/6.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/7.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/6.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-projects__card-pagination"></div>
                                <div class="our-projects__card-tags">
                                    <ul class="our-projects__card-tags-list">
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag our-projects__card-tag--dark">
                                                Бизнес класс
                                            </div>
                                        </li>
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                <img src="/images/project-intro/key.svg" alt=""
                                                    class="our-projects__card-tag-icon">
                                                Сдача в 2026
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="our-projects__card-content">
                                <div class="our-projects__card-row">
                                    <h3 class="our-projects__card-title">
                                        Столичный
                                    </h3>
                                    <div class="our-projects__card-price">
                                        от 14,3 млн ₽
                                    </div>
                                </div>
                                <div class="our-projects__card-location">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Приволжский р-н, ул. Рауиса Гареева
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="our-projects__list-item">
                        <a href="#" class="our-projects__card">
                            <div class="our-projects__card-image-container">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/8.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/7.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/8.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="our-projects__card-slide">
                                                <img src="/images/our-projects/7.webp" alt=""
                                                    class="our-projects__card-slide-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-projects__card-pagination"></div>
                                <div class="our-projects__card-tags">
                                    <ul class="our-projects__card-tags-list">
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                Комфорт
                                            </div>
                                        </li>
                                        <li class="our-projects__card-tags-list-item">
                                            <div class="our-projects__card-tag">
                                                <img src="/images/project-intro/key.svg" alt=""
                                                    class="our-projects__card-tag-icon">
                                                Сдача в 2026
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="our-projects__card-content">
                                <div class="our-projects__card-row">
                                    <h3 class="our-projects__card-title">
                                        Батталовский
                                    </h3>
                                    <div class="our-projects__card-price">
                                        от 14,3 млн ₽
                                    </div>
                                </div>
                                <div class="our-projects__card-location">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    Приволжский р-н, ул. Рауиса Гареева
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="our-projects__map-view-layer">
                <div class="our-projects__map">
                    <div class="our-projects__map-modal">


                        <button class="our-projects__map-close js-map-close" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#modal-close"></use>
                            </svg>
                        </button>
                        <div class="our-projects__map-container" data-lat="55.819012" data-lng="49.146547"
                            data-zoom="10" data-theme-url="/data/map-styles.json"
                            data-points-url="/data/our-projects-points.json">
                            <div class="our-projects__map-inner">

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>