<div class="parking-project__table">
  <div class="parking-project__table-view-header">
    <div class="parking-project__table-view-header-item">
      Номер
    </div>
    <div class="parking-project__table-view-header-item">
      Площадь
    </div>
    <div class="parking-project__table-view-header-item">
      Срок сдачи
    </div>
    <div class="parking-project__table-view-header-item">
      Проект
    </div>
    <div class="parking-project__table-view-header-item">
      Корпус
    </div>
    <div class="parking-project__table-view-header-item">
      Уровень
    </div>
    <div class="parking-project__table-view-header-item">
      Цена
    </div>
  </div>
  <ul class="parking-project__table-list">

    <li class="parking-project__table-list-item">
      <div class="parking-project__table-card parking-project__discount">

        <div class="parking-project__table-list-card-main-wrapper">
          <div class="parking-project__table-card-mobile-not-price-wrapper">


            <div class="parking-project__table-card-mobile-title-wrapper">


              <div class="parking-project__table-card-title-wrapper">
                <h3 class="parking-project__table-card-title">
                  Машино-место № 35  <span class="parking-project__mobile-text">/ 13,4 м2</span>
                </h3>
                <div class="parking-project__mobile-text-bottom">2 очередь, Корпус 2, уровень -1</div>
                <div class="parking-project__tags">
                  <div class="parking-project__tags-shown">
                    <ul class="parking-project__tags-shown-list">
                      <li class="parking-project__tags-shown-list-item">
                        <div class="parking-project__tag-shown">
                          Скидка 5%
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="parking-project__table-card-area">
                13,4 м2
              </div>
            </div>
            <div class="parking-project__table-card-date">
              4 кв. 2025
            </div>
            <div class="parking-project__table-card-mobile-section-wrapper">


              <div class="parking-project__table-card-project">
                <div class="parking-project__table-card-project-name">
                  Южный парк
                </div>
                <div class="parking-project__table-card-project-stage">
                  1 очередь</div>
              </div>
              <div class="parking-project__table-card-section">
                2
              </div>
            </div>
            <div class="parking-project__table-card-floor">
              -1
            </div>
          </div>
          <div class="parking-project__table-card-price-wrapper">
            <div class="parking-project__table-card-price-wrapper-content">
              <div class="parking-project__table-card-price">
                480 000 ₽
              </div>
              <div class="parking-project__table-card-discount">
                0,5 млн ₽
              </div>
            </div>
            <a href="#" class="parking-project__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
            <button class="button-accordion-arrow">
              <svg width="24" height="24" aria-hidden="true">
                <use xlink:href="#accordion-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="parking-project__table-card-content ">
          <div class="parking-project__table-card-content-left">
            <div class="parking-project__status">
              <div class="parking-project__status-free">
                Свободно
              </div>
              <div class="parking-project__status-reserved">
                Занято
              </div>
              <div class="parking-project__status-selected">
                Выбранное место
              </div>
            </div>
            <div class="parking-project__table-card-content-wrapper">
              <div class="parking-project__zoom" >
                <div class="parking-project__image-wrapper" >
                  <div class="parking-project__image-draggable">
                    <img src="/images/parking/parking3.png" width="1680" height="996" class="parking-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="parking-project__svg">
                      <svg x="958" y="226" width="78" height="110" viewBox="0 0 39 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0 H39 V55 H0 V0 Z" fill="#CF000C" fill-opacity="0.2"/>
                      </svg>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="parking-project__zoom-controls">
              <button class="parking-project__zoom-control parking-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="parking-project__zoom-control parking-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="parking-project__table-card-content-right">
            <div class="parking-project__table-card-content-right-inner">
              <button class="parking-project__table-card-content-button-back">
                <svg width="12" height="12" aria-hidden="true">
                  <use xlink:href="#left"></use>
                </svg>
              </button>
              <h3 class="parking-project__table-card-content-title">
                Машино-место № 35
              </h3>
              <ul class="parking-project__table-card-content-options">
                <li class="parking-project__table-card-content-option">
                  <span>Проект</span>
                  <span>Южный парк</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Корпус</span>
                  <span>2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Уровень</span>
                  <span>- 1</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Номер</span>
                  <span>№ 35</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Площадь</span>
                  <span>13,4 м2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Срок сдачи</span>
                  <span>до 4 кв. 2025</span>
                </li>
              </ul>
              <div class="parking-project__table-card-content-price parking-project__price-discount">
                <div class="parking-project__table-card-content-price-col">
                  <div class="parking-project__table-card-content-price-row parking-project__price-text">
                    480 000 ₽
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-popup parking-project__price-text-m2">
                    35 820 руб за м2
                  </div>
                </div>
                <div class="parking-project__table-card-content-price-col parking-project__price-popup">
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-text">
                    26 890 руб/мес
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-label">
                    В ипотеку
                  </div>
                </div>
              </div>
              <div class="parking-project__buttons parking-project__buttons">
                <a href="#" class="parking-project__button parking-project__button--red">Забронировать</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-desktop parking-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-mobile parking-project__more" >Подробнее</a>
              </div>
              <a href="#" class="parking-project__add-to-fav">
                <svg width="14" height="14" aria-hidden="true">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="parking-project__table-list-item">
      <div class="parking-project__table-card">

        <div class="parking-project__table-list-card-main-wrapper">
          <div class="parking-project__table-card-mobile-not-price-wrapper">


            <div class="parking-project__table-card-mobile-title-wrapper">


              <div class="parking-project__table-card-title-wrapper">
                <h3 class="parking-project__table-card-title">
                  Машино-место № 35  <span class="parking-project__mobile-text">/ 13,4 м2</span>
                </h3>
                <div class="parking-project__mobile-text-bottom">2 очередь, Корпус 2, уровень -1</div>
                <div class="parking-project__tags">
                  <div class="parking-project__tags-shown">
                    <ul class="parking-project__tags-shown-list">
                      <li class="parking-project__tags-shown-list-item">
                        <div class="parking-project__tag-shown">
                          Скидка 5%
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="parking-project__table-card-area">
                13,4 м2
              </div>
            </div>
            <div class="parking-project__table-card-date">
              4 кв. 2025
            </div>
            <div class="parking-project__table-card-mobile-section-wrapper">


              <div class="parking-project__table-card-project">
                <div class="parking-project__table-card-project-name">
                  Южный парк
                </div>
                <div class="parking-project__table-card-project-stage">
                  1 очередь</div>
              </div>
              <div class="parking-project__table-card-section">
                2
              </div>
            </div>
            <div class="parking-project__table-card-floor">
              -1
            </div>
          </div>
          <div class="parking-project__table-card-price-wrapper">
            <div class="parking-project__table-card-price-wrapper-content">
              <div class="parking-project__table-card-price">
                480 000 ₽
              </div>
              <div class="parking-project__table-card-discount">
                0,5 млн ₽
              </div>
            </div>
            <a href="#" class="parking-project__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
            <button class="button-accordion-arrow">
              <svg width="24" height="24" aria-hidden="true">
                <use xlink:href="#accordion-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="parking-project__table-card-content ">
          <div class="parking-project__table-card-content-left">
            <div class="parking-project__status">
              <div class="parking-project__status-free">
                Свободно
              </div>
              <div class="parking-project__status-reserved">
                Занято
              </div>
              <div class="parking-project__status-selected">
                Выбранное место
              </div>
            </div>
            <div class="parking-project__table-card-content-wrapper">
              <div class="parking-project__zoom" >
                <div class="parking-project__image-wrapper" >
                  <div class="parking-project__image-draggable">
                    <img src="/images/parking/parking3.png" width="1680" height="996" class="parking-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="parking-project__svg">
                      <svg x="958" y="226" width="78" height="110" viewBox="0 0 39 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0 H39 V55 H0 V0 Z" fill="#CF000C" fill-opacity="0.2"/>
                      </svg>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="parking-project__zoom-controls">
              <button class="parking-project__zoom-control parking-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="parking-project__zoom-control parking-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="parking-project__table-card-content-right">
            <div class="parking-project__table-card-content-right-inner">
              <button class="parking-project__table-card-content-button-back">
                <svg width="12" height="12" aria-hidden="true">
                  <use xlink:href="#left"></use>
                </svg>
              </button>
              <h3 class="parking-project__table-card-content-title">
                Машино-место № 35
              </h3>
              <ul class="parking-project__table-card-content-options">
                <li class="parking-project__table-card-content-option">
                  <span>Проект</span>
                  <span>Южный парк</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Корпус</span>
                  <span>2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Уровень</span>
                  <span>- 1</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Номер</span>
                  <span>№ 35</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Площадь</span>
                  <span>13,4 м2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Срок сдачи</span>
                  <span>до 4 кв. 2025</span>
                </li>
              </ul>
              <div class="parking-project__table-card-content-price parking-project__price-discount">
                <div class="parking-project__table-card-content-price-col">
                  <div class="parking-project__table-card-content-price-row parking-project__price-text">
                    480 000 ₽
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-popup parking-project__price-text-m2">
                    35 820 руб за м2
                  </div>
                </div>
                <div class="parking-project__table-card-content-price-col parking-project__price-popup">
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-text">
                    26 890 руб/мес
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-label">
                    В ипотеку
                  </div>
                </div>
              </div>
              <div class="parking-project__buttons parking-project__buttons">
                <a href="#" class="parking-project__button parking-project__button--red">Забронировать</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-desktop parking-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-mobile parking-project__more" >Подробнее</a>
              </div>
              <a href="#" class="parking-project__add-to-fav">
                <svg width="14" height="14" aria-hidden="true">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="parking-project__table-list-item">
      <div class="parking-project__table-card">

        <div class="parking-project__table-list-card-main-wrapper">
          <div class="parking-project__table-card-mobile-not-price-wrapper">


            <div class="parking-project__table-card-mobile-title-wrapper">


              <div class="parking-project__table-card-title-wrapper">
                <h3 class="parking-project__table-card-title">
                  Машино-место № 35  <span class="parking-project__mobile-text">/ 13,4 м2</span>
                </h3>
                <div class="parking-project__mobile-text-bottom">2 очередь, Корпус 2, уровень -1</div>
                <div class="parking-project__tags">
                  <div class="parking-project__tags-shown">
                    <ul class="parking-project__tags-shown-list">
                      <li class="parking-project__tags-shown-list-item">
                        <div class="parking-project__tag-shown">
                          Скидка 5%
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="parking-project__table-card-area">
                13,4 м2
              </div>
            </div>
            <div class="parking-project__table-card-date">
              4 кв. 2025
            </div>
            <div class="parking-project__table-card-mobile-section-wrapper">


              <div class="parking-project__table-card-project">
                <div class="parking-project__table-card-project-name">
                  Южный парк
                </div>
                <div class="parking-project__table-card-project-stage">
                  1 очередь</div>
              </div>
              <div class="parking-project__table-card-section">
                2
              </div>
            </div>
            <div class="parking-project__table-card-floor">
              -1
            </div>
          </div>
          <div class="parking-project__table-card-price-wrapper">
            <div class="parking-project__table-card-price-wrapper-content">
              <div class="parking-project__table-card-price">
                480 000 ₽
              </div>
              <div class="parking-project__table-card-discount">
                0,5 млн ₽
              </div>
            </div>
            <a href="#" class="parking-project__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
            <button class="button-accordion-arrow">
              <svg width="24" height="24" aria-hidden="true">
                <use xlink:href="#accordion-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="parking-project__table-card-content ">
          <div class="parking-project__table-card-content-left">
            <div class="parking-project__status">
              <div class="parking-project__status-free">
                Свободно
              </div>
              <div class="parking-project__status-reserved">
                Занято
              </div>
              <div class="parking-project__status-selected">
                Выбранное место
              </div>
            </div>
            <div class="parking-project__table-card-content-wrapper">
              <div class="parking-project__zoom" >
                <div class="parking-project__image-wrapper" >
                  <div class="parking-project__image-draggable">
                    <img src="/images/parking/parking3.png" width="1680" height="996" class="parking-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="parking-project__svg">
                      <svg x="958" y="226" width="78" height="110" viewBox="0 0 39 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0 H39 V55 H0 V0 Z" fill="#CF000C" fill-opacity="0.2"/>
                      </svg>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="parking-project__zoom-controls">
              <button class="parking-project__zoom-control parking-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="parking-project__zoom-control parking-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="parking-project__table-card-content-right">
            <div class="parking-project__table-card-content-right-inner">
              <button class="parking-project__table-card-content-button-back">
                <svg width="12" height="12" aria-hidden="true">
                  <use xlink:href="#left"></use>
                </svg>
              </button>
              <h3 class="parking-project__table-card-content-title">
                Машино-место № 35
              </h3>
              <ul class="parking-project__table-card-content-options">
                <li class="parking-project__table-card-content-option">
                  <span>Проект</span>
                  <span>Южный парк</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Корпус</span>
                  <span>2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Уровень</span>
                  <span>- 1</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Номер</span>
                  <span>№ 35</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Площадь</span>
                  <span>13,4 м2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Срок сдачи</span>
                  <span>до 4 кв. 2025</span>
                </li>
              </ul>
              <div class="parking-project__table-card-content-price parking-project__price-discount">
                <div class="parking-project__table-card-content-price-col">
                  <div class="parking-project__table-card-content-price-row parking-project__price-text">
                    480 000 ₽
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-popup parking-project__price-text-m2">
                    35 820 руб за м2
                  </div>
                </div>
                <div class="parking-project__table-card-content-price-col parking-project__price-popup">
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-text">
                    26 890 руб/мес
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-label">
                    В ипотеку
                  </div>
                </div>
              </div>
              <div class="parking-project__buttons parking-project__buttons">
                <a href="#" class="parking-project__button parking-project__button--red">Забронировать</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-desktop parking-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-mobile parking-project__more" >Подробнее</a>
              </div>
              <a href="#" class="parking-project__add-to-fav">
                <svg width="14" height="14" aria-hidden="true">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="parking-project__table-list-item">
      <div class="parking-project__table-card">

        <div class="parking-project__table-list-card-main-wrapper">
          <div class="parking-project__table-card-mobile-not-price-wrapper">


            <div class="parking-project__table-card-mobile-title-wrapper">


              <div class="parking-project__table-card-title-wrapper">
                <h3 class="parking-project__table-card-title">
                  Машино-место № 35  <span class="parking-project__mobile-text">/ 13,4 м2</span>
                </h3>
                <div class="parking-project__mobile-text-bottom">2 очередь, Корпус 2, уровень -1</div>
                <div class="parking-project__tags">
                  <div class="parking-project__tags-shown">
                    <ul class="parking-project__tags-shown-list">
                      <li class="parking-project__tags-shown-list-item">
                        <div class="parking-project__tag-shown">
                          Скидка 5%
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="parking-project__table-card-area">
                13,4 м2
              </div>
            </div>
            <div class="parking-project__table-card-date">
              4 кв. 2025
            </div>
            <div class="parking-project__table-card-mobile-section-wrapper">


              <div class="parking-project__table-card-project">
                <div class="parking-project__table-card-project-name">
                  Южный парк
                </div>
                <div class="parking-project__table-card-project-stage">
                  1 очередь</div>
              </div>
              <div class="parking-project__table-card-section">
                2
              </div>
            </div>
            <div class="parking-project__table-card-floor">
              -1
            </div>
          </div>
          <div class="parking-project__table-card-price-wrapper">
            <div class="parking-project__table-card-price-wrapper-content">
              <div class="parking-project__table-card-price">
                480 000 ₽
              </div>
              <div class="parking-project__table-card-discount">
                0,5 млн ₽
              </div>
            </div>
            <a href="#" class="parking-project__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
            <button class="button-accordion-arrow">
              <svg width="24" height="24" aria-hidden="true">
                <use xlink:href="#accordion-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="parking-project__table-card-content ">
          <div class="parking-project__table-card-content-left">
            <div class="parking-project__status">
              <div class="parking-project__status-free">
                Свободно
              </div>
              <div class="parking-project__status-reserved">
                Занято
              </div>
              <div class="parking-project__status-selected">
                Выбранное место
              </div>
            </div>
            <div class="parking-project__table-card-content-wrapper">
              <div class="parking-project__zoom" >
                <div class="parking-project__image-wrapper" >
                  <div class="parking-project__image-draggable">
                    <img src="/images/parking/parking3.png" width="1680" height="996" class="parking-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="parking-project__svg">
                      <svg x="958" y="226" width="78" height="110" viewBox="0 0 39 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0 H39 V55 H0 V0 Z" fill="#CF000C" fill-opacity="0.2"/>
                      </svg>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="parking-project__zoom-controls">
              <button class="parking-project__zoom-control parking-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="parking-project__zoom-control parking-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="parking-project__table-card-content-right">
            <div class="parking-project__table-card-content-right-inner">
              <button class="parking-project__table-card-content-button-back">
                <svg width="12" height="12" aria-hidden="true">
                  <use xlink:href="#left"></use>
                </svg>
              </button>
              <h3 class="parking-project__table-card-content-title">
                Машино-место № 35
              </h3>
              <ul class="parking-project__table-card-content-options">
                <li class="parking-project__table-card-content-option">
                  <span>Проект</span>
                  <span>Южный парк</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Корпус</span>
                  <span>2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Уровень</span>
                  <span>- 1</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Номер</span>
                  <span>№ 35</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Площадь</span>
                  <span>13,4 м2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Срок сдачи</span>
                  <span>до 4 кв. 2025</span>
                </li>
              </ul>
              <div class="parking-project__table-card-content-price parking-project__price-discount">
                <div class="parking-project__table-card-content-price-col">
                  <div class="parking-project__table-card-content-price-row parking-project__price-text">
                    480 000 ₽
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-popup parking-project__price-text-m2">
                    35 820 руб за м2
                  </div>
                </div>
                <div class="parking-project__table-card-content-price-col parking-project__price-popup">
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-text">
                    26 890 руб/мес
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-label">
                    В ипотеку
                  </div>
                </div>
              </div>
              <div class="parking-project__buttons parking-project__buttons">
                <a href="#" class="parking-project__button parking-project__button--red">Забронировать</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-desktop parking-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-mobile parking-project__more" >Подробнее</a>
              </div>
              <a href="#" class="parking-project__add-to-fav">
                <svg width="14" height="14" aria-hidden="true">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="parking-project__table-list-item">
      <div class="parking-project__table-card">

        <div class="parking-project__table-list-card-main-wrapper">
          <div class="parking-project__table-card-mobile-not-price-wrapper">


            <div class="parking-project__table-card-mobile-title-wrapper">


              <div class="parking-project__table-card-title-wrapper">
                <h3 class="parking-project__table-card-title">
                  Машино-место № 35  <span class="parking-project__mobile-text">/ 13,4 м2</span>
                </h3>
                <div class="parking-project__mobile-text-bottom">2 очередь, Корпус 2, уровень -1</div>
                <div class="parking-project__tags">
                  <div class="parking-project__tags-shown">
                    <ul class="parking-project__tags-shown-list">
                      <li class="parking-project__tags-shown-list-item">
                        <div class="parking-project__tag-shown">
                          Скидка 5%
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="parking-project__table-card-area">
                13,4 м2
              </div>
            </div>
            <div class="parking-project__table-card-date">
              4 кв. 2025
            </div>
            <div class="parking-project__table-card-mobile-section-wrapper">


              <div class="parking-project__table-card-project">
                <div class="parking-project__table-card-project-name">
                  Южный парк
                </div>
                <div class="parking-project__table-card-project-stage">
                  1 очередь</div>
              </div>
              <div class="parking-project__table-card-section">
                2
              </div>
            </div>
            <div class="parking-project__table-card-floor">
              -1
            </div>
          </div>
          <div class="parking-project__table-card-price-wrapper">
            <div class="parking-project__table-card-price-wrapper-content">
              <div class="parking-project__table-card-price">
                480 000 ₽
              </div>
              <div class="parking-project__table-card-discount">
                0,5 млн ₽
              </div>
            </div>
            <a href="#" class="parking-project__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
            <button class="button-accordion-arrow">
              <svg width="24" height="24" aria-hidden="true">
                <use xlink:href="#accordion-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="parking-project__table-card-content ">
          <div class="parking-project__table-card-content-left">
            <div class="parking-project__status">
              <div class="parking-project__status-free">
                Свободно
              </div>
              <div class="parking-project__status-reserved">
                Занято
              </div>
              <div class="parking-project__status-selected">
                Выбранное место
              </div>
            </div>
            <div class="parking-project__table-card-content-wrapper">
              <div class="parking-project__zoom" >
                <div class="parking-project__image-wrapper" >
                  <div class="parking-project__image-draggable">
                    <img src="/images/parking/parking3.png" width="1680" height="996" class="parking-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="parking-project__svg">
                      <svg x="958" y="226" width="78" height="110" viewBox="0 0 39 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0 H39 V55 H0 V0 Z" fill="#CF000C" fill-opacity="0.2"/>
                      </svg>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="parking-project__zoom-controls">
              <button class="parking-project__zoom-control parking-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="parking-project__zoom-control parking-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="parking-project__table-card-content-right">
            <div class="parking-project__table-card-content-right-inner">
              <button class="parking-project__table-card-content-button-back">
                <svg width="12" height="12" aria-hidden="true">
                  <use xlink:href="#left"></use>
                </svg>
              </button>
              <h3 class="parking-project__table-card-content-title">
                Машино-место № 35
              </h3>
              <ul class="parking-project__table-card-content-options">
                <li class="parking-project__table-card-content-option">
                  <span>Проект</span>
                  <span>Южный парк</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Корпус</span>
                  <span>2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Уровень</span>
                  <span>- 1</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Номер</span>
                  <span>№ 35</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Площадь</span>
                  <span>13,4 м2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Срок сдачи</span>
                  <span>до 4 кв. 2025</span>
                </li>
              </ul>
              <div class="parking-project__table-card-content-price parking-project__price-discount">
                <div class="parking-project__table-card-content-price-col">
                  <div class="parking-project__table-card-content-price-row parking-project__price-text">
                    480 000 ₽
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-popup parking-project__price-text-m2">
                    35 820 руб за м2
                  </div>
                </div>
                <div class="parking-project__table-card-content-price-col parking-project__price-popup">
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-text">
                    26 890 руб/мес
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-label">
                    В ипотеку
                  </div>
                </div>
              </div>
              <div class="parking-project__buttons parking-project__buttons">
                <a href="#" class="parking-project__button parking-project__button--red">Забронировать</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-desktop parking-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-mobile parking-project__more" >Подробнее</a>
              </div>
              <a href="#" class="parking-project__add-to-fav">
                <svg width="14" height="14" aria-hidden="true">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="parking-project__table-list-item">
      <div class="parking-project__table-card">

        <div class="parking-project__table-list-card-main-wrapper">
          <div class="parking-project__table-card-mobile-not-price-wrapper">


            <div class="parking-project__table-card-mobile-title-wrapper">


              <div class="parking-project__table-card-title-wrapper">
                <h3 class="parking-project__table-card-title">
                  Машино-место № 35  <span class="parking-project__mobile-text">/ 13,4 м2</span>
                </h3>
                <div class="parking-project__mobile-text-bottom">2 очередь, Корпус 2, уровень -1</div>
                <div class="parking-project__tags">
                  <div class="parking-project__tags-shown">
                    <ul class="parking-project__tags-shown-list">
                      <li class="parking-project__tags-shown-list-item">
                        <div class="parking-project__tag-shown">
                          Скидка 5%
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="parking-project__table-card-area">
                13,4 м2
              </div>
            </div>
            <div class="parking-project__table-card-date">
              4 кв. 2025
            </div>
            <div class="parking-project__table-card-mobile-section-wrapper">


              <div class="parking-project__table-card-project">
                <div class="parking-project__table-card-project-name">
                  Южный парк
                </div>
                <div class="parking-project__table-card-project-stage">
                  1 очередь</div>
              </div>
              <div class="parking-project__table-card-section">
                2
              </div>
            </div>
            <div class="parking-project__table-card-floor">
              -1
            </div>
          </div>
          <div class="parking-project__table-card-price-wrapper">
            <div class="parking-project__table-card-price-wrapper-content">
              <div class="parking-project__table-card-price">
                480 000 ₽
              </div>
              <div class="parking-project__table-card-discount">
                0,5 млн ₽
              </div>
            </div>
            <a href="#" class="parking-project__add-to-fav">
              <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
            <button class="button-accordion-arrow">
              <svg width="24" height="24" aria-hidden="true">
                <use xlink:href="#accordion-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="parking-project__table-card-content ">
          <div class="parking-project__table-card-content-left">
            <div class="parking-project__status">
              <div class="parking-project__status-free">
                Свободно
              </div>
              <div class="parking-project__status-reserved">
                Занято
              </div>
              <div class="parking-project__status-selected">
                Выбранное место
              </div>
            </div>
            <div class="parking-project__table-card-content-wrapper">
              <div class="parking-project__zoom" >
                <div class="parking-project__image-wrapper" >
                  <div class="parking-project__image-draggable">
                    <img src="/images/parking/parking3.png" width="1680" height="996" class="parking-project__image-genplan" alt />
                    <svg viewBox="0 0 1680 996" class="parking-project__svg">
                      <svg x="958" y="226" width="78" height="110" viewBox="0 0 39 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0 H39 V55 H0 V0 Z" fill="#CF000C" fill-opacity="0.2"/>
                      </svg>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="parking-project__zoom-controls">
              <button class="parking-project__zoom-control parking-project__increase">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
              <button class="parking-project__zoom-control parking-project__decrease">
                <svg width="20" height="20" aria-hidden="true">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="parking-project__table-card-content-right">
            <div class="parking-project__table-card-content-right-inner">
              <button class="parking-project__table-card-content-button-back">
                <svg width="12" height="12" aria-hidden="true">
                  <use xlink:href="#left"></use>
                </svg>
              </button>
              <h3 class="parking-project__table-card-content-title">
                Машино-место № 35
              </h3>
              <ul class="parking-project__table-card-content-options">
                <li class="parking-project__table-card-content-option">
                  <span>Проект</span>
                  <span>Южный парк</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Корпус</span>
                  <span>2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Уровень</span>
                  <span>- 1</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Номер</span>
                  <span>№ 35</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Площадь</span>
                  <span>13,4 м2</span>
                </li>
                <li class="parking-project__table-card-content-option">
                  <span>Срок сдачи</span>
                  <span>до 4 кв. 2025</span>
                </li>
              </ul>
              <div class="parking-project__table-card-content-price parking-project__price-discount">
                <div class="parking-project__table-card-content-price-col">
                  <div class="parking-project__table-card-content-price-row parking-project__price-text">
                    480 000 ₽
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-popup parking-project__price-text-m2">
                    35 820 руб за м2
                  </div>
                </div>
                <div class="parking-project__table-card-content-price-col parking-project__price-popup">
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-text">
                    26 890 руб/мес
                  </div>
                  <div class="parking-project__table-card-content-price-row parking-project__price-mortgage-label">
                    В ипотеку
                  </div>
                </div>
              </div>
              <div class="parking-project__buttons parking-project__buttons">
                <a href="#" class="parking-project__button parking-project__button--red">Забронировать</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-desktop parking-project__order-call js-open-callback-modal" data-button-text="Заказать звонок">Заказать звонок</a>
                <a href="#" class="parking-project__button parking-project__button--border parking-project__button-mobile parking-project__more" >Подробнее</a>
              </div>
              <a href="#" class="parking-project__add-to-fav">
                <svg width="14" height="14" aria-hidden="true">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
