<section class="phase" id="phase">
    <div class="phase__content">
        <h2 class="phase__heading">
            Особенности<br> очередей
        </h2>
        <div class="phase__nav">
            <ul class="phase__nav-list">
                <li class="phase__nav-list-item">
                    <a href="#" class="phase__nav-link">
                        ТОМ 1. О любви
                    </a>
                </li>
                <li class="phase__nav-list-item">
                    <a href="#" class="phase__nav-link">
                        ТОМ 2. О семье
                    </a>
                </li>

            </ul>
        </div>
        <ul class="phase__list">
            <li class="phase__list-item">
                <div class="phase__card-wrapper">
                    <div class="phase__card">
                        <div class="phase__card-bg">
                            <img src="/images/phase/1.webp" alt="" class="phase__card-bg-image">
                        </div>
                        <div class="phase__card-content">
                            <h3 class="phase__card-title">
                                ТОМ 1. О любви
                            </h3>
                            <div class="phase__card-btns">
                                <a href="#" class="phase__card-choose-btn">
                                    Выбрать квартиру
                                </a>
                                <a href="#" class="phase__card-choose-specs">
                                    <span>
                                        Характеристики
                                    </span>
                                    <span>
                                        Вернуться к выбору очереди
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="phase__features">
                        <div class="phase__features-inner">


                            <h3 class="phase__features-title">
                                Преимущества
                            </h3>
                            <ul class="phase__features-list">
                                <li class="phase__features-list-item">
                                    Корпуса сданы
                                </li>
                                <li class="phase__features-list-item">
                                    90% апартаментов с видом на воду
                                </li>
                                <li class="phase__features-list-item">
                                    Единственный в столице проект на стрелке двух рек
                                </li>
                                <li class="phase__features-list-item">
                                    Живописные панорамы на речные просторы и зелень Строгинской поймы
                                </li>
                                <li class="phase__features-list-item">
                                    Моллированные окна — угол обзора до 270 градусов
                                </li>
                                <li class="phase__features-list-item">
                                    Сервисный лифт для перевозки габаритных вещей
                                </li>
                                <li class="phase__features-list-item">
                                    Лобби с библиотекой и лаунж-зоной с камином
                                </li>
                                <li class="phase__features-list-item">
                                    Сервисный лифт для перевозки габаритных вещей
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </li>
            <li class="phase__list-item">
                <div class="phase__card-wrapper">
                    <div class="phase__card">
                        <div class="phase__card-bg">
                            <img src="/images/phase/1.webp" alt="" class="phase__card-bg-image">
                        </div>
                        <div class="phase__card-content">
                            <h3 class="phase__card-title">
                                ТОМ 1. О семье
                            </h3>
                            <div class="phase__card-btns">
                                <a href="#" class="phase__card-choose-btn">
                                    Выбрать квартиру
                                </a>
                                <a href="#" class="phase__card-choose-specs">
                                    <span>
                                        Характеристики
                                    </span>
                                    <span>
                                        Вернуться к выбору очереди
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="phase__features">
                        <div class="phase__features-inner">


                            <h3 class="phase__features-title">
                                Преимущества
                            </h3>
                            <ul class="phase__features-list">
                                <li class="phase__features-list-item">
                                    Корпуса сданы
                                </li>
                                <li class="phase__features-list-item">
                                    90% апартаментов с видом на воду
                                </li>
                                <li class="phase__features-list-item">
                                    Единственный в столице проект на стрелке двух рек
                                </li>
                                <li class="phase__features-list-item">
                                    Живописные панорамы на речные просторы и зелень Строгинской поймы
                                </li>
                                <li class="phase__features-list-item">
                                    Моллированные окна — угол обзора до 270 градусов
                                </li>
                                <li class="phase__features-list-item">
                                    Сервисный лифт для перевозки габаритных вещей
                                </li>
                                <li class="phase__features-list-item">
                                    Лобби с библиотекой и лаунж-зоной с камином
                                </li>
                                <li class="phase__features-list-item">
                                    Сервисный лифт для перевозки габаритных вещей
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </li>

        </ul>
    </div>
</section>