<section class="planning">
    <div class="planning__content">
        <div class="planning__top-row">
            <h2 class="planning__heading">
                Типы планировок
            </h2>
            <div class="planning__arrows">
                <button class="planning__arrow planning__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="planning__arrow planning__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="planning__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="planning__slider-card">
                            <div class="planning__slider-card-top-row">
                                <h3 class="planning__slider-card-title">
                                    Студии
                                </h3>
                                <div class="planning__slider-card-count">
                                    23 предложения
                                </div>
                            </div>
                            <div class="planning__slider-card-image-container">
                                <img src="/images/planning.webp" alt="" class="planning__slider-card-image">
                            </div>
                            <ul class="planning__slider-card-specs-list">
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Площадь
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 29 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Цена
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 14 млн. ₽
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="planning__slider-card-specs-link">
                                Подобрать квартиру
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="planning__slider-card">
                            <div class="planning__slider-card-top-row">
                                <h3 class="planning__slider-card-title">
                                    2-комнатные
                                </h3>
                                <div class="planning__slider-card-count">
                                    23 предложения
                                </div>
                            </div>
                            <div class="planning__slider-card-image-container">
                                <img src="/images/planning.webp" alt="" class="planning__slider-card-image">
                            </div>
                            <ul class="planning__slider-card-specs-list">
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Площадь
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 29 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Цена
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 14 млн. ₽
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="planning__slider-card-specs-link">
                                Подобрать квартиру
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="planning__slider-card">
                            <div class="planning__slider-card-top-row">
                                <h3 class="planning__slider-card-title">
                                    2-комнатные
                                </h3>
                                <div class="planning__slider-card-count">
                                    23 предложения
                                </div>
                            </div>
                            <div class="planning__slider-card-image-container">
                                <img src="/images/planning.webp" alt="" class="planning__slider-card-image">
                            </div>
                            <ul class="planning__slider-card-specs-list">
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Площадь
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 29 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Цена
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 14 млн. ₽
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="planning__slider-card-specs-link">
                                Подобрать квартиру
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="planning__slider-card">
                            <div class="planning__slider-card-top-row">
                                <h3 class="planning__slider-card-title">
                                    Студии
                                </h3>
                                <div class="planning__slider-card-count">
                                    23 предложения
                                </div>
                            </div>
                            <div class="planning__slider-card-image-container">
                                <img src="/images/planning.webp" alt="" class="planning__slider-card-image">
                            </div>
                            <ul class="planning__slider-card-specs-list">
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Площадь
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 29 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Цена
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 14 млн. ₽
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="planning__slider-card-specs-link">
                                Подобрать квартиру
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="planning__slider-card">
                            <div class="planning__slider-card-top-row">
                                <h3 class="planning__slider-card-title">
                                    2-комнатные
                                </h3>
                                <div class="planning__slider-card-count">
                                    23 предложения
                                </div>
                            </div>
                            <div class="planning__slider-card-image-container">
                                <img src="/images/planning.webp" alt="" class="planning__slider-card-image">
                            </div>
                            <ul class="planning__slider-card-specs-list">
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Площадь
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 29 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Цена
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 14 млн. ₽
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="planning__slider-card-specs-link">
                                Подобрать квартиру
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="planning__slider-card">
                            <div class="planning__slider-card-top-row">
                                <h3 class="planning__slider-card-title">
                                    2-комнатные
                                </h3>
                                <div class="planning__slider-card-count">
                                    23 предложения
                                </div>
                            </div>
                            <div class="planning__slider-card-image-container">
                                <img src="/images/planning.webp" alt="" class="planning__slider-card-image">
                            </div>
                            <ul class="planning__slider-card-specs-list">
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Площадь
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 29 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="planning__slider-card-specs-list-item">
                                    <div class="planning__slider-card-specs-card">
                                        <div class="planning__slider-card-specs-card-key">
                                            Цена
                                        </div>
                                        <div class="planning__slider-card-specs-card-value">
                                            от 14 млн. ₽
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="planning__slider-card-specs-link">
                                Подобрать квартиру
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>