<section class="project-intro">
    <div class="project-intro__bg">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="project-intro__bg-card">
                        <img src="/images/project-intro/bg.webp" alt="" class="project-intro__bg-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-intro__bg-card">
                        <img src="/images/project-intro/bg-2.webp" alt="" class="project-intro__bg-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-intro__bg-card">
                        <img src="/images/project-intro/bg.webp" alt="" class="project-intro__bg-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-intro__bg-card">
                        <img src="/images/project-intro/bg-2.webp" alt="" class="project-intro__bg-card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-intro__bg-card">
                        <img src="/images/project-intro/bg.webp" alt="" class="project-intro__bg-card-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="project-intro__cursor">

        </div>
    </div>
    <div class="project-intro__site-container">
        <div class="project-intro__content">
            <div class="project-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Проекты
                </a>
                <a href="#" class="active">
                    Южный парк
                </a>
            </div>
            <h1 class="project-intro__heading">
                Южный парк
            </h1>
            <ul class="project-intro__tags-list">
                <li class="project-intro__tags-list-item">
                    <div class="project-intro__tag">
                        Комфорт
                    </div>
                </li>
                <li class="project-intro__tags-list-item">
                    <div class="project-intro__tag">
                        <img src="/images/project-intro/key.svg" alt="" class="project-intro__tag-icon">
                        Сдача в 2026
                    </div>
                </li>
                <li class="project-intro__tags-list-item">
                    <div class="project-intro__tag">
                        Кладовые
                    </div>
                </li>
                <li class="project-intro__tags-list-item">
                    <div class="project-intro__tag">
                        <img src="/images/project-intro/car.svg" alt="" class="project-intro__tag-icon">
                        Паркинг
                    </div>
                </li>
            </ul>
            <div class="project-intro__pagination">
                <div class="project-intro__pagination-inner">

                </div>
                <div class="project-intro__pagination-progress">
                    <svg width="100" height="100" viewBox="0 0 100 100" vector-effect="non-scaling-stroke">
                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                        </circle>
                        <circle r="45" cx="50" cy="50" fill="transparent" stroke-width="1px">
                        </circle>
                    </svg>
                </div>
            </div>
            <div class="project-intro__bullets">

            </div>
        </div>
    </div>
</section>