<div class="project-menu">
    <div class="project-menu__inner">
        <ul class="project-menu__list">
            <li class="project-menu__list-item">
                <a href="#" class="project-menu__link">
                    Южный парк
                </a>
                <div class="project-menu__dropdown">
                    <div class="project-menu__dropdown-inner">
                        <ul class="project-menu__dropdown-list">
                            <li class="project-menu__dropdown-list-item">
                                <a href="#" class="project-menu__dropdown-link">
                                    1 очередь
                                </a>
                            </li>
                            <li class="project-menu__dropdown-list-item">
                                <a href="#" class="project-menu__dropdown-link">
                                    2 очередь
                                </a>
                            </li>
                            <li class="project-menu__dropdown-list-item">
                                <a href="#" class="project-menu__dropdown-link">
                                    3 очередь
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="project-menu__list-item">
                <a href="#about" class="project-menu__link">
                    О проекте
                </a>
            </li>
            <li class="project-menu__list-item">
                <a href="#phase" class="project-menu__link">
                    Особенности очередей
                </a>
            </li>
            <li class="project-menu__list-item">
                <a href="#plan" class="project-menu__link">
                    Генплан
                </a>
            </li>
            <li class="project-menu__list-item">
                <a href="#advantages" class="project-menu__link">
                    Преимущества
                </a>
            </li>
            <li class="project-menu__list-item">
                <a href="#plannings" class="project-menu__link">
                    Планировки
                </a>
            </li>
            <li class="project-menu__list-item">
                <a href="#mortgage" class="project-menu__link">
                    Ипотека
                </a>
            </li>
            <li class="project-menu__list-item">
                <a href="#progress" class="project-menu__link">
                    Ход строительства
                </a>
            </li>
        </ul>
        <ul class="project-menu__list">
            <li class="project-menu__list-item">
                <a href="#" class="project-menu__link">
                    Коммерция
                </a>
            </li>

            <li class="project-menu__list-item">
                <a href="#" class="project-menu__link">
                    Кладовые
                </a>
            </li>
            <li class="project-menu__list-item">
                <a href="#" class="project-menu__link">
                    Паркинг
                </a>
            </li>
        </ul>
        <a href="#" class="project-menu__btn">
            Выбрать квартиру
        </a>
    </div>
</div>