<div class="project-menu">
    <div class="project-menu__inner">
        <div class="project-menu__desktop">
            <ul class="project-menu__list">
                <li class="project-menu__list-item">
                    <a href="#" class="project-menu__link active">
                        Южный парк
                    </a>
                    <div class="project-menu__dropdown">
                        <div class="project-menu__dropdown-inner">
                            <ul class="project-menu__dropdown-list">
                                <li class="project-menu__dropdown-list-item">
                                    <a href="#phase" class="project-menu__dropdown-link js-apply-link"
                                        data-click-element=".first-order">
                                        1 очередь
                                    </a>
                                </li>
                                <li class="project-menu__dropdown-list-item">
                                    <a href="#phase" class="project-menu__dropdown-link js-apply-link"
                                        data-click-element=".second-order">
                                        2 очередь
                                    </a>
                                </li>
                                <li class="project-menu__dropdown-list-item">
                                    <a href="#phase" class="project-menu__dropdown-link js-apply-link"
                                        data-click-element=".second-order">
                                        3 очередь
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="project-menu__list-item">
                    <a href="#about" class="project-menu__link">
                        О проекте
                    </a>
                </li>
                <li class="project-menu__list-item">
                    <a href="#phase" class="project-menu__link">
                        Особенности очередей
                    </a>
                </li>
                <li class="project-menu__list-item">
                    <a href="#plan" class="project-menu__link">
                        Генплан
                    </a>
                </li>
                <li class="project-menu__list-item">
                    <a href="#advantages" class="project-menu__link">
                        Преимущества
                    </a>
                </li>
                <li class="project-menu__list-item">
                    <a href="#plannings" class="project-menu__link">
                        Планировки
                    </a>
                </li>
                <li class="project-menu__list-item">
                    <a href="#mortgage" class="project-menu__link">
                        Ипотека
                    </a>
                </li>
                <li class="project-menu__list-item">
                    <a href="#progress" class="project-menu__link">
                        Ход строительства
                    </a>
                </li>
            </ul>
            <ul class="project-menu__list">
                <li class="project-menu__list-item">
                    <a href="#" class="project-menu__link">
                        Коммерция
                    </a>
                </li>

                <li class="project-menu__list-item">
                    <a href="#" class="project-menu__link">
                        Кладовые
                    </a>
                </li>
                <li class="project-menu__list-item">
                    <a href="#" class="project-menu__link">
                        Паркинг
                    </a>
                </li>
            </ul>
            <a href="#" class="project-menu__btn">
                Выбрать квартиру
            </a>
        </div>
        <div class="project-menu__mobile">
            <button class="project-menu__mobile-toggle-btn">
                Южный парк
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#project-menu-arrow"></use>
                </svg>
            </button>
            <a href="#" class="project-menu__mobile-link">
                Квартиры

            </a>
            <div class="project-menu__mobile-dropdown">
                <div class="project-menu__mobile-dropdown-inner">
                    <ul class="project-menu__mobile-list">
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#phase" class="project-menu__mobile-card-link js-apply-link"
                                    data-click-element=".first-order">
                                    1 очередь
                                </a>
                                <a href="#phase" class="project-menu__mobile-card-link js-apply-link"
                                    data-click-element=".second-order">
                                    2 очередь
                                </a>
                                <a href="#phase" class="project-menu__mobile-card-link js-apply-link"
                                    data-click-element=".second-order">
                                    3 очередь
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#about" class="project-menu__mobile-card-link">
                                    О проекте
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#phase" class="project-menu__mobile-card-link">
                                    Особенности очередей
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#plan" class="project-menu__mobile-card-link">
                                    Генплан
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#advantages" class="project-menu__mobile-card-link">
                                    Преимущества
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#plannings" class="project-menu__mobile-card-link">
                                    Планировки
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#mortgage" class="project-menu__mobile-card-link">
                                    Ипотека
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#progress" class="project-menu__mobile-card-link">
                                    Ход строительства
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#" class="project-menu__mobile-card-link">
                                    Коммерция
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#" class="project-menu__mobile-card-link">
                                    Кладовые
                                </a>
                            </div>
                        </li>
                        <li class="project-menu__mobile-list-item">
                            <div class="project-menu__mobile-card">
                                <a href="#" class="project-menu__mobile-card-link">
                                    Паркинг
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="project-menu-overlay">

</div>