<section class="similar-flats" xmlns="http://www.w3.org/1999/html">
    <div class="similar-flats__content">
        <div class="similar-flats__top-row">
            <h2 class="similar-flats__heading">
                Похожие квартиры
            </h2>
            <div class="similar-flats__arrows">
                <button class="similar-flats__arrow similar-flats__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="similar-flats__arrow similar-flats__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>

            <div class="swiper similar-flats__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="similar-flats__slider-card">
                            <div class="similar-flats__slider-card-top-row">
                                <div class="similar-flats__tag similar-flats__tag--blue">
                                    <span class="similar-flats__text">Комфорт класс</span>
                                </div>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--like">
                                    +1
                                </a>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--fav">
                                    <svg width="16" height="16" aria-hidden="true">
                                        <use xlink:href="#fav"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-image-container">
                                <a href="#" class="similar-flats__slider-card-link">
                                    <img src="/images/similar-flat.webp" alt="" class="similar-flats__slider-card-image">
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-title">
                                    3 – комнатная 75,5 м2
                            </div>
                            <ul class="similar-flats__slider-card-specs-list">
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Проект
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            <a href="#" class="similar-flats__slider-card-specs-card-link">
                                                Станция Спортивная
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Расположение
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 очередь, Секция 5
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Этаж
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            5 / 10 эт.
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Срок сдачи
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 квартал 2025
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="similar-flats__slider-card-price">
                                <span class="similar-flats__slider-card-price-text">5 190 000 ₽</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="similar-flats__slider-card">
                            <div class="similar-flats__slider-card-top-row">
                                <div class="similar-flats__tag similar-flats__tag--pink">
                                    <svg width="12" height="12" aria-hidden="true" class="flat-plan-tag__icon">
                                        <use xlink:href="#flash"></use>
                                    </svg>
                                    <span class="similar-flats__text">Со скидкой</span>
                                </div>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--like">
                                    +1
                                </a>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--fav">
                                    <svg width="16" height="16" aria-hidden="true">
                                        <use xlink:href="#fav"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-image-container">
                                <a href="#" class="similar-flats__slider-card-link">
                                    <img src="/images/similar-flat.webp" alt="" class="similar-flats__slider-card-image">
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-title">
                                3 – комнатная 75,5 м2
                            </div>
                            <ul class="similar-flats__slider-card-specs-list">
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Проект
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            <a href="#" class="similar-flats__slider-card-specs-card-link">
                                                Станция Спортивная
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Расположение
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 очередь, Секция 5
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Этаж
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            5 / 10 эт.
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Срок сдачи
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 квартал 2025
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="similar-flats__slider-card-price similar-flats__slider-card-price-offer">
                                <span class="similar-flats__slider-card-price-text">5 190 000 ₽</span>
                                <span class="similar-flats__slider-card-price-discount">5,6 млн ₽</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="similar-flats__slider-card">
                            <div class="similar-flats__slider-card-top-row">
                                <div class="similar-flats__tag similar-flats__tag--blue">
                                    <span class="similar-flats__text">Комфорт класс</span>
                                </div>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--like">
                                    +1
                                </a>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--fav">
                                    <svg width="16" height="16" aria-hidden="true">
                                        <use xlink:href="#fav"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-image-container">
                                <a href="#" class="similar-flats__slider-card-link">
                                    <img src="/images/similar-flat.webp" alt="" class="similar-flats__slider-card-image">
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-title">
                                3 – комнатная 75,5 м2
                            </div>
                            <ul class="similar-flats__slider-card-specs-list">
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Проект
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            <a href="#" class="similar-flats__slider-card-specs-card-link">
                                                Станция Спортивная
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Расположение
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 очередь, Секция 5
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Этаж
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            5 / 10 эт.
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Срок сдачи
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 квартал 2025
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="similar-flats__slider-card-price">
                                <span class="similar-flats__slider-card-price-text">5 190 000 ₽</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="similar-flats__slider-card">
                            <div class="similar-flats__slider-card-top-row">
                                <div class="similar-flats__tag similar-flats__tag--blue">
                                    <span class="similar-flats__text">Комфорт класс</span>
                                </div>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--like">
                                    +1
                                </a>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--fav">
                                    <svg width="16" height="16" aria-hidden="true">
                                        <use xlink:href="#fav"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-image-container">
                                <a href="#" class="similar-flats__slider-card-link">
                                    <img src="/images/similar-flat.webp" alt="" class="similar-flats__slider-card-image">
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-title">
                                3 – комнатная 75,5 м2
                            </div>
                            <ul class="similar-flats__slider-card-specs-list">
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Проект
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            <a href="#" class="similar-flats__slider-card-specs-card-link">
                                                Станция Спортивная
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Расположение
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 очередь, Секция 5
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Этаж
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            5 / 10 эт.
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Срок сдачи
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 квартал 2025
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="similar-flats__slider-card-price similar-flats__slider-card-price-offer">
                                <span class="similar-flats__slider-card-price-text">5 190 000 ₽</span>
                                <span class="similar-flats__slider-card-price-discount">5,6 млн ₽</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="similar-flats__slider-card">
                            <div class="similar-flats__slider-card-top-row">
                                <div class="similar-flats__tag similar-flats__tag--blue">
                                    <span class="similar-flats__text">Комфорт класс</span>
                                </div>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--like">
                                    +1
                                </a>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--fav">
                                    <svg width="16" height="16" aria-hidden="true">
                                        <use xlink:href="#fav"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-image-container">
                                <a href="#" class="similar-flats__slider-card-link">
                                    <img src="/images/similar-flat.webp" alt="" class="similar-flats__slider-card-image">
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-title">
                                3 – комнатная 75,5 м2
                            </div>
                            <ul class="similar-flats__slider-card-specs-list">
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Проект
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            <a href="#" class="similar-flats__slider-card-specs-card-link">
                                                Станция Спортивная
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Расположение
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 очередь, Секция 5
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Этаж
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            5 / 10 эт.
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Срок сдачи
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 квартал 2025
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="similar-flats__slider-card-price">
                                <span class="similar-flats__slider-card-price-text">5 190 000 ₽</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="similar-flats__slider-card">
                            <div class="similar-flats__slider-card-top-row">
                                <div class="similar-flats__tag similar-flats__tag--blue">
                                    <span class="similar-flats__text">Комфорт класс</span>
                                </div>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--like">
                                    +1
                                </a>
                                <a href="#" class="similar-flats__actions-button similar-flats__actions-button--fav">
                                    <svg width="16" height="16" aria-hidden="true">
                                        <use xlink:href="#fav"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-image-container">
                                <a href="#" class="similar-flats__slider-card-link">
                                    <img src="/images/similar-flat.webp" alt="" class="similar-flats__slider-card-image">
                                </a>
                            </div>
                            <div class="similar-flats__slider-card-title">
                                3 – комнатная 75,5 м2
                            </div>
                            <ul class="similar-flats__slider-card-specs-list">
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Проект
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            <a href="#" class="similar-flats__slider-card-specs-card-link">
                                                Станция Спортивная
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Расположение
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 очередь, Секция 5
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Этаж
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            5 / 10 эт.
                                        </div>
                                    </div>
                                </li>
                                <li class="similar-flats__slider-card-specs-list-item">
                                    <div class="similar-flats__slider-card-specs-card">
                                        <div class="similar-flats__slider-card-specs-card-key">
                                            Срок сдачи
                                        </div>
                                        <div class="similar-flats__slider-card-specs-card-value">
                                            2 квартал 2025
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="similar-flats__slider-card-price similar-flats__slider-card-price-offer">
                                <span class="similar-flats__slider-card-price-text">5 190 000 ₽</span>
                                <span class="similar-flats__slider-card-price-discount">5,6 млн ₽</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</section>
