<div class="subscribe-block">
    <div class="subscribe-block__content">
        <div class="subscribe-form">
            <div class="subscribe-form__left">
                <p class="subscribe-form__text">Подпишитесь на e-mail рассылку <span>и узнавайте об обновлениях первыми</span></p>
            </div>
            <div class="subscribe-form__right">
                <form action="/" method="POST" class="subscribe-form__form" novalidate="">
                    <div class="subscribe-form__row">
                        <div class="subscribe-form__fields">
                            <div class="subscribe-form__field">
                                <div class="subscribe-form__input-wrapper">
                                    <input type="text" name="your-email" class="subscribe-form__input" required="" placeholder="E-mail" inputmode="email">
                                </div>
                            </div>
                        </div>
                        <button class="subscribe-form__submit" type="submit">
                            Подписаться
                        </button>
                    </div>
                    <div class="subscribe-form__policy">
                        Нажимая "Подписаться", вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
