<section class="why-mortgage">
    <div class="why-mortgage__content">
        <h2 class="why-mortgage__heading">
            Почему ипотека — это&nbsp;легко?
        </h2>
        <ol class="why-mortgage__list">
            <li class="why-mortgage__list-item">
                <div class="why-mortgage__card">
                    <div class="why-mortgage__card-content">
                        <h3 class="why-mortage__card-title">
                            Выгодные предложения и низкие ставки
                        </h3>
                        <div class="why-mortgage__card-bottom-row">
                            <img src="/images/why-mortgage/1.webp" alt="" class="why-mortage__card-image">
                        </div>

                    </div>

                </div>
            </li>
            <li class="why-mortgage__list-item">
                <div class="why-mortgage__card">
                    <div class="why-mortgage__card-content">
                        <h3 class="why-mortage__card-title">
                            Одобрение в короткие сроки
                        </h3>
                        <div class="why-mortgage__card-bottom-row">
                            <img src="/images/why-mortgage/2.webp" alt="" class="why-mortage__card-image">
                        </div>

                    </div>

                </div>
            </li>
            <li class="why-mortgage__list-item">
                <div class="why-mortgage__card">
                    <div class="why-mortgage__card-content">
                        <h3 class="why-mortage__card-title">
                            Онлайн-анкета для всех банков сразу
                        </h3>
                        <div class="why-mortgage__card-bottom-row">
                            <img src="/images/why-mortgage/3.webp" alt="" class="why-mortage__card-image">
                        </div>

                    </div>

                </div>
            </li>
            <li class="why-mortgage__list-item">
                <div class="why-mortgage__card">
                    <div class="why-mortgage__card-content">
                        <h3 class="why-mortage__card-title">
                            Персональный менеджер на&nbsp;время сопровождения сделки
                        </h3>
                        <div class="why-mortgage__card-bottom-row">
                            <img src="/images/why-mortgage/4.webp" alt="" class="why-mortage__card-image">
                        </div>

                    </div>

                </div>
            </li>
        </ol>
    </div>
</section>