.ui-sharing {
  border: 1px solid rgba(#020202, 0.1);
  border-radius: 8px;
  background-color: #fff;
  flex-shrink: 0;
  width: 40px;
  height: 40px;

  transition: border-color 0.2s, background-color 0.2s;
  display: inline-grid;
  place-items: center;
  vertical-align: top;
  svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: black;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #f5f5f5;
      border-color: #f5f5f5;
    }
  }
}
