.about-team {
  @include blockWrapper;
  background-color: #f5f5f5;
  padding-bottom: 15rem;

  @include breakpoint(mobile) {
    padding-bottom: 6rem;
  }
}

.about-team__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.about-team__top-row {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  margin-bottom: 4rem;
  @include breakpoint(mobile) {
    margin-bottom: 3rem;
  }
}

.about-team__heading {
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  align-items: baseline;

  @include breakpoint(mobile) {
    justify-content: flex-start;
    gap: 0.6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: -0.05em;
  }
  &::after {
    content: "";
    flex-shrink: 0;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: var(--primary-color);

    @include breakpoint(mobile) {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}

.about-team__arrows {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.about-team__arrow {
  flex-shrink: 0;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 1px solid rgba(2, 2, 2, 0.1);
  transition: border-color 0.2s, background-color 0.2s;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--text-color);
    transition: fill 0.2s;
  }

  &.swiper-button-disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  @media (hover: hover) {
    &:not(.swiper-button-disabled) {
      &:hover {
        background-color: var(--white-hover);
        border-color: var(--white-hover);
        svg {
          fill: var(--primary-color);
        }
      }
    }
  }
}

.about-team__slider {
  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    width: calc(25% - 2.4rem * 3 / 4);
    margin-right: 2.4rem;

    @include breakpoint(mobile) {
      width: 70%;
      margin-right: 0.8rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.about-team__slider-card {
  display: flex;
  flex-direction: column;
}

.about-team__slider-card-image-container {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;

  @include breakpoint(mobile) {
    border-radius: 1.2rem;
  }
  &::before {
    content: "";
    display: block;
    padding-bottom: 114%;
  }
}

.about-team__slider-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-team__slider-card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: -0.02em;
  line-height: 125%;
  margin-top: 1.6rem;
  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    margin-top: 0.8rem;
  }
}

.about-team__slider-card-role {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(2, 2, 2, 0.4);
  line-height: 150%;
  margin-top: 0.8rem;
  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    margin-top: 0.4rem;
  }
}
