.boxrooms {
  @include breakpoint(mobile) {
    .map-modal-shown & {
      position: relative;
      z-index: 200;
    }
  }
}
.boxrooms-tabs {
  @include blockWrapper;
  padding-bottom: 12rem;
  padding-top: 6rem;
  border-top-left-radius: 3.2rem;
  border-top-right-radius: 3.2rem;
  position: relative;
  z-index: 10;
  margin-top: -3.2rem;

  @include breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 6rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    margin-top: -1.2rem;
  }
}

.boxrooms-tabs__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.boxrooms-tabs__tabs-nav {
  margin-bottom: 3.7rem;
  align-self: flex-start;

  @include breakpoint(mobile) {
    align-self: stretch;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 var(--content-padding);
    margin-bottom: 2.4rem;

    @include noScrollbar;
  }
}

.boxrooms-tabs__tabs-nav-list {
  padding: 0.8rem;
  background-color: #f5f5f5;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;

  @include breakpoint(mobile) {
    padding: 0.4rem;
    border-radius: 0.8rem;
    flex-shrink: 0;
  }
}

.boxrooms-tabs__tabs-nav-list-item {
  flex-shrink: 0;
}

.boxrooms-tabs__tabs-nav-link {
  padding: 1.3rem 2rem;
  border-radius: 0.8rem;
  text-align: center;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  transition: color 0.2s, background-color 0.2s;

  color: var(--text-color);

  @include breakpoint(mobile) {
    padding: 1.3rem 2rem;
    border-radius: 0.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
  }
  &:link,
  &:visited {
    color: var(--text-color);
  }

  &.active {
    background-color: #101038;
    color: white;
  }
}

.boxrooms-tabs__tabs-items {
  position: relative;
}

.boxrooms-tabs__tabs-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
    position: relative;
    z-index: 10;
  }
}

.boxrooms {
  display: flex;
  flex-direction: column;
}

.boxrooms__top {
  @include blockWrapper;
  background-color: #fff;
  padding-top: 8rem;
  padding-bottom: 8rem;

  @include breakpoint(mobile) {
    padding-top: 3.2rem;
    padding-bottom: 2rem;
  }
}

.boxrooms__top-content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.boxrooms__breadcrumbs {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: relative;
  z-index: 5;
  margin-bottom: 8rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
    margin-bottom: 3.2rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: rgba(#020202, 0.5);
    &:link,
    &:visited {
      color: rgba(#020202, 0.5);
    }

    &::after {
      content: "";
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.6rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/breadcrumbs-arrow-dark.svg");
      opacity: 0.5;

      @include breakpoint(mobile) {
        width: 1.4rem;
        height: 1.4rem;
        align-self: center;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &.active {
      color: #020202;
      &:link,
      &:visited {
        color: #020202;
      }
    }
  }
}

.boxrooms__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 5.4rem;
  letter-spacing: -0.03em;
  line-height: 100%;
  margin-bottom: 3rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
    letter-spacing: -0.05em;
    margin-bottom: 2.4rem;
  }
}

.boxrooms__categories {
  border-bottom: 2px solid rgba(#020202, 0.05);
  margin-bottom: 4.2rem;
  @include breakpoint(mobile) {
    border: none;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    @include noScrollbar;
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 var(--content-padding);
    margin-bottom: 3.2rem;
  }
}

.boxrooms__categories-list {
  display: flex;
  gap: 4rem;
  margin-bottom: -2px;

  @include breakpoint(mobile) {
    gap: 3.2rem;
    border-bottom: 2px solid rgba(#020202, 0.05);
    margin: 0;
    width: max-content;
    flex-shrink: 0;
  }
}

.boxrooms__categories-list-item {
  flex-shrink: 0;
}

.boxrooms__categories-link {
  padding-bottom: 1.2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  position: relative;
  line-height: 150%;
  display: block;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    padding-bottom: 1.6rem;
    margin-bottom: -2px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transition: background-color 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color);
    }
  }

  &.active {
    color: var(--primary-color);
    &::before {
      background-color: var(--primary-color);
    }
  }
}

.boxrooms__bottom {
  padding-top: 3.3rem;
  padding-bottom: 0;
  margin-bottom: 12rem;
  position: relative;
  z-index: 2;
  margin-top: -3.2rem;
  border-top-left-radius: 3.2rem;
  border-top-right-radius: 3.2rem;
  @include blockWrapper;

  @include breakpoint(mobile) {
    padding-top: 2rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    margin-bottom: 6rem;
    padding-bottom: 0;
  }
}

.boxrooms__bottom-content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.boxrooms__mobile-open-filters {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 1.8rem 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    color: var(--blue);
    flex-grow: 1;
    svg {
      width: 1.4rem;
      height: 1.4rem;
      flex-shrink: 0;
      fill: currentColor;
    }
  }
}

.boxrooms__view-mode-btn {
  flex-shrink: 0;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0.8rem;
  transition: background-color 0.2s;
  display: grid;
  place-items: center;

  @include breakpoint(mobile) {
    width: 5rem;
    height: 5rem;
    background-color: #fff;
  }
  svg {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    fill: #101038;
    transition: fill 0.2s;
    &:nth-child(2) {
      display: none;
    }

    @include breakpoint(mobile) {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  &.active {
    background-color: #101038;

    svg {
      fill: white;
    }
  }

  @include breakpoint(mobile) {
    &.active {
      display: none;
    }
  }
}

.boxrooms__grouping-checkbox {
  flex-shrink: 0;
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  padding: 2rem 1.6rem;
  border-radius: 1.2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  gap: 1.6rem;

  @include breakpoint(mobile) {
    padding: 1.5rem 1.6rem;
    background: #f5f5f5;
    border-radius: 0.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
  }
}

.boxrooms__grouping-checkbox-input {
  display: none;
}

.boxrooms__grouping-checkbox-text {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boxrooms__grouping-checkbox-toggle {
  flex-shrink: 0;
  width: 40px;

  background-color: #e6e6e6;
  padding: 2px;
  display: flex;
  align-items: center;
  border-radius: 50rem;
  transition: background-color 0.2s;

  &::before {
    content: "";
    flex-shrink: 0;
    box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border: 0.5px solid rgba(2, 2, 2, 0.04);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  }
}

.boxrooms__grouping-checkbox-input:checked ~ .boxrooms__grouping-checkbox-toggle {
  background-color: #101038;
  &::before {
    box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
  }
}

.boxrooms__list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 2.4rem;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 0.8rem;
  }
}

.boxrooms__list-item {
  display: flex;
  flex-direction: column;
}

.boxrooms__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid transparent;
  border-radius: 1.6rem;
  background-color: #fff;
  position: relative;
  padding: 1.6rem;
  transition: border-color 0.2s;

  @include breakpoint(mobile) {
    padding: 1.6rem;
    border-radius: 1.2rem;
  }

  @media (hover: hover) {
    &:hover {
      border-color: rgba(207, 0, 12, 0.3);
    }
  }
}

.boxrooms__card-link-wrapper {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.boxrooms__card-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.boxrooms__tags {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.boxrooms__tags-shown {
  flex-shrink: 0;
}

.boxrooms__tags-shown-list {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: relative;
  z-index: 5;
}

.boxrooms__tags-shown-list-item {
  flex-shrink: 0;
}

.boxrooms__tag-shown {
  display: block;
  padding: 1.1rem 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #020202;
  background: #e7eef7;

  line-height: 120%;
  border: 1px solid #e7eef7;
  border-radius: 0.6rem;
  text-align: center;
  &:link,
  &:visited {
    color: #020202;
  }
}

.boxrooms__tags-hidden {
  position: relative;
  z-index: 8;
  cursor: default;
  &:hover {
    .boxrooms__tags-hidden-dropdown {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}

.boxrooms__tags-hidden-btn {
  padding: 1.1rem 1.1rem;
  border: 1px solid rgba(2, 2, 2, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 0.6rem;
  display: grid;
  place-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #020202;
  line-height: 120%;
}

.boxrooms__add-to-fav {
  margin-left: auto;
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  border: 0.8px solid rgba(2, 2, 2, 0.1);
  border-radius: 0.6rem;
  color: transparent;
  transition: background-color 0.2s, color 0.2s;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 5;
  &:link,
  &:visited {
    color: transparent;
  }
  svg {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    fill: #020202;
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      svg {
        fill: var(--primary-color);
      }
    }
  }

  &.active {
    color: var(--primary-color);
    background-color: var(--white-hover);

    svg {
      fill: var(--primary-color);
    }
  }
}

.boxrooms__tags-hidden-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 0.4rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 20;

  @include breakpointMF(small-tablet) {
    .boxrooms__list-item:nth-child(5n + 4) &,
    .boxrooms__list-item:nth-child(5n + 5) & {
      left: auto;
      right: 100%;
    }
  }

  @include breakpoint(mobile) {
    top: 0;
    left: 100%;
  }
}

.boxrooms__tags-hidden-dropdown-inner {
  width: max-content;
  padding: 1.6rem;
  background: rgba(16, 16, 56, 0.7);
  backdrop-filter: blur(15px);
  border-radius: 0.6rem;

  @include breakpoint(mobile) {
    width: min-content;
    padding: 0.8rem;
  }
}

.boxrooms__tags-hidden-list {
  display: flex;
  align-items: center;
  gap: 1rem;

  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }
}

.boxrooms__tags-hidden-list-item {
  flex-shrink: 0;
}

.boxrooms__list-item--fullwidth {
  grid-column: 1 / -1;
}

.boxrooms__tag-hidden {
  display: block;
  text-align: center;
  padding: 1.2rem 1.6rem;
  background: #ffffff;
  border-radius: 0.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #020202;
  line-height: 120%;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
  }
}

.boxrooms__card-slider {
  position: relative;
  z-index: 5;
  max-width: 22.7rem;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1.5rem;
}

.boxrooms__card-slider-card {
  position: relative;
  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.boxrooms__card-slider-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.boxrooms__card-slider-pagination.boxrooms__card-slider-pagination.boxrooms__card-slider-pagination.boxrooms__card-slider-pagination.boxrooms__card-slider-pagination {
  position: absolute;
  bottom: 0.8rem;
  left: 0;
  width: auto;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;

  .swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet {
    flex-shrink: 0;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    opacity: 1;
    margin: 0;
    background-color: #e6e6e6;
    transition: background-color 0.2s;

    &.swiper-pagination-bullet-active {
      background-color: #212173;
    }
  }
}

@include breakpointMF(small-tablet) {
  .boxrooms__card-slider-pagination {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
  }

  .boxrooms__card:hover .boxrooms__card-slider-pagination {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }
}

.boxrooms__card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin-bottom: 1.6rem;
  }
}

.boxrooms__card-specs {
  margin-bottom: 3.2rem;

  @include breakpoint(mobile) {
    margin-bottom: 2.4rem;
  }
}

.boxrooms__card-specs-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boxrooms__card-specs-card {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  justify-content: space-between;
}

.boxrooms__card-specs-card-key {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 130%;
  color: rgba(#020202, 0.4);

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 130%;
  }
}

.boxrooms__card-specs-card-value {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 130%;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 130%;
  }

  &--blue {
    color: var(--blue);
    font-weight: 500;
  }
}

.boxrooms__card-price {
  margin-top: auto;
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 1.2rem;
}
.boxrooms__card-price-amount {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 120%;
  letter-spacing: -0.02em;

  color: #212173;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 120%;
  }

  &--discount {
    color: var(--primary-color);
  }
}

.boxrooms__card-price-old {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration-line: line-through;
  line-height: 120%;
  color: rgba(#020202, 0.4);
}

.boxrooms__promo-block {
  background: #212173;
  border-radius: 1.6rem;
  color: white;
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1.3fr 1.05fr;
  grid-template-areas: "logowrapper content btn";

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 5.4rem;
    padding: 2rem;
    padding-top: 2.8rem;
    padding-bottom: 2.4rem;
    border-radius: 1.2rem;
  }
}

.boxrooms__promo-block-logo-wrapper {
  @include breakpointMF(small-tablet) {
    display: flex;
    align-items: flex-start;
    grid-area: logowrapper;
    border-right: 1px solid rgba(white, 0.15);
    padding-right: 3rem;
  }
}

.boxrooms__promo-block-logo {
  width: 21.4rem;

  @include breakpoint(mobile) {
    width: 16.4rem;
  }
}

.boxrooms__promo-block-content {
  @include breakpointMF(small-tablet) {
    display: flex;
    flex-direction: column;

    padding-left: 7rem;
    padding-right: 5rem;
    gap: 1.6rem;
    border-right: 1px solid rgba(white, 0.15);
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

.boxrooms__promo-block-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 125%;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 110%;
  }
}

.boxrooms__promo-block-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(white, 0.6);
  line-height: 150%;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
  }
}

.boxrooms__promo-block-btn-wrapper {
  @include breakpointMF(small-tablet) {
    grid-area: btn;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 7.4rem;
  }
}

.boxrooms__promo-block-icon {
  width: 7.1rem;
  height: auto;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    display: none;
  }
}

.boxrooms__promo-block-link {
  display: block;
  text-align: center;
  flex-shrink: 0;
  padding: 1.8rem 5.5rem;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  line-height: 100%;
  border: 1px solid rgba(white, 0.3);
  border-radius: 1.2rem;

  @media (hover: hover) {
    &:hover {
      background-color: white;
      border-color: white;
      color: var(--blue);
    }
  }

  @include breakpoint(mobile) {
    align-self: stretch;
    padding: 1.8rem 3.6rem;
    border-radius: 0.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
  }
}

.boxrooms__show-more {
  display: block;
  text-align: center;
  padding: 3rem 6rem;
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  border-radius: 1.2rem;
  transition: color 0.2s, background-color 0.2s;
  color: var(--primary-color);
  margin-top: 3.2rem;
  &:link,
  &:visited {
    color: var(--primary-color);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--white-hover);
    }
  }

  @include breakpoint(mobile) {
    margin-top: 2rem;
    padding: 1.8rem 3.6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    line-height: 100%;
  }
}

.boxrooms__short-filters {
  display: grid;
  grid-template-columns: minmax(0, 2.04fr) minmax(0, 2.04fr) minmax(0, 2.04fr) minmax(0, 2.7fr) minmax(0, 2.5fr);
  grid-gap: 2.4rem;
  align-items: flex-end;
  grid-row-gap: 3.2rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.boxrooms__short-filters-fields {
  display: contents;
}

.boxrooms__short-filters-all-filters {
  grid-column: 1 / 2;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  align-self: center;
  transition: color 0.2s;

  @media (hover: hover) {
    &:hover {
      color: var(--blue);
    }
  }
}

.boxrooms__short-filters-found {
  grid-column: 4 / 3;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  justify-self: flex-end;
  align-self: center;
}

.boxrooms__short-filters-reset {
  gap: 0.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  grid-column: 5/5;
  color: #9a9a9a;
  align-self: center;
  transition: color 0.2s;
  svg {
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;
    margin-top: 0.1rem;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--text-color);
    }
  }
}

.boxrooms__all-filters-modal {
  background: rgba(#020202, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 500;
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  opacity: 0;
  visibility: hidden;

  .all-filters-shown & {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }

  body:not(.loaded) & {
    display: none;
  }
}

.boxrooms__all-filters-modal-inner {
  margin-left: auto;
  width: 114rem;
  max-width: 100%;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 2.4rem 0px 0px 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  padding-top: 4.4rem;
  padding-bottom: 0;

  @include breakpoint(mobile) {
    padding: 2rem;
    border-radius: 0;
    flex-grow: 1;
    margin: 0;
    padding-bottom: 18rem;
  }
}

.boxrooms__all-filters-modal-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.boxrooms__all-filters-modal-top-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2.4rem;

  @include breakpoint(mobile) {
    margin-bottom: 2rem;
  }
}

.boxrooms__all-filters-modal-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 100%;
  letter-spacing: -0.03em;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
    letter-spacing: -0.05em;
  }
}

.boxrooms__all-filters-modal-heading-desktop-text {
  display: block;

  @include breakpoint(mobile) {
    display: none;
  }
}

.boxrooms__all-filters-modal-heading-mobile-text {
  display: none;

  @include breakpoint(mobile) {
    display: block;
  }
}

.boxrooms__all-filters-modal-close {
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background: #f5f5f5;
  transition: background-color 0.2s;
  margin-left: auto;

  @include breakpoint(mobile) {
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 1px solid rgba(2, 2, 2, 0.1);
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--text-color);
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.boxrooms__all-filters-modal-fields {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2.4rem;
  grid-row-gap: 3.2rem;
  padding-bottom: 3.2rem;

  border-bottom: 1px solid rgba(#020202, 0.1);

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    border: none;
  }
}

.boxrooms__all-filters-modal-blocks {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.4rem;
  grid-row-gap: 3.2rem;
  margin-bottom: 3.2rem;

  @include breakpoint(mobile) {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.boxrooms__all-filters-modal-block-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 1.6rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 100%;
    margin-bottom: 1.6rem;
  }
}

.boxrooms__all-filters-modal-block {
  &--fullwidth {
    grid-column: 1 / -1;
  }
}

.boxrooms__all-filters-modal-controls {
  margin-top: auto;
  margin: 0 -6rem;
  padding: 2.4rem 6rem;
  border-top: 1px solid rgba(#020202, 0.1);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 0.8rem;

  @include breakpoint(mobile) {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border: none;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 20;
    padding: 2rem;
  }
}

.boxrooms__all-filters-modal-submit {
  border: 1px solid var(--primary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  width: 100%;
  text-align: center;
  padding: 2rem 2.4rem;
  border-radius: 1.2rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  @include breakpoint(mobile) {
    padding: 1.8rem 3.6rem;
    border-radius: 0.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
  }
  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-color-hover);
      border-color: var(--primary-color-hover);
    }
  }
}

.boxrooms__all-filters-modal-reset {
  border: 1px solid var(--primary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  width: 100%;
  text-align: center;
  padding: 2rem 2.4rem;
  border-radius: 1.2rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;

  svg {
    flex-shrink: 0;
    fill: var(--primary-color);
    transition: fill 0.2s;
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    bottom: -0.1rem;

    @include breakpoint(mobile) {
      order: -10;
    }
  }

  @include breakpointMF(small-tablet) {
    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color);
        color: white;
        svg {
          fill: white;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    padding: 1.8rem 3.6rem;
    border-radius: 0.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    border-color: transparent;
    background-color: transparent;
    color: #808080;
    svg {
      width: 1.4rem;
      height: 1.4rem;
      fill: currentColor;
    }
  }
}

.boxrooms__all-filters-modal-checkboxes-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.boxrooms__all-filters-modal-checkbox {
  cursor: pointer;
  user-select: none;
  display: block;
}

.boxrooms__all-filters-modal-checkbox-input {
  display: none;
}

.boxrooms__all-filters-modal-checkbox-content {
  padding: 1.4rem 2rem;
  background: #f5f5f5;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: background-color 0.2s, color 0.2s;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;

  svg {
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    fill: currentColor;
  }

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
    padding: 1.2rem 2rem;

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.boxrooms__all-filters-modal-checkbox-input:checked
  ~ .boxrooms__all-filters-modal-checkbox-content {
  background-color: var(--white-hover);
  color: var(--primary-color);
}

.boxrooms__all-filters-modal-exit {
  display: none;

  @include breakpoint(mobile) {
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--blue);
    svg {
      flex-shrink: 0;
      fill: currentColor;
      width: 1.4rem;
      height: 1.4rem;
      fill: var(--blue);
    }
  }
}

.boxrooms__fixed-show-filters {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1.8rem 4rem;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  line-height: 150%;
  background: #101038;
  z-index: 40;
  gap: 0.8rem;
  transition: background-color 0.2s, opacity 0.2s, visibility 0s linear 0.2s;
  opacity: 0;
  visibility: hidden;

  &.shown {
    opacity: 1;
    visibility: inherit;
    transition: background-color 0.2s, opacity 0.2s, visibility 0.2s;
  }

  @include breakpoint(mobile) {
    bottom: 9rem;
    padding: 1.7rem 3.6rem;
    border-radius: 0.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
  }

  svg {
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;

    @include breakpoint(mobile) {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--blue);
    }
  }
}

.boxrooms__fixed-show-filters-desktop-text {
  @include breakpoint(mobile) {
    display: none;
  }
}

.boxrooms__fixed-show-filters-mobile-text {
  display: none;

  @include breakpoint(mobile) {
    display: block;
  }
}

.boxrooms-projects {
  display: flex;
  flex-direction: row;
  gap: 9.5rem;
  @include breakpoint(mobile) {
    gap: 0;
  }
}

.boxrooms-projects__left {
  max-width: 82.9rem;
  width: 100%;
  display: flex;
  @include breakpoint(mobile) {
    width: 100%;
    max-width: 100%;
    .map-modal-shown & {
      display: none;
    }
  }
}


.boxrooms-projects__right {
  max-width: 63.6rem;
  width: 100%;
  @include breakpoint(mobile) {
    width: 100%;
    max-width: unset;
    display: none;
    .map-modal-shown & {
      display: flex;
    }
  }
}


.boxrooms-projects__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include breakpoint(mobile) {
    gap: 2.4rem;
  }
}

.boxrooms-projects__card {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  @include breakpoint(mobile) {
    flex-direction: column;
    gap: 1.8rem;
  }
}

.boxrooms-projects__card-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 0;
  margin-bottom: 0.6rem;
  @include breakpoint(mobile) {
    margin-bottom: 1rem;
  }
}

.boxrooms-projects__card-image-container {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  color: white;
  max-width: 37.2rem;
  width: 100%;
  height: 24.6rem;
  @include breakpoint(mobile) {
    height: auto;
    max-width: 100%;
    border-radius: 1.2rem;
  }
}

.boxrooms-projects__card-image-src {
  width: 100%;
}

.boxrooms-projects__card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.boxrooms-projects__card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  @include breakpoint(mobile) {
    font-size: 2rem;
  }
}

.boxrooms-projects__card-location {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: rgba(2, 2, 2, 0.6);
  margin-bottom: 1.3rem;
  @include breakpoint(mobile) {
    font-size: 1.4rem;
  }

  svg {
    flex-shrink: 0;
    fill: var(--primary-color);
    width: 1.6rem;
    height: 1.6rem;
  }
}

.boxrooms-projects__card-description {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: rgba(2, 2, 2, 0.8);
  @include breakpoint(mobile) {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }
}

.boxrooms-projects__card-options {
  margin-top: auto;
}

.boxrooms-projects__card-options-items {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.boxrooms-projects__card-options-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  @include breakpoint(mobile) {
    justify-content: space-between;
  }
}

.boxrooms-card-options-item__image {
  color: rgba(2, 2, 2, 0.3);
}

.boxrooms-card-options-item__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  display: inline-flex;
  width: 8rem;
  @include breakpoint(mobile) {
    font-size: 1.4rem;
  }
}

a.boxrooms-card-options-item__link {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #212173;
  text-decoration: underline;
  @include breakpoint(mobile) {
    font-size: 1.4rem;
    margin-left: auto;
  }

  &:focus,
  &:hover{
    text-decoration: none;
  }
}

.boxrooms-projects__card-tags {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 10;
}

.boxrooms-projects__card-tags-list {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.boxrooms-projects__card-tag {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  height: 3rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  border-radius: 0.6rem;
  white-space: nowrap;
  background: rgba(16, 16, 56, 0.3);
  backdrop-filter: blur(10px);
  @include breakpoint(mobile) {
    font-size: 1rem;
  }
}

.boxrooms-projects__card-tag--dark {
  background: #101038;
  backdrop-filter: blur(10px);
  color: white;
}

.boxrooms-projects__map-close {
  display: none;
  @include breakpoint(mobile) {
    display: block;
    top: 2rem;
    right: 2rem;
    position: absolute;
    width: 4.4rem;
    height: 4.4rem;
    background-color: #fff;
    border-radius: 50%;
    z-index: 40;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--text-color);
      transition: fill 0.2s;
    }
  }
}

.boxrooms-projects__map-modal {
  display: contents;

  @include breakpoint(mobile) {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 500;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    opacity: 0;
    visibility: hidden;

    .map-modal-shown & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }

    body:not(.loaded) & {
      display: none;
    }
  }
}
.boxrooms-projects__map {
  position: relative;
}

.boxrooms-projects__map-container {
  position: relative;
  min-height: 82rem;
  border-radius: 2rem;
  overflow: hidden;
  z-index: 1;
  @include breakpoint(mobile) {
    border-radius: 0;
    min-height: 100vh;
  }
}

.boxrooms-projects__map-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.boxrooms-projects__map-marker {
  width: 10rem;
  height: 10.8rem;
  transform: translateX(-50%) translateY(-100%);
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  @include breakpoint(mobile) {
    width: 6rem;
    height: 6.8rem;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.8rem 0.6rem 0 0.6rem;
    border-color: var(--primary-color) transparent transparent transparent;
    transform: rotate(0deg);
    align-self: center;
    position: relative;
    top: -1px;
  }
}

.boxrooms-projects__map-marker-image-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem solid var(--primary-color);
  position: relative;
  overflow: hidden;
  z-index: 2;

  @include breakpoint(mobile) {
    width: 6rem;
    height: 6rem;
  }
}

.boxrooms-projects__map-marker-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boxrooms-projects__map-marker-price-label {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.6rem;
  background: #ffffff;
  border: 1px solid rgba(2, 2, 2, 0.1);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-left: 2rem;
  width: max-content;

  @include breakpoint(mobile) {
    display: block !important;
    margin-left: 1rem;
    gap: 0.4rem;
    padding: 1rem 1.2rem;
  }
}

.boxrooms-projects__map-marker-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--primary-color);
  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
  }
}

.boxrooms-projects__map-marker-price {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  color: rgba(#020202, 0.6);

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
  }
}


.boxrooms__mobile-btns {
  display: none;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.8rem;
    margin-bottom: 2rem;
  }
}

.boxrooms__mobile-btn {
  padding: 1.5rem 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: var(--blue);
  transition: background-color 0.2s, color 0.2s;
  background-color: #f5f5f5;
  border-radius: 0.8rem;
  &:link,
  &:visited {
    color: var(--blue);
  }

  &.active {
    background-color: var(--blue);
    color: white;
  }
}

.boxrooms-projects .ymaps3x0--control__background {
  background: transparent;
  box-shadow: none;
}

.boxrooms-projects .ymaps3x0--zoom-control {
  gap: 1.2rem;
}

.boxrooms-projects .ymaps3x0--zoom-control .ymaps3x0--button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.2rem;
  height: 6.2rem;
  background: #FFFFFF;
  border: 1px solid rgba(2, 2, 2, 0.1);
  border-radius: 100%;
  transition: background-color 0.2s;
}

.boxrooms-projects .ymaps3x0--zoom-control__in {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.3802 11.2135H11.2135V15.3802C11.2135 15.6012 11.1257 15.8132 10.9695 15.9695C10.8132 16.1257 10.6012 16.2135 10.3802 16.2135C10.1592 16.2135 9.94723 16.1257 9.79095 15.9695C9.63467 15.8132 9.54688 15.6012 9.54688 15.3802V11.2135H5.38021C5.15919 11.2135 4.94723 11.1257 4.79095 10.9695C4.63467 10.8132 4.54688 10.6012 4.54688 10.3802C4.54688 10.1592 4.63467 9.94723 4.79095 9.79095C4.94723 9.63467 5.15919 9.54688 5.38021 9.54688H9.54688V5.38021C9.54688 5.15919 9.63467 4.94723 9.79095 4.79095C9.94723 4.63467 10.1592 4.54687 10.3802 4.54688C10.6012 4.54687 10.8132 4.63467 10.9695 4.79095C11.1257 4.94723 11.2135 5.15919 11.2135 5.38021V9.54688H15.3802C15.6012 9.54688 15.8132 9.63467 15.9695 9.79095C16.1257 9.94723 16.2135 10.1592 16.2135 10.3802C16.2135 10.6012 16.1257 10.8132 15.9695 10.9695C15.8132 11.1257 15.6012 11.2135 15.3802 11.2135Z" fill="%23CF000C"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.4rem;
}

.boxrooms-projects .ymaps3x0--zoom-control__out {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 10H15.9294" stroke="%23CF000C" stroke-width="1.9" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.4rem;
}

.boxrooms-projects .ymaps3x0--zoom-control .ymaps3x0--button {
  &:focus,
  &:hover {
    background: var(--white-hover);
  }
}


