.mortgage {
  @include blockWrapper;
  padding-top: 10rem;
  padding-bottom: 14.6rem;
  background-color: var(--blue);
  color: white;
  border-radius: 2.4rem 2.4rem 0px 0px;
  margin-top: -2.4rem;

  &--calculator {
    margin: 0;
    border-radius: 0;
    background-color: #f5f5f5;
    padding: 0;
    padding-bottom: 14rem;
    color: var(--text-color);
  }

  @include breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 6rem;
    border-radius: 1.2rem 1.2rem 0px 0px;
    margin-top: -1.2rem;

    &--calculator {
      padding-top: 0;
      border-radius: 0;
      margin-top: 0;
    }
  }
}

.mortgage__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.mortgage__top-row {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  margin-bottom: 5rem;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.mortgage__heading {
  display: flex;
  gap: 0.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  align-items: baseline;
  justify-content: center;

  @include breakpoint(mobile) {
    justify-content: flex-start;
    gap: 0.6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: -0.05em;
    margin-bottom: 2rem;
  }
  &::after {
    content: "";
    flex-shrink: 0;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: #ffc0c2;

    @include breakpoint(mobile) {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  .mortgage--calculator & {
    &::after {
      background-color: var(--primary-color);
    }
  }
}

.mortgage__show-all {
  margin-left: auto;
  padding: 1.7rem 3.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1.2rem;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  color: white;
  flex-shrink: 0;
  user-select: none;
  white-space: nowrap;
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      border-color: white;
      background-color: white;
      color: var(--text-color);
    }
  }

  @include breakpoint(mobile) {
    order: 30;
    padding: 1.8rem 3.6rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    align-self: stretch;
    text-align: center;
    line-height: 100%;
    border-color: white;
    width: 100%;
    margin-top: 2rem;
  }
}

.mortgage__bottom-row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-gap: 2.4rem;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2.8rem;
    .mortgage--calculator & {
      display: contents;
    }
  }
}

.mortgage__left-col {
  display: flex;
  flex-direction: column;
  padding-right: 1.6rem;

  @include breakpoint(mobile) {
    padding: 0;
    .mortgage--calculator & {
      display: contents;
    }
  }
}

.mortgage__right-col {
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    .mortgage--calculator & {
      display: contents;
    }
  }
}

.mortgage__form {
  display: flex;
  flex-direction: column;
}

.mortgage__form-fields {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 4.7rem;

  .mortgage--calculator & {
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
      margin-bottom: 2.5rem;
    }
  }

  @include breakpoint(mobile) {
    grid-gap: 2rem;
    margin-bottom: 2.5rem;
  }
}

.mortgage__form-field {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.mortgage__calculator-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: -0.04em;
    line-height: 100%;
    margin-bottom: 2.4rem;
  }
}

.mortgage__form-field-label {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: rgba(white, 0.6);

  .mortgage--calculator & {
    color: rgba(#020202, 0.5);
  }

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
  }
}

.mortgage__form-range {
  position: relative;
}

.mortgage__form-range-input-wrapper {
  position: absolute;
  left: 2.4rem;
  right: 2.4rem;
  bottom: 0;

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: transparent;
    outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      background: rgb(255, 192, 194);
      cursor: pointer;
      border-radius: 50%;
      margin-top: 1px;
    }
    &::-moz-range-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      background: rgb(255, 192, 194);
      cursor: pointer;
      border-radius: 50%;
      outline: none;
      border: none;
    }
  }
  .mortgage--calculator & {
    input[type="range"] {
      &::-webkit-slider-thumb {
        background-color: var(--primary-color);
      }
      &::-moz-range-thumb {
        background-color: var(--primary-color);
      }
    }
  }
}

.mortgage__results-scroll-wrapper {
  @include breakpointMF(small-tablet) {
    max-height: 70.7rem;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding-right: 1rem;
    scrollbar-gutter: stable;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #dddddd;
      border-radius: 10rem;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}

.mortgage__form-range-input-progress {
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #ffc0c2;
  transform-origin: left center;
  transform: scaleX(var(--progress, 0));
  left: 0;
  right: 0;
  pointer-events: none;
  .mortgage--calculator & {
    background-color: var(--primary-color);
  }
}

.mortgage__form-range-value {
  padding: 0 2.4rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  height: 6rem;

  .mortgage--calculator & {
    background-color: #fff;
    border-radius: 0.8rem;
    border-color: white;
  }
  @include breakpoint(mobile) {
    height: 5rem;
    border-radius: 0.8rem;
  }
}

.mortgage__form-range-value-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 120%;
  letter-spacing: -0.02em;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    letter-spacing: 0;
  }
}

.mortgage__form-range-value-percent {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: rgba(white, 0.6);
  margin-left: auto;

  .mortgage--calculator & {
    color: rgba(#020202, 0.5);
  }

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(white, 0.8);
    line-height: 120%;
    .mortgage--calculator & {
      color: rgba(#020202, 0.5);
    }
  }
}

.mortgage__slider {
  .swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    @include breakpointMF(small-tablet) {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;

    @include breakpoint(mobile) {
      width: 30rem;
      margin-right: 1.6rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.mortgage__card {
  display: grid;
  grid-template-columns: 1.1fr 1.8fr;
  padding: 3.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 1.6rem;

  .mortgage--calculator & {
    background-color: #fff;

    border: 1px solid transparent;
    transition: border-color 0.2s;

    @include breakpointMF(small-tablet) {
      grid-template-columns: 1fr 1.8fr;
      align-items: center;
      padding: 2.4rem 4rem;
    }
    @media (hover: hover) {
      &:hover {
        border-color: var(--primary-color);
      }
    }
  }

  @include breakpoint(mobile) {
    flex-grow: 1;
    padding: 2rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.mortgage__card-title-wrapper {
  display: flex;
  align-items: center;
  grid-column: 1 / 2;
  gap: 3.2rem;

  .mortgage--calculator & {
    @include breakpointMF(small-tablet) {
      gap: 2rem;
    }
  }

  @include breakpoint(mobile) {
    gap: 1.2rem;
  }
}

.mortgage__card-icon {
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 6rem;
  height: 6rem;
  position: relative;

  .mortgage--calculator & {
    border: none;
    overflow: hidden;

    @include breakpointMF(small-tablet) {
      width: 5.4rem;
      height: 5.4rem;
    }

    @include breakpoint(mobile) {
      width: 4.4rem;
      height: 4.4rem;
    }
  }

  @include breakpoint(mobile) {
    width: 5rem;
    height: 5rem;
  }
}

.mortgage__card-icon-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mortgage__card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
  }
}

.mortgage__card-features-list {
  grid-column: 2 / -1;
  display: flex;
  align-items: flex-start;
  gap: 6rem;

  @include breakpointMF(small-tablet) {
    .mortgage--calculator & {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: 2rem;
      align-items: center;
    }
  }

  @include breakpoint(mobile) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    grid-gap: 2.8rem;
  }
}

.mortgage__card-features-list-item {
  display: block;
}

.mortgage__card-features-card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  .mortgage--calculator & {
    @include breakpoint(mobile) {
      gap: 0.6rem;
    }
  }

  &--row {
    flex-direction: row;
    gap: 1.2rem;

    @include breakpoint(mobile) {
      flex-direction: column;
      gap: 0.4rem;
    }
  }
}

.mortgage__card-features-card-amount {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;

  .mortgage--calculator & {
    @include breakpointMF(small-tablet) {
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 120%;
    }
  }

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 100%;
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: -0.02em;
    @include breakpoint(mobile) {
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 100%;
      letter-spacing: 0;
    }
  }
}

.mortgage__card-features-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: rgba(white, 0.6);

  &:only-child {
    color: white;
  }

  .mortgage--calculator & {
    color: rgba(#020202, 0.6);
    @include breakpointMF(small-tablet) {
      display: none;
    }
  }
  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
  }
}

.mortgage__form-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  gap: 1rem;
  margin-bottom: 3.2rem;

  .mortgage--calculator & {
    @include breakpointMF(small-tablet) {
      margin-top: auto;
    }
  }

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 2.8rem;
  }
}

.mortgage__form-result-value-from {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -0.02em;
  line-height: 110%;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    letter-spacing: 0;
  }
}

.mortgage__form-submit {
  display: block;
  text-align: center;
  padding: 2.2rem 2.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--text-color);
  background-color: #fff;
  border-radius: 1.2rem;
  width: 100%;
  transition: color 0.2s, background-color 0.2s;
  &:link,
  &:visited {
    color: var(--text-color);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--white-hover);
      color: var(--primary-color);
    }
  }

  &:active {
    color: #0202024d;
    background-color: white;
  }

  .mortgage--calculator & {
    background-color: var(--primary-color);
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    padding: 2.6rem 3rem;

    @include breakpoint(mobile) {
      padding: 1.8rem 3.6rem;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 100%;
    }
    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color-hover);
        color: white;
      }
    }
  }

  @include breakpoint(mobile) {
    padding: 1.8rem 3.6rem;
    display: block;
    text-align: center;
    align-self: stretch;
    border-radius: 0.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
  }
}

.mortgage__form-select {
  position: relative;
}

.mortgage__form-select-btn {
  display: flex;
  align-items: center;
  height: 6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  padding: 0 2.4rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  gap: 1rem;

  .mortgage--calculator & {
    background-color: #fff;
    border-radius: 0.8rem;
    border-color: white;
  }

  @include breakpoint(mobile) {
    height: 5rem;
    border-radius: 0.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
  }
  svg {
    flex-shrink: 0;
    fill: currentColor;
    width: 1.4rem;
    height: 1.4rem;
    transition: transform 0.2s;
  }

  .mortgage__form-select.active & {
    svg {
      transform: rotate(180deg);
    }
  }
}

.mortgage__form-select-btn-text {
  min-width: 0;
  width: 30%;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mortgage__form-select-dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  z-index: 10;
  padding-top: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;

  .mortgage__form-select.active & {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }
}

.mortgage__form-select-dropdown-inner {
  background: #212173;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0.2rem 2rem rgba(0, 0, 0, 0.06);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;

  .mortgage--calculator & {
    background-color: #fff;
    color: var(--text-color);
    box-shadow: 0px 0.2rem 2rem rgba(0, 0, 0, 0.06);
    border: none;
  }

  @include breakpoint(mobile) {
    border-radius: 0.8rem;
  }
}

.mortgage__form-select-list-item {
  cursor: pointer;
  user-select: none;

  &:last-child {
    border: none;
  }
}

.mortgage__form-select-radio {
  display: flex;
  align-items: center;
  padding: 1.8rem 2.4rem;
  padding-right: 2rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  cursor: pointer;
  user-select: none;

  border-bottom: 1px solid #2c2c7a;

  .mortgage__form-select-list-item:last-child & {
    border: none;
  }
  .mortgage--calculator & {
    border-color: rgba(#020202, 0.1);
  }

  @media (hover: hover) {
    &:not(:has(input:checked)):hover {
      background-color: rgba(white, 0.05);
      border-color: rgba(white, 0.05);
    }
  }

  .mortgage--calculator & {
    @media (hover: hover) {
      &:not(:has(input:checked)):hover {
        background-color: var(--white-hover);
        border-color: var(--white-hover);
      }
    }
  }

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    padding: 1.6rem 2.4rem;
    padding-right: 1.9rem;
  }
}

.mortgage__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mortgage__form-select-radio-input {
  display: none;
}

.mortgage__form-select-radio-text {
  width: 30%;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mortgage__form-select-radio-mark {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  order: 20;

  &::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    transition: opacity 0.2s;
    opacity: 0;
  }

  .mortgage--calculator & {
    border-color: rgba(#cf000c, 0.2);
    &::before {
      background-color: var(--primary-color);
    }
  }
}

.mortgage__form-select-radio-input:checked ~ .mortgage__form-select-radio-mark {
  &::before {
    opacity: 1;
  }
}

.mortgage__results {
  position: relative;

  @include breakpoint(mobile) {
    order: 40;
    margin-top: 2.8rem;
  }
}

.mortgage__results-header {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 100%;
  padding-bottom: 2rem;

  grid-template-columns: 1fr 1.8fr;

  padding-left: 4rem;
  padding-right: 5rem;
  display: grid;

  @include breakpoint(mobile) {
    display: none;
  }
}

.mortgage__results-header-inner {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
}

.mortgage__results-header-item {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: rgba(#020202, 0.5);
}

.mortgage__results-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include breakpoint(mobile) {
    gap: 1.2rem;
  }
}

.mortgage__remark {
  margin-top: 2.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: rgba(#020202, 0.5);

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
    margin-top: 1.6rem;
  }
}

.mortgage__results-show-more {
  display: block;
  text-align: center;
  padding: 2.6rem 4rem;
  text-align: center;
  background: #e9e9e9;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  border-radius: 1.2rem;
  margin-top: 1.6rem;
  transition: background-color 0.2s, color 0.2s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--white-hover);
      color: var(--primary-color);
    }
  }

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    padding: 1.7rem 2rem;
    border-radius: 0.8rem;
    margin-top: 2rem;
  }
}
