.planning {
  @include blockWrapper;
  background-color: #fff;
  padding-bottom: 13rem;

  @include breakpoint(mobile) {
    padding-bottom: 7rem;
  }
}

.planning__content {
  @include blockContent;
}

.planning__top-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.planning__heading {
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  align-items: baseline;
  justify-content: center;

  @include breakpoint(mobile) {
    justify-content: flex-start;
    gap: 0.6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: -0.05em;
    margin-bottom: 2rem;
  }
  &::after {
    content: "";
    flex-shrink: 0;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: var(--primary-color);

    @include breakpoint(mobile) {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}

.planning__arrows {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.planning__arrow {
  flex-shrink: 0;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 1px solid rgba(2, 2, 2, 0.1);
  transition: border-color 0.2s, background-color 0.2s, opacity 0.2s;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--text-color);
    transition: fill 0.2s;
  }

  &.swiper-button-disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  &.swiper-button-lock {
    display: none;
  }

  @media (hover: hover) {
    &:not(.swiper-button-disabled):hover {
      background-color: var(--white-hover);
      border-color: var(--white-hover);
      svg {
        fill: var(--primary-color);
      }
    }
  }
}

.planning__slider {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: calc(33.33% - 2.4rem * 2 / 3);
    margin-right: 2.4rem;
    &:last-child {
      margin-right: 0;
    }

    @include breakpoint(mobile) {
      width: 30.4rem;
      margin-right: 1.6rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.planning__slider-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #f5f5f5;
  border-radius: 1.6rem;
  padding: 3rem;

  @include breakpoint(mobile) {
    padding: 2rem;
    border-radius: 1.6rem;
  }
}

.planning__slider-card-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1.6rem;

  @include breakpoint(mobile) {
    margin-bottom: 0.8rem;
  }
}

.planning__slider-card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #212173;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 125%;
    letter-spacing: -0.04em;
  }
}

.planning__slider-card-count {
  padding: 1.1rem 2.2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  background: #daefff;
  line-height: 120%;
  color: #101038;
  text-align: center;
  border-radius: 0.6rem;

  @include breakpoint(mobile) {
    padding: 0.8rem 1.2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.4rem;
    line-height: 120%;
  }
}

.planning__slider-card-image-container {
  position: relative;

  @include breakpoint(mobile) {
    margin-bottom: 0.8rem;
  }

  &::before {
    content: "";
    display: block;
    padding-bottom: 70.9%;

    @include breakpoint(mobile) {
      padding-bottom: 100%;
    }
  }
}

.planning__slider-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
  -webkit-user-drag: none;
  user-select: none;
}

.planning__slider-card-specs-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgba(2, 2, 2, 0.1);
  margin-bottom: 2.8rem;

  @include breakpoint(mobile) {
    gap: 1.2rem;
    padding-bottom: 1.6rem;
    margin-bottom: 2rem;
  }
}

.planning__slider-card-specs-card {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  justify-content: space-between;
}

.planning__slider-card-specs-card-key {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: rgba(#020202, 0.6);

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
  }
}

.planning__slider-card-specs-card-value {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 130%;
  color: #212173;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: -0.04em;
  }
}

.planning__slider-card-specs-link {
  margin-top: auto;
  display: block;
  text-align: center;
  padding: 2rem 4rem;
  border: 1px solid #101038;
  border-radius: 1.2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: #101038;
  transition: border-color 0.2s, color 0.2s, background-color 0.2s;
  &:link,
  &:visited {
    color: #101038;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #101038;
      color: white;
    }
  }

  @include breakpoint(mobile) {
    padding: 1.7rem 2.8rem;
    border-radius: 0.8rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
  }
}
