@import "media";
@import "utils";
@import "fontface";
@import "variables";
@import "ui-kit/ui-btn";
@import "ui-kit/ui-download-btn";
@import "ui-kit/ui-sharing-btn";
@import "ui-kit/plus-minus";
@import "ui-kit/fullscreen-btn";
@import "ui-kit/ui-fav-btn";
@import "ui-kit/ui-slider-arrow";
@import "ui-kit/ui-checkbox";
@import "ui-kit/ui-switch";
@import "ui-kit/ui-next-arrow";
@import "ui-kit/ui-add-btn";
@import "ui-kit/ui-sharing";
@import "ui-kit/ui-add-btn";
@import "ui-kit/ui-social";
@import "ui-kit/all-filters";
@import "ui-kit/ui-text-input";
@import "ui-kit/ui-switch-box";
@import "ui-kit/ui-switch-double";
@import "ui-kit/checkboxes-group";
@import "ui-kit/ui-categories";
@import "ui-kit/ui-tabs-nav";
@import "ui-kit/ui-select";

.ui-kit-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}
